---
page:
    body_class: 'container mt-1'
    view:       'Event Editor'
    max_dates:  5

bindings:

-   name: 'event'
    resource: '/api/events/{{ qs "id" }}'
    only_if: '{{ qs "id" }}'
---


<section class="content">
    <form
        method="POST"
        action="/api/events/"
        data-redirect-to="/events"
    >
        {{ if $.bindings.event }}
        <input
            type="hidden"
            name="_id"
            value="{{ $.bindings.event._id }}"
        />
        {{ end }}

        <div class="form-group col-sm-8">
            <label
                class="required"
                for="title"
            >
                Event Title
            </label>

            <input
                type="text"
                class="form-control"
                name="name"
                id="name"
                {{ if $.bindings.event }}
                value="{{ $.bindings.event.title }}"
                {{ end }}
            />
        </div>

        <div class="form-group col-sm-8">
            <label>
                Date(s) and Time(s)
            </label>


            <div id="eventDates">
                {{ if $.bindings.event }}
                {{ if isArray $.bindings.event.dates }}
                {{ range $i, $date := $.bindings.event.dates }}
                <div class="form-row" id="dates-{{ $i }}">
                    <input
                        class="form-control col-md-4"
                        id="dates-{{ $i }}-startDateTime"
                        type="x-datetime-local"
                        name="dates.{{ $i }}.startDateTime"
                        {{ if eqx $i 0 }}
                        required
                        {{ end }}
                        value="{{ time $date.startDateTime `ymd` }}"
                    >

                    <input
                        class="form-control col-md-2 ml-2"
                        id="dates-{{ $i }}-endDateTime"
                        type="time"
                        name="dates.{{ $i }}.endDateTime"
                        {{ if eqx $i 0 }}
                        required
                        {{ end }}
                        value="{{ time $date.endDateTime `ymd` }}"
                    >

                    <button class="btn btn-danger ml-2" onclick="$('#dates-{{ $i }}').remove()" type="button">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
                {{ end }}
                {{ end }}
                {{ end }}
            </div>

            <div class="form-row mt-2">
                <button class="btn btn-success" type="button" onclick="$(function(){
                    var isFirst = ($('#eventDates').length === 0);
                    var index = ($('#eventDates').children().length).toString();

                    var dtp = $('<div></div>')
                        .attr('class', 'form-row mt-2')
                        .attr('id', 'dates-' + index)

                    var dStart = $('<input></input>')
                        .attr('class', 'form-control col-md-4')
                        .attr('type', 'x-datetime-local')
                        .attr('id', 'dates-' + index + '-startDateTime')
                        .attr('name', 'dates.' + index + '.startDateTime')

                    var dEnd = $('<input></input>')
                        .attr('class', 'form-control col-md-2 ml-2')
                        .attr('type', 'time')
                        .attr('id', 'dates-' + index + '-endDateTime')
                        .attr('name', 'dates.' + index + '.endDateTime')

                    var dRemove = $('<button></button>')
                        .attr('class', 'btn btn-danger ml-2')
                        .attr('type', 'button')
                        .attr('onclick', '$(\'#dates-' + index + '\').remove()')
                        .append(
                            $('<i></i>').attr('class', 'fa fa-remove')
                        )

                    if (isFirst) {
                        dStart.attr('required', 'required');
                        dEnd.attr('required', 'required');
                    }

                    dtp.append(dStart);
                    dtp.append(dEnd);
                    dtp.append(dRemove);
                    $('#eventDates').append(dtp);
                    bop.setupDateTimePickers();
                })">
                    <i class="fa fa-plus"></i>
                    Add Date
                </button>
            </div>
        </div>

        <div class="form-group col-sm-8">
            <label class="required" for="link">
                Link
            </label>
            <input
                type="text"
                class="form-control"
                name="link"
                id="link"
                {{ if $.bindings.event }}
                value="{{ $.bindings.event.link }}"
                {{ end }}
            />
        </div>

        <div class="form-group col-sm-8">
            <label for="description">Description (optional)</label>
            <textarea
                class="form-control"
                id="description"
                name="description"
                rows="5"
            >{{ if $.bindings.event }}{{ $.bindings.event.description }}{{ end }}</textarea>
        </div>

        <section class="content">
            <div class="form-group mt-2">
                    <button
                        type="submit"
                        class="btn btn-success ml-2"
                    >Publish Event</button>
                </div>
            </div>
        </section>
    </form>
</section>

