---
page:
    view: Events

bindings:
- name:     'upcomingEvents'
  resource: ':/api/events'
  params:
    limit:   '{{ or (qs `limit`) 15 }}'
    #q:       'dates.startDateTime/gte:{{ now `ymd` }}'
    sort:    'dates.startDateTime'
---
<section class="content">
    <section class="container">
        <h1 class="mb-4">Upcoming Events</h1>

        <ul class="list-group">
        {{ range .bindings.upcomingEvents }}
        <li class="list-group-item">
            <div class="row">
                <div class="col-6">
                    <h2>{{ .title }}</h2>
                    {{ range .dates }}
                    <div class="text-muted">
                        {{ time (asTime .startDateTime) `January 2 2006` }},
                        {{ time (asTime .startDateTime) `3pm` }} &ndash; {{ time (asTime .endDateTime) `3pm` }}
                    </div>
                    {{ end }}
                </div>
                <div class="col-6 text-right">
                    {{ if .location }}
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <a
                            target="_blank"
                            href="https://www.google.com/maps/place/{{ .location.addressString }}"
                        >
                            {{ .location.addressString }}
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>

            <p class="mt-3">{{ .description }}</p>
        </li>
        {{ end }}
        </ul>
    </section>
</section>


