---
page:
    view: Events

bindings:
-   name:     'futureEvents'
    resource: '/api/events'
    params:
        limit: false
        sort: dates.startDateTime
        q:    "dates.startDateTime/gte:{{ now }}"

-   name:     'pastEvents'
    resource: '/api/events'
    params:
        limit: false
        sort: -dates.startDateTime
        q:    "dates.startDateTime/lt:{{ now }}"
---

{{ $futureEvents := $.bindings.futureEvents }}
{{ $pastEvents := $.bindings.pastEvents }}

<section class="content">       
    <section class="container">
        <div class="text-right pt-2">
            {{ if $.flags.admin }}
            <a
                href="/events/editor"
                class="btn btn-primary mb-2"
            >
                <i class="fa fa-plus"></i>
                Add Event
            </a>
            {{ end }}
        </div>

        <h2 class="text-center">Upcoming Events</h2>
        <div class="unit-lessons">
            <div class="row">
                {{ range $i, $event := $futureEvents }}
                <div class="col-sm-4 p-2">
                    <div class="card h-100" onclick="window.location='{{ $event.link }}'">
                        <div class="card-header">
                            <a href="{{ $event.link }}">
                                <h3 class="card-title">{{ $event.title }}</h3>
                            </a>
                        </div>
                            
                        <div class="card-body">
                            <strong>
                            {{ range $date := $event.dates }}
                            {{ time $date.startDateTime `January 2 2006` }},
                            {{ time $date.startDateTime `3pm` }} &ndash; {{ time $date.endDateTime `3pm` }}
                            </strong>
                            <br>
                            {{ end }}
                            <br/>
                            <p>
                                {{ sanitize $event.description }}
                            </p>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>

        <h2 class="text-center">Past Events</h2>
        <div class="unit-lessons">
            <div class="row">
                {{ range $i, $event := $pastEvents }}
                <div class="col-sm-4 p-2">
                    <div class="card h-100" onclick="window.location='{{ $event.link }}'">
                        <div class="card-header">
                            <a href="{{ $event.link }}">
                                <h3 class="card-title">{{ $event.title }}</h3>
                            </a>
                        </div>
                            
                        <div class="card-body">
                            <strong>
                            {{ range $date := $event.dates }}
                            {{ time $date.startDateTime `January 2 2006` }},
                            {{ time $date.startDateTime `3pm` }} &ndash; {{ time $date.endDateTime `3pm` }}
                            </strong>
                            <br/>
                            {{ end }}
                            <br/>
                            <p>
                                {{ sanitize $event.description }}
                            </p>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>   
</section>




