---
page:
    view: Events

bindings:
- name:     'events'
  resource: '/api/events'
  params:
    limit: false
    sort: -created
---

{{ $events := $.bindings.events }}

<section class="content">       
    <section class="container">
        <div class="unit-lessons mb-4">
            <div class="card-deck">   
                {{ range $i, $event := $.bindings.events }}
                <div class="card">
                    <div class="card-header">
                        <h2>{{ .title }}</h2>
                    </div>
                        
                    <div class="card-body">
                        {{ range .dates }}
                        {{ time (asTime .startDateTime) `January 2 2006` }},
                        {{ time (asTime .startDateTime) `3pm` }} &ndash; {{ time (asTime .endDateTime) `3pm` }}
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>   
</section>




