<section class="content content-jumbotron" style="background-image: url(assets/img/backgrounds/field-bg.jpg);">
    <section class="container container-ribbon text-center">
        <div class="ribbon-text">
            <span class="text-script">help us collect</span>
            <h1 class="text-caps">oyster monitoring data</h1>
        </div>
        <div class="panel panel-default transparent">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <br/>
                    <p class="lead">
                        Join the educators, students, and community scientists monitoring Oyster Research Stations (ORS) and Community Reefs and collecting data from across New York Harbor. 
                    </p>
                </div>
            </div>
            <a class="btn btn-danger" href="/data">View Data</a>
            <br/>
            <br/>
        </div>
    </section>
</section>
