<section class="content content-jumbotron" style="background-image: url(assets/img/backgrounds/water-bg.png);">
    <section class="container container-ribbon text-center white">
        <div class="ribbon-text">
            <span class="text-script">still have</span>
            <h1 class="text-caps">questions?</h1>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <p class="lead">
                    Take a look at the user guide to better understand the BOP Digital Platform and how you
                    can use it to make an impact.
                </p>
                <a
                    class="btn btn-danger"
                    href="https://github.com/BillionOysterProject/digital-platform-beta/wiki/User-Guide"
                    target="_blank"
                >Read the User Guide</a>

                <br>
                <br>
                <br>

                <hr>

                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <p>
                    <img alt="Billion Oyster Project" src="assets/img/brand/logo-w-sm.png">&nbsp;&nbsp;
                    <img alt="CCERS" src="assets/img/brand/ccers_whiteout.png">
                    <img alt="NSF" src="assets/img/brand/NSF_LOGO.png">
                </p>
                <br>
                <p class="lead">About Billion Oyster Project (BOP)</p>
                <p>
                    Billion Oyster Project's mission is to restore oyster reefs to New York Harbor through public education initiatives.
                    Our vision is a future in which New York Harbor is the center of a rich, diverse, and abundant estuary. 
                    The communities that surround this complex ecosystem have helped construct it, and in return benefit from it, with endless opportunities for work, education, and recreation. 
                    The harbor is a world-class public space, well used and well cared for—our Commons..
                </p>
                 <p>
                    This material is based upon work supported by the National Science Foundation under grants  NSF EHR DRL 
                    1440869/1759006/1839656/PI Lauren Birney. Any opinions, findings, and conclusions or recommendations expressed
                    in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.
                </p>
                <a class="btn btn-danger" href="https://bop.nyc" target="blank">
                    Learn about BOP
                </a>
            </div>
        </div>
    </section>
</section>
</section>
