<section class="content content-jumbotron" style="background-image: url(assets/img/backgrounds/water-bg.png);">
    <section class="container container-ribbon text-center white">
        <div class="ribbon-text">
            <span class="text-script">still have</span>
            <h1 class="text-caps">questions?</h1>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <p class="lead">
                    Take a look at the user guide to better understand the BOP platform and how you
                    can use it to make an impact.
                </p>
                <a
                    class="btn btn-danger"
                    href="https://docs.google.com/document/d/1QSf1aGG_Vfhhft9gtD0onftOAHPrjqqdzPe622DBtkU/pub"
                    target="_blank"
                >Read the User Guide <i class="fa fa-angle-right"></i></a>

                <br>
                <br>
                <br>

                <hr>

                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <p>
                    <img alt="Billion Oyster Project" src="assets/img/brand/logo-w-sm.png">&nbsp;&nbsp;
                    <img alt="CCERS" src="assets/img/brand/ccers_whiteout.png">
                </p>
                <br>
                <p class="lead">About the Billion Oyster Project</p>
                <p>
                    BOP, an initiative of the New York Harbor Foundation, is an ecosystem
                    restoration and education project aimed at restoring one billion live oysters to
                    New York Harbor and engaging hundreds of thousands of school children through
                    restoration based STEM education programs.
                </p>
                <a class="btn btn-danger" href="/about">
                    Learn more
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </section>
</section>
</section>
