<section class="content content-jumbotron" style="background-image: url(assets/img/backgrounds/water-bg2.png);">
    <section class="container container-ribbon text-center">
        <div class="ribbon-text">
            <span class="text-script">we need your help to</span>
            <h1 class="text-caps">restore our harbor</h1>
        </div>
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <p class="lead">
                    Learn and practice restoration ecology in New York Harbor through the Billion Oyster Project Digital Platform!
                </p>
                <h6 class="blue">How it works</h6>
                <p>
                    We train educators and community scientists the basics of oyster monitoring.
                    Then, we help participants install a small oyster cage, or Oyster Research Station (ORS), at a permitted site in New York Harbor.
                    Participants monitor the oysters twice a year, and enter the data they collect on the BOP Digital Platform. 
                </p>
                <p>
                    Students are at the center of our work- 
                    the core of our program is to engage educators and students in collecting oyster monitoring data as a part of the regular school day. 
                    We want these outdoor field experiences to spark students' curiosity and drive their interest in asking and answering their own original research questions about New York Harbor.
                </p>

                <!--
                <ul>
                    <li>Map our oyster restoration sites so participants can find BOP in their communities</li>
                    <li>Train educators and students on how to collect and analyze data by presenting curriculum (80+ STEM lessons!) and educational resources</li>
                    <li>Submit data through user-friendly, accessible forms</li>
                    <li>View data, both in a more narrative form as a "field report," and in aggregate in tables and .csv and .tsv downloads</li>
                    <li>Visualize data in different graphs</li>
                    <li>Open our data via an API</li>
                </ul>
                -->
                <a class="btn btn-lg btn-danger" href="https://billionoysterproject.org/about/schools/" target="blank">
                    Learn more about the BOP Education program
                </a>
                <br>
                <br>
            </div>
        </div>
    </section>
</section>
