--index-url https://pypi.python.org/simple/
dpath
Flask
flask-cors
flask-classy
gevent
ipython
pycolorize
pytest
python-dateutil
pytz
requests
six
git+https://github.com/ghetzel/pivot.git#subdirectory=lib/python
unicodecsv
