--index-url https://pypi.python.org/simple/
Flask
Flask-Session
boto3
cryptography
dpath
flask-classy
flask-cors
flask-login
geojson>=2.3.0
gevent
git+https://github.com/ghetzel/pivot.git#subdirectory=lib/python
ipython
pbkdf2
pycolorize
pytest
python-dateutil
pytz
requests
rq
six
sortedcontainers
unicodecsv
raven
raven[flask]
blinker