--index-url https://pypi.python.org/simple/
Flask>=1.0.2
Flask-Session
blinker
boto3
cryptography
dpath
flask-classy
flask-cors
flask-login
geojson>=2.3.0
gevent<1.3.0
git+https://github.com/ghetzel/pivot.git@v3.0.4#subdirectory=lib/python
import_string==0.1.0
ipython
pbkdf2
pycolorize
pytest
python-dateutil
pytz
raven
raven[flask]
requests
rq
six
sortedcontainers
unicodecsv