[Unit]
Description=BOP Digital Platform: Python Middleware

[Service]
Type=simple
ExecStart=/home/ubuntu/platform/backend/env/bin/python server.py
Environment="HOME=/home/ubuntu"
User=ubuntu
WorkingDirectory=/home/ubuntu/platform/backend
Restart=always
