[Unit]
Description=BOP Digital Platform: Pivot Database API

[Service]
Type=simple
ExecStart=/home/ubuntu/bin/pivot -s schema.json web
Environment="PIVOT_ENV=production"
Environment="HOME=/home/ubuntu"
User=ubuntu
WorkingDirectory=/home/ubuntu/platform/database
Restart=always

