---
bindings:
- name:     'lesson'
  resource: ':/api/lessons/{{ param 1 }}'
  params:
    full: true

- name:     'lessonStats'
  resource: ':/api/lessons/{{ param 1 }}/tracker-stats'
---
{{ $lesson := .binding.lesson }}
{{ $lessonStats := .binding.lessonStats }}

<section class="content container">
    <div class="row text-muted">
        <div class="col-sm-12">
            <img
                class="pull-right"
                alt="Billion Oyster Project"
                src="modules/core/client/img/brand/logo.svg"
                style="width: 100px; height: 128px"
            />

            <h2 class="blue">
                <b>{{ $lesson.title }}</b>
            </h2>

            {{ if $lesson.user }}
            <h5 id="lesson-author-info" ng-if="lesson.user">
                <img
                    src="{{ $lesson.user.profileImageURL }}"
                    alt="{{ $lesson.user.displayName }}"
                    class="img-circle pull-left col-sm-1 col-xs-3"
                    ng-if="!fullPage"
                >
                <b>
                    <a ng-click="openViewUserModal()">{{ $lesson.user.displayName }}</a>
                </b>
                <br />
                <a href="mailto:{{ $lesson.user.email }}">{{ $lesson.user.email }}</a>
                <br/>
                <span ng-bind="  | date:'mediumDate'">{{ $lesson.created }}</span>
            </h5>
            {{ else }}
            <h5>Deleted User<br/>
                <span ng-bind="  | date:'mediumDate'">{{ $lesson.created }}</span>
            </h5>
            {{ end }}
        </div>
    </div>

    {{ if any $lesson.unit $lesson.lessonOverview.grade $lesson.lessonOverview.classPeriods $lesson.lessonOverview.setting (count $lesson.lessonOverview.subjectAreas) }}
    <hr />

    <div class="row">
        {{ if $lesson.units }}
        <div class="col-sm-3">
            <b>Unit{{ if gt (count $lesson.units) 1 }}s{{ end }}</b>

            {{ range $lesson.units }}
            <h4 style="color: {{ .color }}">
                <span ng-if="fullPage" style="color: {{ .color }}">
                    <i class="{{ .icon }}"></i>
                    <b>{{ .title }}</b>
                </span>
            </h4>
            {{ end }}
        </div>
        {{ end }}

        {{ if $lesson.lessonOverview.grade }}
        <div class="col-sm-2">
            <b>Grade</b>
            <p>{{ $lesson.lessonOverview.grade }}</p>
        </div>
        {{ end }}

        {{ if $lesson.lessonOverview.classPeriods }}
        <div class="col-sm-2">
            <b>Class Periods</b>
            <p>{{ $lesson.lessonOverview.classPeriods }}</p>
        </div>
        {{ end }}

        {{ if $lesson.lessonOverview.setting }}
        <div class="col-sm-2">
            <b>Setting</b>
            <p>{{ $lesson.lessonOverview.setting }}</p>
        </div>
        {{ end }}

        {{ if $lesson.lessonOverview.grade }}
        <div class="col-sm-2">
            <b>Grade</b>
            <p>{{ $lesson.lessonOverview.grade }}</p>
        </div>
        {{ end }}

        {{ if $lesson.lessonOverview.subjectAreas }}
        <div class="col-sm-3">
            <b>Subject Areas</b>
            <ul class="list-inline">
                {{ range $lesson.lessonOverview.subjectAreas }}
                <li>
                    <span style="background-color: {{ .color }}" class="badge badge-default">
                        {{ .subject }}
                    </span>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
    {{ end }}

    <hr />

    {{ if $lessonStats.taughtCount }}
    <div class="well" ng-if="lessonStats.taughtCount > 0">
        <h4>
            This lesson has been taught
            <b class="blue">{{ $lessonStats.taughtCount }}</b>
            times by
            <b class="blue">{{ $lessonStats.teamLeadCount }}</b>
            teachers to a total of
            <b class="blue">{{ $lessonStats.studentCount }}</b> students in
            <b class="blue">{{ $lessonStats.classesOrSectionsCount }}</b> classes over
            <b class="blue">{{ $lessonStats.periodsOrSessionsCount }}</b> sessions
        </h4>

        <div class="row">
            <div class="col-sm-6">
                <small>Subject Areas of classes</small>
                <ul class="list-inline">
                    {{ range $lessonStats.subjects }}
                    <li>
                        <span style="background-color: {{ .color }}" class="badge badge-default">
                            {{ .subject }}
                        </span>
                    </li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-sm-6">
                <small>Grades of students</small>
                <ul class="list-inline">
                    {{ range $lessonStats.grades }}
                    <li>
                        <span class="badge badge-success">{{ . }}</span>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    {{ end }}

    <div class="row">
        <div class="col-sm-3" ng-if="showSidebar">
            <div ng-if="lesson.materialsResources.supplies">
                <b>Supplies</b><br/>
                {{ if $lesson.materialsResources.supplies }}
                <span>
                    {{ sanitize $lesson.materialsResources.supplies }}
                </span>
                {{ end }}
            </div>

            <br />

            {{ if or $lesson.materialsResources.handoutsFileInput $lesson.materialsResources.handoutLinks }}
            <ul class="list-unstyled" id="lesson-handouts">
                <b>Handouts</b>
                {{ range $lesson.materialsResources.handoutsFileInput }}
                <li>
                    <a
                        class="break"
                        download="{{ .originalname }}"
                        target="_blank"
                        href="/api/lessons/download-file?mimetype={{ .mimetype }}&path={{ .path }}"
                    >
                        <i class="fa fa-file"></i>
                        {{ .originalname }}
                    </a>
                </li>
                {{ end }}

                {{ range $lesson.materialsResources.handoutLinks }}
                <li>
                    <a class="break" href="{{ .link }}" target="_blank">
                        <i class="fa fa-link"></i>
                        {{ .name }}
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}

            <br />

            {{ if or $lesson.materialsResources.lessonMaterialFiles $lesson.materialsResources.lessonMaterialLinks }}
            <ul class="list-unstyled">
                <b>Materials</b>

                {{ range $lesson.materialsResources.lessonMaterialFiles }}
                <li>
                    <a
                        class="break"
                        download="{{ .originalname }}"
                        target="_blank"
                        href="/api/lessons/download-file?mimetype={{ .mimetype }}&path={{ .path }}"
                    >
                        <i class="fa fa-file"></i>
                        {{ .originalname }}
                    </a>
                </li>
                {{ end }}

                {{ range $lesson.materialsResources.lessonMaterialLinks }}
                <li>
                    <a class="break" href="{{ .link }}" target="_blank">
                        <i class="fa fa-link"></i>
                        {{ .name }}
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}

            <br />

            {{ if or $lesson.materialsResources.teacherResourcesFiles $lesson.materialsResources.teacherResourcesLinks }}
            <ul class="list-unstyled" id="lesson-resources">
                <b>Teacher Resources</b>

                {{ range $lesson.materialsResources.teacherResourcesFiles }}
                <li>
                    <a
                        class="break"
                        download="{{ .originalname }}"
                        target="_blank"
                        href="/api/lessons/download-file?mimetype={{ .mimetype }}&path={{ .path }}"
                    >
                        <i class="fa fa-file"></i>
                        {{ .originalname }}
                    </a>
                </li>
                {{ end }}

                {{ range $lesson.materialsResources.teacherResourcesLinks }}
                <li>
                    <a class="break" href="{{ .link }}" target="_blank">
                        <i class="fa fa-link"></i>
                        {{ .name }}
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}

            <br />

            {{ if or $lesson.materialsResources.stateTestQuestions $lesson.materialsResources.stateTestQuestionLinks }}
            <ul class="list-unstyled" id="lesson-resources">
                <b>State Test Questions</b>

                {{ range $lesson.materialsResources.stateTestQuestions }}
                <li>
                    <a
                        class="break"
                        download="{{ .originalname }}"
                        target="_blank"
                        href="/api/lessons/download-file?mimetype={{ .mimetype }}&path={{ .path }}"
                    >
                        <i class="fa fa-file"></i>
                        {{ .originalname }}
                    </a>
                </li>
                {{ end }}

                {{ range $lesson.materialsResources.stateTestQuestionLinks }}
                <li>
                    <a class="break" href="{{ .link }}" target="_blank">
                        <i class="fa fa-link"></i>
                        {{ .name }}
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}

            <br />

            {{ if $lesson.materialsResources.vocabulary }}
            <ul class="list-unstyled" id="lesson-vocabulary">
                <b>Vocabulary</b>

                {{ range $lesson.materialsResources.vocabulary }}
                <li>
                    <span>{{ .term }}</span>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
        <div ng-class="{ 'col-sm-9': showSidebar, 'col-sm-12': !showSidebar }">
            <h4 class="blue" ng-if="lesson.lessonOverview.lessonSummary">Summary</h4>
            <div ng-bind-html="lesson.lessonOverview.lessonSummary | sanitize"></div><br/>
            <h4 class="blue" ng-if="lesson.lessonObjectives">Objectives</h4>
            <div ng-bind-html="lesson.lessonObjectives | sanitize"></div>
            <hr ng-if="lesson.materialsResources.teacherTips || lesson.preparation || lesson.background" />
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="text-muted" ng-if="lesson.materialsResources.teacherTips || lesson.preparation || lesson.background">Before you get started</h3>
                    <div ng-if="lesson.materialsResources.teacherTips">
                        <h4 class="blue">Tips for Teachers</h4>
                        <div ng-bind-html="lesson.materialsResources.teacherTips | sanitize"></div><br/>
                    </div>
                    <div ng-if="lesson.preparation">
                        <h4 class="blue">Preparation</h4>
                        <div ng-bind-html="lesson.preparation | sanitize"></div><br/>
                    </div>
                    <div ng-if="lesson.background">
                        <h4 class="blue">Background</h4>
                        <div ng-bind-html="lesson.background | sanitize"></div><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr ng-if="lesson.instructionPlan.engage || lesson.instructionPlan.explore ||
            lesson.instructionPlan.explain || lesson.instructionPlan.elaborate ||
            lesson.instructionPlan.evaluate || lesson.instructionPlan.extend" />
            <div class="row">
                <div class="col-sm-12"
                    id="lesson-instruction-plan"
                    ng-if="lesson.instructionPlan.engage || lesson.instructionPlan.explore ||
                    lesson.instructionPlan.explain || lesson.instructionPlan.elaborate ||
                    lesson.instructionPlan.evaluate || lesson.instructionPlan.extend">
                    <h3 class="text-muted">Instruction Plan</h3>
                    <div>
                        <div ng-if="lesson.instructionPlan.engage">
                            <h4 class="blue">Engage</h4>
                            <div ng-bind-html="lesson.instructionPlan.engage | sanitize"></div><br/>
                        </div>
                        <div ng-if="lesson.instructionPlan.explore">
                            <h4 class="blue">Explore</h4>
                            <div ng-bind-html="lesson.instructionPlan.explore | sanitize"></div><br/>
                        </div>
                        <div ng-if="lesson.instructionPlan.explain">
                            <h4 class="blue">Explain</h4>
                            <div ng-bind-html="lesson.instructionPlan.explain | sanitize"></div><br/>
                        </div>
                        <div ng-if="lesson.instructionPlan.elaborate">
                            <h4 class="blue">Elaborate</h4>
                            <div ng-bind-html="lesson.instructionPlan.elaborate | sanitize"></div><br/>
                        </div>
                        <div ng-if="lesson.instructionPlan.evaluate">
                            <h4 class="blue">Evaluate</h4>
                            <div ng-bind-html="lesson.instructionPlan.evaluate | sanitize"></div><br/>
                        </div>
                        <div ng-if="lesson.instructionPlan.extend">
                            <h4 class="blue">Extend</h4>
                            <div ng-bind-html="lesson.instructionPlan.extend | sanitize"></div><br/>
                        </div>
                    </div>
                </div>
            </div>

            {{ if $lesson.standards }}
            <hr />

            <div class="row">
                <div class="col-sm-12" id="lesson-standards">
                    <h3 class="blue">Standards {{ len $lesson.standards }}</h3>
                </div>

                {{ range $key, $standards := $lesson.standards }}
                <div class="standardClass">
                    <b>{{ get .page.labels $key }}</b>
                    <ul>
                        {{ range $standards }}
                        <li>
                            <span>{{ .header }} - {{ .description }}</span>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</section>
