{{ with $unit := .bindings.unit }}
<section class="content">
    <section class="container">
        <div id="unit-standards"
        ng-show="(vm.unit.standards.nycsssUnits && vm.unit.standards.nycsssUnits.length > 0) ||
              (vm.unit.standards.nysssKeyIdeas && vm.unit.standards.nysssKeyIdeas.length > 0) ||
              (vm.unit.standards.nysssMajorUnderstandings && vm.unit.standards.nysssMajorUnderstandings.length > 0) ||
              (vm.unit.standards.nysssMst && vm.unit.standards.nysssMst.length > 0) ||
              (vm.unit.standards.ngssDisciplinaryCoreIdeas && vm.unit.standards.ngssDisciplinaryCoreIdeas.length > 0) ||
              (vm.unit.standards.ngssScienceEngineeringPractices && vm.unit.standards.ngssScienceEngineeringPractices.length > 0) ||
              (vm.unit.standards.ngssCrossCuttingConcepts && vm.unit.standards.ngssCrossCuttingConcepts.length > 0) ||
              (vm.unit.standards.cclsMathematics && vm.unit.standards.cclsMathematics.length > 0) ||
              (vm.unit.standards.cclsElaScienceTechnicalSubjects && vm.unit.standards.cclsElaScienceTechnicalSubjects.length > 0)">
            <h3>Standards</h3>
        </div>
        <div ng-show="vm.unit.standards.nycsssUnits && vm.unit.standards.nycsssUnits.length > 0">
            <b>NYC Science Scope &amp; Sequence - Units</b>
            <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
            <!-- <span><a href="https://www.engageny.org/sites/default/files/resource/attachments/8m4.2.pdf" target="_blank">{{vm.unit.standards.nycScienceScopeSequence}}</a></span> -->
            <ul>
              <li ng-repeat="standard in vm.unit.standards.nycsssUnits">
                <span>{{standard.header}}
                  -
                  {{standard.description}}</span>
              </li>
            </ul>
        </div>
        <div class="{{vm.standardClass}}" ng-show="vm.unit.standards.nysssKeyIdeas && vm.unit.standards.nysssKeyIdeas.length > 0">
            <b>NYS Science Standards - Key Ideas</b>
            <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
            <!-- <span><a href="http://www.nextgenscience.org/next-generation-science-standards" target="_blank">{{vm.unit.standards.ngssStandards}}</a></span> -->
            <ul>
              <li ng-repeat="standard in vm.unit.standards.nysssKeyIdeas">
                <span>{{standard.header}}
                  -
                  {{standard.description}}</span>
              </li>
            </ul>
        </div>
        <div class="{{vm.standardClass}}" ng-show="vm.unit.standards.nysssMajorUnderstandings && vm.unit.standards.nysssMajorUnderstandings.length > 0">
            <b>NYS Science Standards - Major Understandings</b>
            <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
            <!-- <span><a href="http://www.corestandards.org/ELA-Literacy/" target="_blank">{{vm.unit.standards.commonCoreEla}}</a></span> -->
            <ul>
              <li ng-repeat="standard in vm.unit.standards.nysssMajorUnderstandings">
                <span>{{standard.code}}
                  -
                  {{standard.description}}</span>
              </li>
            </ul>
        </div>
        <div class="{{vm.standardClass}}" ng-show="vm.unit.standards.nysssMst && vm.unit.standards.nysssMst.length > 0">
            <b>NYS Science Standards - MST</b>
            <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
            <!-- <span><a href="http://www.corestandards.org/ELA-Literacy/" target="_blank">{{vm.unit.standards.commonCoreMath}}</a></span> -->
            <ul>
              <li ng-repeat="standard in vm.unit.standards.nysssMst">
                <span>{{standard.code}}
                  -
                  {{standard.description}}</span>
              </li>
            </ul>
        </div>
        <div class="{{vm.standardClass}}" ng-show="vm.unit.standards.ngssDisciplinaryCoreIdeas && vm.unit.standards.ngssDisciplinaryCoreIdeas.length > 0">
            <b>NGSS - Disciplinary Core Ideas</b>
            <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
            <!-- <span><a href="http://www.corestandards.org/ELA-Literacy/" target="_blank">{{vm.unit.standards.commonCoreMath}}</a></span> -->
            <ul>
              <li ng-repeat="standard in vm.unit.standards.ngssDisciplinaryCoreIdeas">
                <span>{{standard.header}}
                  -
                  {{standard.description}}</span>
              </li>
            </ul>
        </div>
        <div class="{{vm.standardClass}}" ng-show="vm.unit.standards.ngssScienceEngineeringPractices && vm.unit.standards.ngssScienceEngineeringPractices.length > 0">
            <b>NGSS - Science and Engineering Practices</b>
            <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
            <!-- <span><a href="http://www.corestandards.org/ELA-Literacy/" target="_blank">{{vm.unit.standards.commonCoreMath}}</a></span> -->
            <ul>
              <li ng-repeat="standard in vm.unit.standards.ngssScienceEngineeringPractices">
                <span>{{standard.header}}
                  -
                  {{standard.description}}</span>
              </li>
            </ul>
        </div>
        <div class="{{vm.standardClass}}" ng-show="vm.unit.standards.ngssCrossCuttingConcepts && vm.unit.standards.ngssCrossCuttingConcepts.length > 0">
            <b>NGSS - Cross-Cutting Concepts</b>
            <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
            <!-- <span><a href="http://www.corestandards.org/ELA-Literacy/" target="_blank">{{vm.unit.standards.commonCoreMath}}</a></span> -->
            <ul>
              <li ng-repeat="standard in vm.unit.standards.ngssCrossCuttingConcepts">
                <span>{{standard.header}}
                  -
                  {{standard.description}}</span>
              </li>
            </ul>
        </div>
        <div class="{{vm.standardClass}}" ng-show="vm.unit.standards.cclsMathematics && vm.unit.standards.cclsMathematics.length > 0">
            <b>CCLS - Mathematics</b>
            <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
            <!-- <span><a href="http://www.corestandards.org/ELA-Literacy/" target="_blank">{{vm.unit.standards.commonCoreMath}}</a></span> -->
            <ul>
              <li ng-repeat="standard in vm.unit.standards.cclsMathematics">
                <span>{{standard.code}}
                  -
                  {{standard.description}}</span>
              </li>
            </ul>
        </div>
        <div class="{{vm.standardClass}}" ng-show="vm.unit.standards.cclsElaScienceTechnicalSubjects && vm.unit.standards.cclsElaScienceTechnicalSubjects.length > 0">
            <b>CCLS - ELA Science &amp; Technical Subjects</b>
            <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
            <!-- <span><a href="http://www.corestandards.org/ELA-Literacy/" target="_blank">{{vm.unit.standards.commonCoreMath}}</a></span> -->
            <ul>
              <li ng-repeat="standard in vm.unit.standards.cclsElaScienceTechnicalSubjects">
                <span>{{standard.code}}
                  -
                  {{standard.description}}</span>
              </li>
            </ul>
        </div>
    </section>
</section>
{{ end }}
