---
page:
    name:        'Billion Oyster Project'
    title:       'Billion Oyster Project'
    description: 'Curriculum Management and Data Collection/Publishing tool for the Billion Oyster Project'
    url:         'http://platform.bop.nyc'

includes:
    head:        /_includes/head.html
    navbar:      /_includes/navbar.html
    user-navbar: /_includes/user-navbar.html

bindings:
- name:     'user'
  resource: ':/api/users/me'
  optional: true
  fallback: {}

flags:
    admin:             '{{ has `admin` .bindings.user.roles }}'
    teamLead:          '{{ has `team lead` .bindings.user.roles }}'
    teamLeadPending:   '{{ has `team lead pending` .bindings.user.roles }}'
    teamMember:        '{{ has `team member` .bindings.user.roles }}'
    teamMemberPending: '{{ has `team member pending` .bindings.user.roles }}'
    partner:           '{{ has `partner` .bindings.user.roles }}'
    loggedIn:          '{{ if .bindings.user }}true{{ end }}'
---
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" . }}
</head>

<body>
    <header>
        {{ template "navbar" . }}
    </header>

    <section id="main">
        {{ template "user-navbar" . }}
        {{ if and .page.view (not .page.notitle) }}
        <section class="content shaded text-center">
            <h2>{{ .page.view }}</h2>
        </section>
        {{ end }}
        <section class="content-body {{ .page.body_class }}">
        {{ template "content" . }}
        </section>
    </section>
</body>

</html>
