<nav class="navbar navbar-toggleable-sm navbar-inverse site-navbar" aria-label="Main Navigation">
    <div class="navbar-brand">
        <a href="/">
            <img alt="Billion Oyster Project" src="assets/img/brand/logo.svg">
        </a>
    </div>

    <ul class="navbar-nav">
        <li class="nav-item dropdown" data-menu-triggers="data expeditions">
            <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                <i class="fa fa-fw fa-table"></i>
                <span class="text">
                    Data
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/data/register">
                        Register Oysters
                    </a>
                </li>
                <li>
                    <a href="/expeditions/submit">
                        Enter Data
                    </a>
                </li>
                <li>
                    <a href="/data">
                        View Data
                    </a>
                </li>
                <li>
                    <a href="/data/field-reports">
                        Field Reports
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item dropdown" data-menu-triggers="sites">
            <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                <i class="fa fa-fw fa-map-marker"></i>
                <span class="text">
                    Sites
                </span>
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="/sites?v=map">
                        Map
                    </a>
                </li>

                <li>
                    <a href="/sites?v=list">
                        Site Profiles
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
