<nav class="navbar navbar-expand-lg navbar-default user-navbar">
    <div class="collapse navbar-collapse">
        {{ if .bindings.user }}
        <!-- Authenticated User: {{ .bindings.user._id }} ({{ .bindings.user.username }}: {{ .bindings.user.displayName }} <{{ .bindings.user.email }}>) -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item hidden-xs">
                <a
                    class="nav-link icon"
                    href="/feedback"
                ><i class="fa fa-question-circle"></i></a>
            </li>

            <!-- <li class="nav-item hidden-xs">
                <a
                    class="nav-link icon"
                    href="http://bop-ccers.tumblr.com"
                    target="_blank"
                ><i class="fa fa-tumblr-square"></i></a>
            </li> -->

            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle user-header-dropdown-toggle"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-toggle="dropdown"
                >
                    <img
                        alt="{{ .bindings.user.displayName }}"
                        class="header-profile-image"
                        src="assets/img/profile/avatar-gray.png"
                    >
                    <span>{{ .bindings.user.displayName }}</span>
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a class="dropdown-item" href="/profiles">Profile</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="/about">About the project</a>
                    </li>

                    <li>
                        <a
                            class="dropdown-item"
                            href="https://docs.google.com/document/d/1QSf1aGG_Vfhhft9gtD0onftOAHPrjqqdzPe622DBtkU/pub"
                            target="_blank"
                        >User Guide</a>
                    </li>

                    <li class="divider"></li>

                    <li class="visible-xs">
                        <a class="dropdown-item" href="/feedback">
                            <i class="fa fa-question-circle"></i> Support
                        </a>
                    </li>

                    <li class="visible-xs">
                        <a class="dropdown-item" href="http://bop-ccers.tumblr.com" target="_blank">
                            <i class="fa fa-tumblr-square"></i> Tumblr
                        </a>
                    </li>

                    <li class="divider visible-xs"></li>

                    <li>
                        <a class="dropdown-item" href="/logout" target="_self">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>
        {{ else }}
        <!-- Unauthenticated User -->
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item hidden-xs">
                <a href="/feedback" class="nav-link icon">
                    <i class="fa fa-question-circle"></i>
                </a>
            </li>
            <li class="nav-item hidden-xs">
                <a href="http://bop-ccers.tumblr.com" class="nav-link icon" target="_blank">
                    <i class="fa fa-tumblr-square"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/authentication/signup">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/authentication/signin">Sign In</a>
            </li>
            <li class="nav-item visible-xs">
                <a class="nav-link" href="/feedback">
                    <i class="fa fa-question-circle"></i> Support
                </a>
            </li>
        </ul>
        {{ end }}
    </div>
</nav>

{{ if isArray .page.userlinks }}
<nav class="navbar navbar-expand-lg navbar-default user-navbar">
    <div class="navbar-collapse">
        <ul class="navbar-nav">
            {{ range .page.userlinks }}
            <li class="nav-item">
                <a class="nav-link" href="{{ .href }}" target="{{ .target }}">
                    {{ if .icon }}
                    <i class="fa fa-fw fa-{{ .icon }}"></i>
                    {{ end }}
                    {{ .title }}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>
{{ end }}
