---
bindings:
- name:     'people'
  resource: '/api/users'
  optional: true
  fallback: []
  params:
    q: '{{ qs "q" "all" }}'
---
{{ $people := $.bindings.people }}
{{ if $people }}
<h2 class="mt-4 mb-4">People</h2>

<div class="row">
    {{ range $i, $person := $people }}
    <div class="media col-12 col-lg-6 col-xl-4 mb-4">
        <div class="col-2">
            {{ if and ($person.profileImageURL) (not (hasSuffix $person.profileImageURL "avatar-gray.png")) }}
            <img class="img-fluid" src="{{ $person.profileImageURL }}" alt="Photo of User {{ $person.username }}">
            {{ else }}
            <img class="img-fluid img-muted" src="assets/img/placeholders/oyster.png" alt="Placeholder User image">
            {{ end }}
        </div>
        <div class="media-body">
            <h3 class="mt-0 mb-1">{{ $person.displayName }}</h3>
            {{ if isMap $person.schoolOrg }}
            <i class="fa fa-fw fa-building"></i> {{ $person.schoolOrg.name }}
            {{ end }}
            <br/>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
