---
page:
    body_class: 'sites-list fill-content'

bindings:
- name:     'sites'
  resource: '/api/sites'
  params:
    limit: false
    sort:  name

-  name:     stations
   resource: '/api/restoration-stations'
   params:
     limit:    false
     fields:   name,status,schoolOrg,site,teamLead,created
     q:        schoolOrg/not:571f6f3181ab586140097247
     sort:     name

flags:
    viewSitesMap:  '{{ eqx (qs "v" "map") "map" }}'
    viewSitesList: '{{ eqx (qs "v" "map") "list" }}'
    viewStations:  '{{ eqx (qs "v" "map") "stations" }}'

includes:
    sitesMap:  '/sites/sites_map.html'
    sitesList: '/sites/sites_list.html'
    stations:  '/sites/stations.html'
---
{{ if $.flags.viewStations }}
<h1>Oyster Research Stations</h1>
{{ else }}
<h1>Research Sites</h1>
{{end }}


<ul class="nav nav-tabs mt-2 pl-1 pr-1">
    <li class="nav-item">
        <a class="nav-link{{ if $.flags.viewSitesMap }} active{{ end }}" href="/sites?v=map">
            <i class="fa fa-map-o"></i>
            Map
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link{{ if $.flags.viewSitesList }} active{{ end }}" href="/sites?v=list">
            <i class="fa fa-list"></i>
            Site List
        </a>
    </li>

    <li class="nav-item">
            <a class="nav-link{{ if $.flags.viewStations }} active{{ end }}" href="/sites?v=stations">
                <i class="fa fa-list"></i>
                ORS List
            </a>
        </li>
</ul>

<section class="content sites-list-view">
    {{ if $.flags.viewSitesMap }}
    {{   template "sitesMap" . }}
    {{ else if $.flags.viewSitesList }}
    {{   template "sitesList" . }}
    {{ else if $.flags.viewStations }}
    {{   template "stations" . }}
    {{ else }}
    <h2>Invalid view "{{ qs "v" }}"</h2>
    {{ end }}
</section>
