
{{ $sites       := $.bindings.sites }}
{{ $stations    := $.bindings.stations }}
{{ $orgs        := $.bindings.orgs }}


<section class="content">
    <div class="text-left pt-2 mb-3">
        <a
        href="/api/sites/export.tsv"
        class="btn btn-primary mb-2"
        >
            Download Sites (.tsv)
        </a>
        <a href="/api/sites?limit=25&offset=0&sort=name" target="_blank" class="ml-3">
            <i class="fa fa-external-link-square"></i>
            View in API
        </a>
    </div>

    <div class="col-sm-12">
        <table class="table table-sm table-bordered table-striped table-hover" id="sites">
            <caption>List of sites including name, body of water, latitude, longitude, and count of Oyster Research Stations (ORS) at each site.</caption>
            <thead>
                <tr>
                    {{ if $.flags.admin }}
                    <th>Edit</th>
                    {{ end }}
                    <th>#</th>
                    <th>Site Name</th>
                    <th>Body of Water</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th># of Active ORS at this site</th>
                    <th>Borough/City</th>
                    <th>NYC Park Name</th>
                    <th>Property Owner</th>
                </tr>
            </thead>
            <tbody>
                <!-- Range through each site in the sites table-->
                {{ range $i, $site := $sites }}
                <!--First: filter the $stations array (stations) to find stations where the site = current site id (site id from the range,
                    creating a new array of stations)
                    Second: filter that array to find stations where the station's status = active to create a new array
                    Third: count how many stations are in that array
                    Fourth: create a new variable, $count that represents this value -->
                {{ $count := count (filterByKey (filterByKey $stations "site.name" $site.name) "status" "Active" ) }}
                <!--Use this to number the rows-->
                {{  increment "siteNumber" }}
                <tr>
                    {{ if $.flags.admin }}
                    <td>
                        <a href="/admin/generic/{{ $site._id }}?collection=sites">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                    {{ end }}
                    <!--Use this to number the rows-->
                    <th>{{ $.vars.siteNumber }}</th>
                    <td>
                        <a href="/sites/{{ $site._id }}">
                        {{ $site.name }}
                        </a>
                    </td>
                    <td>{{ $site.bodyOfWater }}</td>
                    <td>{{ $site.latitude }}</td>
                    <td>{{ $site.longitude }}</td>
                    <td>
                        {{ $count }}
                    </td>
                    <td>{{ $site.boroughCounty }}</td>
                    {{if $site.nycParkName }}
                    <td>{{ $site.nycParkName }}</td>
                    {{ else }}
                    <td></td>
                    {{ end }}
                    {{if $site.propertyOwner }}
                    <td>{{ $site.propertyOwner }}</td>
                    {{ else }}
                    <td></td>
                    {{ end }}
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</section>

<script type="text/javascript">
    $(function(){
        $('#sites').DataTable({
            searching:      true,
            paging:         false,
            info:           false,
        });
    });
</script>