---
page:
    body_class: 'site-details'
    notitle: true

bindings:
-   name:	  'org'
    resource: '/api/school-orgs'

-  name:     station
   resource: '/api/restoration-stations/{{ param 1 }}'
   params:
    limit:    false
    q:        'api/sites/stations/{{ param 1 }}'
---

{{ $site     := $.bindings.site }}
{{ $station := $.bindings.station }}
{{ $org := $.bindings.org }}

<section class="content">
    <div class="row">
        <div class="col-sm-9">
            <h1 class="text-left pb-0">
                {{ get (firstByKey $.page.structureTypes `id` $station.structureType) `label` }}: "{{ $station.name }}"
            </h1>
            <p class="mb-1"><i class="fa fa-fw fa-map-marker"></i>
                {{ $station.site.name }}, {{ $station.site.bodyOfWater }}
            </p>
            <p class="mb-1">
                <i class="fa fa-fw fa-globe"></i>
                {{ $station.site.boroughCounty }}, {{ $station.site.state }}
            </p>
        </div>
        <div class="col-sm-3 text-right">
            <a
            href="/sites/structure-editor?id={{ $station._id }}"
            class="btn btn-primary"
            >
                Edit Oyster Research Structure
            </a>
        </div>
</section>

{{ if $station.site.latitude }}
<div class="row no-gutters site-jumbotron">
    <div class="col">
        <div id="siteMap"></div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        mapboxgl.accessToken = '{{ $.page.mapbox.key }}';

        var map = new mapboxgl.Map({
            container: 'siteMap',
            style: 'mapbox://styles/{{ qs "style" $.page.mapbox.style }}',
            failIfMajorPerformanceCaveat: true,
            center: [{{ $station.site.longitude }}, {{ $station.site.latitude }}],
            zoom:   11,
        });

        // load everyone but us; e.g.: our "neighbors"
        // $.ajax({
        //     url: '/api/sites/export.geojson?' + $.param({
        //         fields: 'name,bodyOfWater,latitude,longitude,nycParkName',
        //         q:      '_id/not:{{ $site._id }}',
        //     }),
        //     success: function(collection) {
        //         var layer = {
        //             "id": "neighbors",
        //             "type": "circle",
        //             "source": {
        //                 "type": "geojson",
        //                 "data": collection,
        //             },
        //             "paint": {
        //                 "circle-radius": 4,
        //                 "circle-color": "#EA5F56",
        //                 "circle-stroke-width": 1,
        //                 "circle-stroke-color": "#FFFFFF",
        //             },
        //         };

        //         map.addLayer(layer);
        //     },
        // });

        map.on('load', function(){
            // create a HTML element for each feature
            var el = document.createElement('i');
            el.className = 'fa fa-circle marker-site';

            // make a marker for each feature and add to the map
            new mapboxgl.Marker(el)
            .setLngLat([
                {{ $station.site.longitude }},
                {{ $station.site.latitude }},
            ])
            .addTo(map);
        });
    });
</script>
{{ end }}

<section class="content">
    <table class="table table-sm table-bordered table-hover">
        <tr>
            <th scope="row">Oyster Structure Name</th>
            <td>{{ $station.name }}</td>
        </tr>

        <tr>
            <th scope="row">Structure Type</th>
            <td>{{ get (firstByKey $.page.structureTypes `id` $station.structureType) `label` }}</td>
        </tr>

        {{ if $station.tagNumber }}
        <tr>
            <th scope="row">Tag Number</th>
            <td>{{ $station.tagNumber }}</td>
        </tr>
        {{ end }}

        {{ if $station.status }}
        <tr>
            <th scope="row">Status</th>
            <td>{{ $station.status }}</td>
        </tr>
        {{ end }}

        {{ if $station.schoolOrg.name }}
        <tr>
            <th scope="row">Organization</th>

                <td>
                    <a href="/community/orgs/{{ $station.schoolOrg._id }}">
                    {{ $station.schoolOrg.name }}
                    </a>
                </td>

        </tr>
        {{ end }}

        {{ if $station.teamLead.displayName }}
        <tr>
            <th scope="row">Steward</th>
            <td>{{ $station.teamLead.displayName }}</td>
        </tr>
        {{ end }}

        {{ if $station.site.name }}
        <tr>
            <th scope="row">
                Site
            </th>
            <td>
                <a href="/sites/{{ $station.site._id }}">
                {{ $station.site.name }}
                </a>
            </td>
        </tr>
        {{ end }}

        {{ if $station.site.bodyOfWater }}
        <tr>
            <th scope="row">Body of Water</th>
            <td>{{ $station.site.bodyOfWater }}</td>
        </tr>
        {{ end }}

        {{ if and $station.site.latitude $station.site.longitude }}
        <tr>
            <th scope="row">Latitude, Longitude</th>
            <td>{{ $station.site.latitude }}, {{ $station.site.longitude }}</td>
        </tr>
        {{ end }}

        {{ if $station.site.boroughCounty }}
        <tr>
            <th scope="row">Borough/City</th>
            <td>{{ $station.site.boroughCounty }}</td>
        </tr>
        {{ end }}

        <tr>
            <th scope="row">Registered On</th>
            <td>{{ if $station.created }}{{ time $station.created "slash" }}{{ end }}</td>
        </tr>

        {{ if $station.notes }}
        <tr>
            <th scope="row">Notes</th>
            <td>{{ $station.notes }}</td>
        </tr>
        {{ end }}

    </table>
</section>