
{{ $sites       := $.bindings.sites }}
{{ $stations    := $.bindings.stations }}
{{ $orgs        := $.bindings.orgs }}

<section class="content">
    <div class="text-left pt-2 mb-3">
        <a
        href="/api/restoration-stations/export.tsv"
        class="btn btn-primary mb-2"
        >
            Download Stations (.tsv)
        </a>
        <a href="/api/restoration-stations?limit=25&offset=0&sort=name" target="_blank" class="ml-3">
            <i class="fa fa-external-link-square"></i>
            View in API
        </a>
    </div>

    <table class="table table-sm table-bordered table-striped table-hover" id="stations">
            <thead>
                <tr>
                    {{ if $.flags.admin }}
                    <th>Edit</th>
                    {{ end }}
                    <th>#</th>
                    <th>ORS Name</th>
                    <th>Status</th>
                    <th>Site Name</th>
                    <th>Body of Water</th>
                    <th>Borough/City</th>
                    <th>Organization</th>
                    <th>Steward</th>
                    <th>Registered On</th>
                </tr>
            </thead>

            <tbody>
                {{ range $i, $station := $stations }}
                <tr>
                    {{ if $.flags.admin }}
                    <td>
                        <a href="/admin/generic/{{ $station._id }}?collection=restoration-stations">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                    {{ end }}
                    <th>
                        {{ add $i 1 }}
                    </th>

                        <td>
                            <a href="sites/stations/{{ $station._id }}">
                            {{ $station.name }}
                            </a>
                        </td>

                    <td>
                        {{ $station.status }}
                    </td>
                    <td>
                        {{ $station.site.name }}
                    </td>
                    <td>
                        {{ $station.site.bodyOfWater }}
                    </td>
                    <td>
                        {{ $station.site.boroughCounty }}
                    </td>

                    <td>
                        {{ $station.schoolOrg.name }}
                    </td>

                    {{ if $station.teamLead.displayName }}
                    <td>
                        {{ $station.teamLead.displayName }}
                    </td>
                    {{ else }}
                    <td></td>
                    {{ end }}

                    <td>
                        {{ time $station.created "slash" }}
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </section>

    <script type="text/javascript">
        $(function(){
            $('#stations').DataTable({
                searching:      true,
                paging:         false,
                info:           false,
            });
        });
    </script>



</section>