---
page:
    view:    '{{ .bindings.unit.title }}'
    notitle: true

# Retrieve the unit.
bindings:
-   name:     'unit'
    resource: '/api/units/{{ param 1 }}'
---

{{ $unit := $.bindings.unit }}
{{ $lessons := $.bindings.unit.lessons }}

<div class="jumbotron" style="background: {{ $.bindings.unit.color }}">
    <section class="content">
        <section class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 box text-center" style="color: {{ $.bindings.unit.color }}">
                    <h1><i class="fa fa-sun-o"></i></h1>
                    <h2>{{ $.bindings.unit.title }}</h2>
                    <h6>
                        {{ if $.flags.admin }}
                        {{ len $.bindings.unit.lessons }} Lessons
                        {{ end }}
                        {{ if $.bindings.unit.subUnits }}
                        <span> | {{ len $.bindings.unit.subUnits }} Sub Units</span>
                        {{ end }}
                    </h6>
                </div>
            </div>
        </section>
    </section>
</div>

<section class="content">
    <section class="container">
        <div class="text-right w-100 mt-4">
        {{ if $.flags.admin }}
            {{ if and (eq $.bindings.unit.status `draft`) }}
            <h6>Draft</h6>
            {{ end }}

            {{ if and (eq $.bindings.unit.status `published`) }}
            <h6>Published</h6>
            {{ end }}

            <!--
            <a class="btn btn-primary" href="/units/edit//{{ .bindings.unit._id }}">Edit</a>
            -->
        {{ end }}

            
        </div>

        {{ if $.bindings.unit.highlights }}
        <h3>Highlights</h3>
        <div>{{ sanitize $.bindings.unit.highlights }}</div>
        {{ end }}

        {{ if $.bindings.unit.rationale }}
        <h3>Rationale</h3>
        <div>{{ sanitize $.bindings.unit.rationale }}</div>
        {{ end }}

        <br/>
    </section>
</section>

<section class="content shaded">
    <section class="container">
        <div class="row">
            <h3 class="col-xs-6 blue">Lessons</h3>
            <!--
            {{ if $.flags.admin }}
            <div class="col-xs-6 ml-auto mb-2">
                {{ if .bindings.unit.lessons }}
                <a class="btn btn-default"">Edit sequence</a>
                {{ end }}
                <a class="btn btn-default">Add lesson</a>
            </div>
            {{ end }}
            -->
        </div>

        <table class="table table-hover table-responsive">
            
            <thead>
                <tr>
                    {{ if $.flags.admin }}
                    <th>#</th>
                    {{ end }}
                    <th>Title</th>
                    <th></th>
                    <th>Subjects</th>
                    <th>Grade</th>
                    <th>Class Periods</th>
                    <th>Setting</th>
                    {{ if $.flags.admin }}
                    <th>Status</th>
                    <!--<th></th>-->
                    {{ end }}
                </tr>
            </thead>

            <tbody>
                {{ if $.flags.admin }}
                {{  range $i, $lesson := $lessons }}
                
                <tr
                    onclick="location.href='/lessons/view//{{ ._id }}'"
                    class="{{ if ne .status `published` }}text-muted{{ end }}"
                >
                    {{ if $.flags.admin }} 
                    <td>
                        <h4 class="{{ if eq .status `published` }}blue{{ else }}gray{{ end }}">
                            <b>{{ add $i 1 }}</b>
                        </h4>
                    </td>
                    {{ end }}
                    <td>
                        {{ if $lesson.title }}
                        <h4>
                            {{ $lesson.title }}
                        </h4>
                        {{ end }}
                        {{ if $lesson.lessonOverview.lessonSummary }}
                        <p class="small" class="{{ if eq .status `published` }}text-muted{{ else }}gray{{ end }}">
                            <span>{{ sanitize $lesson.lessonOverview.lessonSummary }}</span>
                        </p>
                        {{ end }}
                    </td>

                    <td>
                        {{ if $lesson.featuredImage }}
                        <img src="{{ $lesson.featuredImage.path }}" class="img-thumbnail" />
                        {{ end }}
                    </td>

                    <td>
                        <ul class="list-inline">
                            {{ if $lesson.lessonOverview.subjectAreas }}
                            {{ range $subject := $lesson.lessonOverview.subjectAreas }}
                            <span
                                class="badge"
                                style="background-color: {{ $subject.color }}; color: white;"
                            >{{ $subject.subject }}</span>
                            {{ end }}
                            {{ end }}
                            
                        </ul>
                    </td>

                    <td>
                        {{ if $lesson.lessonOverview.grade }}
                        {{ $lesson.lessonOverview.grade }}
                        {{ end }}
                    </td>

                    <td>
                        {{ if $lesson.lessonOverview.classPeriods }}
                        {{ $lesson.lessonOverview.classPeriods }}
                        {{ end }}
                    </td>

                    <td>
                        {{ if $lesson.lessonOverview.setting }}
                        {{ $lesson.lessonOverview.setting }}
                        {{ end }}
                    </td>

                    {{ if $.flags.admin }}
                    <td class="text-right">
                        <span
                            {{ if eq .status `published` }}
                            class="badge badge-success"
                            {{ else if eq .status `pending` }}
                            class="badge badge-info"
                            {{ else if eq .status `returned` }}
                            class="badge badge-danger"
                            {{ else }}
                            class="badge badge-default"
                            {{ end }}
                        >
                            {{ .status | titleize }}
                        </span>
                    </td>
                    <!--
                    <td class="text-right" {{ if eq .status `pending` }}style="min-width: 80px;"{{ end }}>
                        {{ if eq .status `pending` }}
                        <a class="btn btn-sm btn-danger pull-right">
                        <i class="fa fa-remove"></i></a>

                        <a class="btn btn-sm btn-success pull-right">
                        <i class="fa fa-ok"></i></a>
                        {{ end }}
                    </td>
                    -->
                    {{ end }}
                </tr>
                {{  end }}

                {{ else }}

                {{  range $i, $lesson := $lessons }}
                {{ if eqx $lesson.status "published" }}
                <tr
                    onclick="location.href='/lessons/view//{{ ._id }}'"
                    class="{{ if ne .status `published` }}text-muted{{ end }}"
                >
                    {{ if $.flags.admin }} 
                    <td>
                        <h4 class="{{ if eq .status `published` }}blue{{ else }}gray{{ end }}">
                            <b>{{ add $i 1 }}</b>
                        </h4>
                    </td>
                    {{ end }}
                    <td>
                        {{ if $lesson.title }}
                        <h4>
                            {{ $lesson.title }}
                        </h4>
                        {{ end }}
                        {{ if $lesson.lessonOverview.lessonSummary }}
                        <p class="small" class="{{ if eq .status `published` }}text-muted{{ else }}gray{{ end }}">
                            <span>{{ sanitize $lesson.lessonOverview.lessonSummary }}</span>
                        </p>
                        {{ end }}
                    </td>

                    <td>
                        {{ if $lesson.featuredImage }}
                        <img src="{{ $lesson.featuredImage.path }}" class="img-thumbnail" />
                        {{ end }}
                    </td>

                    <td>
                        <ul class="list-inline">
                            {{ if $lesson.lessonOverview.subjectAreas }}
                            {{ range $subject := $lesson.lessonOverview.subjectAreas }}
                            <span
                                class="badge"
                                style="background-color: {{ $subject.color }}; color: white;"
                            >{{ $subject.subject }}</span>
                            {{ end }}
                            {{ end }}
                            
                        </ul>
                    </td>

                    <td>
                        {{ if $lesson.lessonOverview.grade }}
                        {{ $lesson.lessonOverview.grade }}
                        {{ end }}
                    </td>

                    <td>
                        {{ if $lesson.lessonOverview.classPeriods }}
                        {{ $lesson.lessonOverview.classPeriods }}
                        {{ end }}
                    </td>

                    <td>
                        {{ if $lesson.lessonOverview.setting }}
                        {{ $lesson.lessonOverview.setting }}
                        {{ end }}
                    </td>
                </tr>
                {{  end }}
                {{ end }}
                
                {{ end}}
            </tbody>
        </table>

    </section>
</section>
