---
layout:     '{{ qs "layout" "default" }}'
page:
    body_class: 'site-details'
    view:       'NYS DEC Permit Report: LCP'
    skipStation: 571f6f3181ab586140097247
    startDate: '{{ qs "start" "2017-09-08" }}'
    endDate:   '{{ qs "end" "2018-09-08" }}'
    validBoroughs:
    - Manhattan
    - Brooklyn
    - Bronx
    - Queens
    - Staten Island

bindings:
-   name:     sites
    resource: '/api/sites'
    params:
        limit:    false
        sort:     permitName
        q:        'permitYear/2017'

-   name:     baselines
    resource: '/api/restoration-stations'
    params:
        limit:    false
        noexpand: true
        fields:   status,site,baselines
        q:        'schoolOrg/not:{{ $.page.skipStation }}'

-   name:     stations
    resource: '/api/restoration-stations'
    params:
        limit:    false
        noexpand: teamLead
        fields:   status,schoolOrg,site
        q:        'schoolOrg/not:{{ $.page.skipStation }}'

-   name:     orgs
    resource: '/api/school-orgs'
    params:
        limit:    false
        sort:     name
        q:        '_id/not:{{ $.page.skipStation }}'

-   name:     notUnaffiliated
    resource: '/api/school-orgs'
    params:
        limit:    false
        sort:     name
        q:        '_id/not:5722befed3444e216c62bcc1'

-   name:     expeditions
    resource: '/api/expeditions'
    param_joiner: ","
    params:
        limit:    false
        q:        'status/published/monitoringStartDate/gte:{{ $.page.startDate }}/monitoringStartDate/lte:{{ $.page.endDate }}/schoolOrg/not:{{ $.page.skipStation }}'
        sort:     "-monitoringStartDate"
        fields:
        - name
        - monitoringStartDate
        - station
        - status
        - protocols.oysterMeasurement:totalNumberOfAllLiveOysters
        - protocols.oysterMeasurement:minimumSizeOfAllLiveOysters
        - protocols.oysterMeasurement:averageSizeOfAllLiveOysters
        - protocols.oysterMeasurement:maximumSizeOfAllLiveOysters
---

{{ $sites       := $.bindings.sites }}
{{ $baselines   := $.bindings.baselines }}
{{ $stations    := $.bindings.stations }}
{{ $orgs        := $.bindings.orgs }}
{{ $notUnaffiliated := $.bindings.notUnaffiliated }}
{{ $expeditions := $.bindings.expeditions }}


<section class="content">
    <ul class="list-unstyled">
        <li class="media">
            <img class="mr-3" src="/assets/img/brand/logo.png" alt="BOP logo" height="175">
            <div class="media-body">
            <h2 class="mt-0 mb-1">New York Harbor Foundation d/b/a Billion Oyster Project (BOP)
                    <br/>
                    Report of Collection Activities for the BOP Oyster Restoration Station Program, 
                    <br/>
                    New York City
                    <br/>
                    September 8, 2017-September 7, 2018
            </h2>
            </div>
        </li>
    </ul>

    <div class="col-sm-12">
        <h3>Summary Information</h3>
        <p><strong>Name of Licensee:</strong> Sam Janis / Tanasia Swift</p>

        <p><strong>License Number:</strong> 1133</p>

        <p><strong>Abstract:</strong>
            Billion Oyster Project (BOP) is a restoration, education, and citizen science initiative that engages residents of the region in growing small populations of oysters and environmental monitoring at permitted waterfront sites around the New York Harbor.
            The goal of the program is to increase the overall breeding population of native oysters in the Harbor and to engage young people and adults in active stewardship and citizen science.
            By adopting a BOP Oyster Restoration Station (ORS), participants agree to conduct monthly visits at their site using standard procedures and datasets covering oyster growth and mortality, basic water quality parameters, and marine ecology observations.
            In this way, the project will eventually result in a comparative dataset on ecological health, viability of oyster restoration, and water quality at 28 sites across New York Harbor.
        </p>

        <p><strong>Common name of animal:</strong> Eastern oyster (<em>Crassostrea virginica</em>)</p>

        <p><strong>Source of oysters:</strong>
            All ORS were stocked with spat-on-shell oysters produced by New York Harbor School’s oyster hatchery and remote setting facility located on Governors Island. Harbor School oysters are grown from a mix of wild broodstock (Bronx River) and aquaculture stock (from Fishers Island and Muscongus Bay). Collection and importation of these broodstocks have been permitted under separate Shellfish Importation Permits and NYHS Marine Hatchery Permits # 65-P, 2017 and # 65-P, 2018.
            Prior to adoption and installation of their ORS, all prospective participants attended a one-day training on Governors Island on how to stock, install, and monitor their ORS. Upon successful completion of the training, participants signed a contract, stocked their cage with  New York Harbor School oysters, and transported the cage to a designated and permitted waterfront site for installation.
        </p>
        <p>
            <strong>Mortality:</strong> Of the total 10,000 oysters distributed over the season, approximately 47% have survived.
        </p>
        <p>
            <strong>Final disposition:</strong> Participants retained oysters at current sites with the exception of two transfers:
            <ul>
                <li>January 16th, 2018: 10 oysters were collected from BOP’s Sebago Canoe Club to use as broodstock for spat on shell for the Paerdegat Basin Community Reef. 
                    Those oysters were strip spawned and disposed of in an upland facility.
                </li>
                <li>
                    January 24th, 2018: 10 oysters were collected from the Richmond County Yacht Club to use as broodstock for spat on shell for BOP’s Great Kills Harbor Nursery. 
                    Those oysters were strip spawned and disposed of in an upland facility.
                </li>
            </ul>
            Upon renewal of LCP #1133,  all oysters will remain in cages for the next monitoring season.            
        </p> 
    </div>
    <hr/>
    <div class="col-sm-12">
        <h3>Table: Sites, with Count of Oyster Restoration Stations and Larvae Sources</h3>
        <table class="table table-sm table-bordered table-striped">
            <caption>The number of Oyster Research Stations (ORS) and oyster larvae sources at each site.</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Site Name</th>
                    <th>Body of Water</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th># of Active ORS at this site</th>
                    <th>Source(s)</th>
                </tr>
            </thead>
            <tbody>
                <!-- Group each site by its permit name-->
                {{ range $permitName, $permitSites := groupBy $sites "permitName" }}
                {{ $permitBaselines := filterByKey (filterByKey $baselines "site" (pluck $permitSites "_id")) "status" "Active" }}
                <!---->
                <tr>
                    <th>number</th>
                    <td>
                        {{ $permitName }}
                    </td>
                    <!--Get bodies of water from all sites, unique it, join it-->
                    <td>{{ first (pluck $permitSites "bodyOfWater") }}</td>
                    <td>{{ first (pluck $permitSites "latitude") }}</td>
                    <td>{{ first (pluck $permitSites "longitude") }}</td>
                    <td>{{ count $permitBaselines }}</td>
                    <td></td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <hr/>
    </div>

    <div class="col-sm-12"> 
        <h3 text-align="center">Data by Site</h3>
        {{ range $permitName, $permitSites := groupBy $sites "permitName" }}
        {{ $permitBaselines := filterByKey (filterByKey $baselines "site" (pluck $permitSites "_id")) "status" "Active" }}
        {{ $count := count $permitBaselines }}
        <h4>{{ $permitName }}</h4>    
        <p>
            <strong>Source of oysters:</strong> Oyster Research Station (ORS) stocked with spat-on-shell produced by New York Harbor School’s oyster hatchery and remote setting facility located on Governors Island. 
        </p>

        <p>
            <strong>Broodstock was sourced from:</strong>
        </p>
        
        <p>
            <strong>Locations of deployment of oysters:</strong> {{ $permitName }}
        </p>
        
        <p>
            <strong>Number of cages and oysters at this location:</strong> 
            {{ if eqx $count 1 }}
            {{ $count }} cage, ~{{ multiply $count 50 }} oysters
            {{ else }}
            {{ $count }} cages, ~{{ multiply $count 50 }} oysters
            {{ end }}
        </p>
        
        <p>
            <strong>Mortality rates and causes:</strong> See Mortality information at beginning of report.
        </p>

        <p>
            <strong>Final disposition of all oysters at this location:</strong> See Final Disposition information at top of report.
        </p>
        
        <p>
            <strong>Groups involved at this location:</strong> 

            (for more organization details, see Appendix A)
        </p>
        
        <p>
            <strong>Biological and environmental data collected at this site:</strong> See Appendix B
        </p>     
        <hr/> 
        {{ end }} 
    </div>

    <div class="col-sm-12">
        <h3>Appendix A: Organizations Stewarding Oyster Research Stations (ORS)</h3>
        <table class="table table-sm table-bordered table-striped">
            <caption>The organization name, site and body of water, and organization address.</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Organization Name</th>
                    <th>ORS Site</th>
                    <th>Body of Water</th>
                    <th>Organization Address</th>
                </tr>
            </thead>
            <tbody>
                <!--Range through the orgs table-->
                {{ range $i, $org := $orgs }}
                <!--Filter through the stations table, creating an array of each station whose "schoolOrg" field matches the org id,
                then filter through that array to only show stations whose status is "Active."
                Create the variable $orgStations from this filtered array.-->
                {{ $orgStations := filterByKey (filterByKey $stations "schoolOrg.name" $org.name) "status" "Active" }}
                {{ $boroughs := pluck $orgStations "site.boroughCounty" }}
                <!--If orgStations has anything in it at all and if the site is in the five boroughs, display it.

                TODO: BUT NOT IF THE ORG IS BILLION OYSTER PROJECT
                -->
                {{   if and (count $orgStations) (intersect $.page.validBoroughs $boroughs) }}
                {{  increment "orgNumber" }}
                <tr>

                    <th>{{ $.vars.orgNumber }}</th>
                    <td>{{ $org.name }}</td>
                    <td>{{ join (uniq (sort (pluck $orgStations "site.permitName"))) "; " }}</td>
                    <td>{{ join (uniq (sort (pluck $orgStations "site.bodyOfWater"))) "; " }}</td>
                    <td>
                        {{ if and $org.streetAddress $org.city $org.state }}
                        {{ $org.streetAddress }}, {{ $org.city }}, {{ $org.state }} {{ $org.zip }}
                        {{ end }}
                    </td>
                </tr>
                {{   end }}
                {{ end }}
            </tbody>
        </table>
    </div>


    <div class="col-sm-12">
        <h3>Appendix B: Oyster Monitoring Data</h3>
        <table class="table table-sm table-bordered table-striped">
            <caption>The ORS name, monitoring date, site, body of water, number of live oysters at time of monitoring, and the minimum, average, and maxium oyster lengths.</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>ORS Name</th>
                    <th>Monitoring Date</th>
                    <th>Site</th>
                    <th>Body of Water</th>
                    <th>Number of Live Oysters</th>
                    <th>Minimum Oyster Length (mm)</th>
                    <th>Average Oyster Length (mm)</th>
                    <th>Maxium Oyster Length (mm)</th>
                </tr>
            </thead>
            <tbody>
                <!--Limits the data to between 09/08/2017 and 09/08/2018-->
                {{ range $i, $expedition := $expeditions }}
                {{ if eqx $expedition.status "published"}}
                {{ if $expedition.protocols.oysterMeasurement }}
                {{  increment "expeditionNumber" }}
                <tr>
                    <th>{{ $.vars.expeditionNumber }}</th>
                    <td>{{ $expedition.station.name }}</td>
                    <td>{{ $expedition.monitoringStartDate }}</td>
                    <td>
                        {{ if $expedition.station.site }}
                        {{ $expedition.station.site.permitName }}
                        {{ end }}
                    </td>
                    <td>
                        {{ if $expedition.station.site }}
                        {{ $expedition.station.site.bodyOfWater }}
                        {{ end }}
                    </td>
                    <td>{{ $expedition.protocols.oysterMeasurement.totalNumberOfAllLiveOysters }}</td>
                    <td>{{ $expedition.protocols.oysterMeasurement.minimumSizeOfAllLiveOysters }}</td>
                    <td>{{ round $expedition.protocols.oysterMeasurement.averageSizeOfAllLiveOysters 2 }}</td>
                    <td>{{ $expedition.protocols.oysterMeasurement.maximumSizeOfAllLiveOysters }}</td>
                </tr>
                {{      end }}
                {{  end }}
                {{ end }}
            </tbody>
        </table>
    </div>
</section>

