---
layout:     '{{ qs "layout" "default" }}'
renderer:   '{{ qs "renderer" "html" }}' 

page:
    body_class: 'site-details'
    view: 'DEC Permit Report'
    notitle: false
    validBoroughs: 
    - Manhattan
    - Brooklyn
    - Bronx
    - Queens
    - Staten Island

bindings:
-   name:     sites
    resource: '/api/sites'
    params:   
        limit:    false
        sort:     name

-   name:     baselines
    resource: '/api/restoration-stations'
    params: 
        limit:    false
        noexpand: true
        fields:   status,siteId,baselines
        q:        schoolOrg/not:571f6f3181ab586140097247

-   name:     stations
    resource: '/api/restoration-stations'
    params: 
        limit:    false
        noexpand: teamLead
        fields:   status,schoolOrg,siteId
        q:        schoolOrg/not:571f6f3181ab586140097247

-   name:     orgs
    resource: '/api/school-orgs'
    params:
        limit:    false
        sort:     name
        q:        _id/not:571f6f3181ab586140097247

-   name:     expeditions
    resource: '/api/expeditions'
    param_joiner: ","
    params:
        limit:    false
        q:        status/published/monitoringStartDate/gte:2017-09-08/monitoringStartDate/lte:2018-09-08/schoolOrg/not:571f6f3181ab586140097247
        sort:     "-monitoringStartDate"
        fields:  
        - name
        - monitoringStartDate
        - station
        - status
        - protocols.oysterMeasurement:totalNumberOfAllLiveOysters
        - protocols.oysterMeasurement:minimumSizeOfAllLiveOysters
        - protocols.oysterMeasurement:averageSizeOfAllLiveOysters
        - protocols.oysterMeasurement:maximumSizeOfAllLiveOysters


---

{{ $sites       := $.bindings.sites }}
{{ $baselines   := $.bindings.baselines }}
{{ $stations    := $.bindings.stations }}
{{ $orgs        := $.bindings.orgs }}
{{ $expeditions := $.bindings.expeditions }}

<section class="content">
    <div class="col-sm-10">
        <p><strong>Name of Licensee:</strong> Sam Janis / Tanasia Swift</p> 

        <p><strong>License Number:</strong> 1133</p>

        <p><strong>Abstract:</strong>
            BOP is a restoration, education, and citizen science initiative that engages residents of the region in growing small populations of oysters and environmental monitoring at permitted waterfront sites around the New York Harbor. 
            The goal of the program is to increase the overall breeding population of native oysters in the Harbor and to engage young people and adults in active stewardship and citizen science.
            By adopting a BOP Oyster Restoration Station (ORS), participants agree to conduct monthly visits at their site using standard procedures and datasets covering oyster growth and mortality, basic water quality parameters, and marine ecology observations. 
            In this way, the project will eventually result in a comparative dataset on ecological health, viability of oyster restoration, and water quality at 28 sites across New York Harbor.
        </p>

        <p><strong>Common name of animal:</strong> Eastern oyster (<em>Crassostrea virginica</em>)</p>

        <p><strong>Source of oysters:</strong>
            All ORS were stocked with spat-on-shell oysters produced by New York Harbor School’s oyster hatchery and remote setting facility located on Governors Island. Harbor School oysters are grown from a mix of wild broodstock (Bronx River) and aquaculture stock (from Fishers Island and Muscongus Bay). Collection and importation of these broodstocks have been permitted under separate Shellfish Importation Permits and NYHS Marine Hatchery Permits # 65-P, 2017 and # 65-P, 2018. 
            Prior to adoption and installation of their ORS, all prospective participants attended a one-day training on Governors Island on how to stock, install, and monitor their ORS. Upon successful completion of the training, participants signed a contract, stocked their cage with  New York Harbor School oysters, and transported the cage to a designated and permitted waterfront site for installation.
        </p>
    </div>

    <div class="col-sm-12">
        <h4>Table: Sites, with Count of Oyster Research Stations and Larvae Sources</h4>
        <table class="table table-sm table-bordered table-striped">
            <caption>The number of Oyster Research Stations (ORS) and oyster larvae sources at each site.</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Site Name</th>
                    <th>Body of Water</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th># of Active ORS at this site</th>
                    <th>Source(s)</th>
                </tr>
            </thead>
            <tbody>
                <!-- Range through each site in the sites table-->
                {{ range $i, $site := $sites }}
                <!--First: filter the $baselines array (stations) to find stations where the siteId = current site id (site id from the range,
                    creating a new array of stations)
                    Second: filter that array to find stations where the station's status = active to create a new array
                    Third: count how many stations are in that array
                    Fourth: create a new variable, $count that represents this value -->
                {{ $count := count (filterByKey (filterByKey $baselines "siteId" $site._id) "status" "Active" ) }}
                <!--Only show sites with at least 1 active ORS and are within the five boroughs (we created "valid boroughs" under page-->
                {{  if and $count (any $.page.validBoroughs $site.boroughCounty) }}
                <!--Use this to number the rows-->
                {{  increment "siteNumber" }}
                <tr>
                    <!--Use this to number the rows-->
                    <th>{{ $.vars.siteNumber }}</th>
                    <td>
                        <a href="/sites/{{ $site._id }}">
                            {{ $site.name }}
                        </a>
                    </td>
                    <td>{{ $site.bodyOfWater }}</td>
                    <td>{{ $site.latitude }}</td>
                    <td>{{ $site.longitude }}</td>
                    <td>
                        {{ $count }}
                    </td>
                    <!--First: filter the $baselines arrary (stations) to find stations where the siteId = current site id (site id from the range,
                        creating a new array of stations)
                        Second: from that array, pluck the sources from the baselines to create a new array
                        Third: from that array, only show unique sources (don't repeat any sources) to create a new array
                        Fourth: from that array, join all of the sources into one string, separating each source with a semi-colon 
                        
                        TODO Fifth- sub in "Muscongus Bay" if the source is "Other" or "?"
                    -->
                    <td>
                        {{ join (uniq (pluck (filterByKey $baselines "siteId" $site._id) "baselines.*.*.source")) "; " }}
                    </td>
                </tr>
                {{  end }}
                {{ end }}
            </tbody>
        </table>

        <h4>Table: Organizations Stewarding Oyster Research Stations (ORS)</h4>
        <table class="table table-sm table-bordered table-striped">
            <caption>The organization name, site and body of water, and organization address.</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Organization Name</th>
                    <th>ORS Site</th>
                    <th>Body of Water</th>
                    <th>Organization Address</th>
                </tr>
            </thead>
            <tbody>
                <!--Range through the orgs table-->
                {{ range $i, $org := $orgs }}
                <!--Filter through the stations table, creating an array of each station whose "schoolOrg" field matches the org id,
                then filter through that array to only show stations whose status is "Active."
                Create the variable $orgStations from this filtered array.-->
                {{ $orgStations := filterByKey (filterByKey $stations "schoolOrg._id" $org._id) "status" "Active" }}
                {{ $boroughs := pluck $orgStations "siteId.boroughCounty" }}
                <!--If orgStations has anything in it at all and if the site is in the five boroughs, display it.
                
                TODO: BUT NOT IF THE ORG IS BILLION OYSTER PROJECT
                -->
                {{   if and (count $orgStations) (intersect $.page.validBoroughs $boroughs) }}
                {{  increment "orgNumber" }}
                <tr>

                    <th>{{ $.vars.orgNumber }}</th>
                    <td>{{ $org.name }}</td>
                    <td>{{ join (uniq (sort (pluck $orgStations "siteId.name"))) "; " }}</td>
                    <td>{{ join (uniq (sort (pluck $orgStations "siteId.bodyOfWater"))) "; " }}</td>
                    <td>
                        {{ if and $org.streetAddress $org.city $org.state }}
                        {{ $org.streetAddress }}, {{ $org.city }}, {{ $org.state }} {{ $org.zip }}  
                        {{ end }}
                    </td>
                </tr>
                {{   end }}
                {{ end }}
            </tbody>
        </table>

        <h4>Table: Oyster Monitoring Data</h4>
        <table class="table table-sm table-bordered table-striped">
            <caption>The ORS name, monitoring date, site, body of water, number of live oysters at time of monitoring, and the minimum, average, and maxium oyster lengths.</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>ORS Name</th>
                    <th>Monitoring Date</th>
                    <th>ORS Site</th>
                    <th>Body of Water</th>
                    <th>Number of Live Oysters</th>
                    <th>Minimum Oyster Length (mm)</th>
                    <th>Average Oyster Length (mm)</th>
                    <th>Maxium Oyster Length (mm)</th>
                </tr>
            </thead>
            <tbody>
                <!--Limits the data to between 09/08/2017 and 09/08/2018-->
                {{ range $i, $expedition := $expeditions }}
                {{ if eqx $expedition.status "published"}}
                {{ if $expedition.protocols.oysterMeasurement }}
                {{  increment "expeditionNumber" }}
                <tr>
                    <th>{{ $.vars.expeditionNumber }}</th>
                    <td>{{ $expedition.station.name }}</td>
                    <td>{{ $expedition.monitoringStartDate }}</td>
                    <td>{{ $expedition.station.siteId.name }}</td>
                    <td>{{ $expedition.station.siteId.bodyOfWater }}</td>
                    <td>{{ $expedition.protocols.oysterMeasurement.totalNumberOfAllLiveOysters }}</td>
                    <td>{{ $expedition.protocols.oysterMeasurement.minimumSizeOfAllLiveOysters }}</td>
                    <td>{{ round $expedition.protocols.oysterMeasurement.averageSizeOfAllLiveOysters 2 }}</td>
                    <td>{{ $expedition.protocols.oysterMeasurement.maximumSizeOfAllLiveOysters }}</td>
                </tr>
                {{    end }}
                {{  end }}
                {{ end }}
            </tbody>
        </table>
    </div>
</section>

