---
page:
    body_class: 'site-details'

bindings:
- name:		'site'
  resource: '/api/sites/{{ param 1 }}'

- name:     'stations'
  resource: '/api/restoration-stations'
  fallback: []
  params:
    q: 'siteId/{{ param 1 }}'

- name:     'relatedTeams'
  resource: '/api/teams'
  fallback: []
  params:
    q: 'teamLeads/{{ join (uniq (pluck $.bindings.stations "teamLead._id")) "|" }}'
    fields: 'teamLead,teamLeads'
    expand: false
---

{{ $site     := $.bindings.site }}
{{ $stations := $.bindings.stations }}

{{ range $i, $relatedTeam := $.bindings.relatedTeams }}
{{   push "people" $relatedTeam.teamLead }}
{{   if (isArray $relatedTeam.teamLeads) }}
{{      range $j, $tl := $relatedTeam.teamLeads }}
{{        push "people" $tl }}
{{      end }}
{{   end }}
{{ end }}

{{ $people     := uniq $.vars.people }}
{{ $schoolOrgs := (uniqByKey (filterByKey (pluck $.bindings.stations "schoolOrg") "name" "{{ not (hasPrefix (lower .) `unaffiliated`) }}") "name") }}

<section class="content shaded">
    <div class="row">
        <div class="col col-sm-6">
            <h2>{{ $site.name }}, {{ $site.bodyOfWater }}</h2>

			<div>
				<i class="fa fa-fw fa-map-marker"></i>
				{{ $site.boroughCounty }},
				{{ $site.state }}
			</div>
        </div>
    </div>
</section>

<div>
    <div id="siteMap"></div>
</div>

<script type="text/javascript">
    $(function() {
        mapboxgl.accessToken = '{{ $.page.mapbox.key }}';

        var map = new mapboxgl.Map({
            container: 'siteMap',
            style: 'mapbox://styles/{{ qs "style" $.page.mapbox.style }}',
            failIfMajorPerformanceCaveat: true,
            center: [{{ $site.longitude }}, {{ $site.latitude }}],
            zoom:   13,
        });

        map.on('load', function(){
            map.addLayer({
                "id": "sites",
                "type": "circle",
                "source": {
                    "type": "geojson",
                    "data": {
                        "type": "FeatureCollection",
                        "features": [{
                            "type": "Feature",
                            "geometry": {
                                "type": "Point",
                                "coordinates": [
                                    {{ $site.longitude }},
                                    {{ $site.latitude }}
                                ],
                            },
                        }],
                    },
                },
                "layout": {
                },
                "paint": {
                    "circle-radius": 7,
                    "circle-color": "#415980",
                    "circle-stroke-width": 2,
                    "circle-stroke-color": "#FFFFFF",
                },
            })
        });
    });
</script>

<div class="container-fluid pt-2">
	{{ if $stations }}
	<h2 class="mt-4 mb-4">Oyster Research Stations</h2>

	<div class="row">
		{{ range $i, $station := $stations }}
  		<div class="media col-12 col-lg-6 col-xl-4 mb-4">
  			<div class="col-2">
	  			{{ if $station.photo }}
	    		<img class="img-fluid" src="{{ $station.photo.path }}" alt="Photo of this ORS">
	    		{{ else }}
	    		<img class="img-fluid img-muted" src="assets/img/placeholders/ors.jpg" alt="Placeholder ORS image">
	    		{{ end }}
    		</div>
    		<div class="media-body">
      			<h3 class="mt-0 mb-1">{{ $station.name }}</h3>
      			<i class="fa fa-fw fa-building"></i> {{ $station.schoolOrg.name }}
      			<br/>
                {{ if $station.teamLead }}
      			<i class="fa fa-fw fa-user"></i>{{ $station.teamLead.displayName }}
      			<br/>
                {{ end }}
    		</div>
  		</div>
  		{{ end }}
  	</div>

	{{ if $people }}
	<h2 class="mt-4 mb-4">People</h2>
	<div class="row" id="sitePeople">
    </div>
	{{ end }}

	{{ if $schoolOrgs }}
	<h2 class="mt-4 mb-4">Organizations</h2>

	<div class="row">
		{{ range $i, $schoolOrg := $schoolOrgs }}
  		<div class="media col-12 col-lg-6 col-xl-4 mb-4">
  			<div class="col-2">
	    		<img class="img-fluid img-muted" src="assets/img/placeholders/ors.jpg" alt="Placeholder ORS image">
    		</div>
    		<div class="media-body">
      			<h3 class="mt-0 mb-1">{{ $schoolOrg.name }}</h3>
      			<br/>
    		</div>
  		</div>
  		{{ end }}
  </div>
	{{ end }}

	{{ end }}


{{ if $site.nycParkName }}
<!-- Pull in NYC Parks open data -->
{{ end }}

</div>

{{ if $people }}
<script type="text/javascript">
    $(function(){
        $('#sitePeople').load('/restoration/_sites_people?' + $.param({
            q: 'id/{{ join $people "|" }}',
        }));
    });
</script>
{{ end }}
