---
page:
    body_class: 'site-details'

bindings:
- name:		'site'
  resource: '/api/sites/{{ param 1 }}'

- name:     'stations'
  resource: '/api/restoration-stations'
  fallback: []
  params:
    q: 'siteId/{{ param 1 }}'

- name:     'relatedTeams'
  resource: '/api/teams'
  fallback: []
  not_if:   '{{ isEmpty $.bindings.stations }}'
  params:
    q: 'teamLeads/{{ join (uniq (pluck $.bindings.stations "teamLead._id")) "|" }}'
    fields: 'teamLead,teamLeads,name'
    expand: false

- name:     'relatedExpeditions'
  resource: '/api/expeditions'
  not_if:   '{{ isEmpty $.bindings.stations }}'
  params:
    q:      'station/{{ join (pluck $.bindings.stations "_id") "|" }}/status/published'
    sort:   '-monitoringStartDate'
    expand: false
    limit:  100

- name: 'photos'
  resource: '/api/expeditions/photos'
  not_if:   '{{ isEmpty $.bindings.relatedExpeditions }}'
  params:
    q: '_id/{{ join (pluck $.bindings.relatedExpeditions "_id") "|" }}'
---

{{ $site     := $.bindings.site }}
{{ $stations := $.bindings.stations }}
{{ $teams    := $.bindings.relatedTeams }}

{{ range $i, $relatedTeam := $teams }}
{{   push "people" $relatedTeam.teamLead }}
{{   if (isArray $relatedTeam.teamLeads) }}
{{      range $j, $tl := $relatedTeam.teamLeads }}
{{        push "people" $tl }}
{{      end }}
{{   end }}
{{ end }}

{{ $people      := uniq $.vars.people }}
{{ $schoolOrgs  := (uniqByKey (filterByKey (pluck $.bindings.stations "schoolOrg") "name" "{{ not (hasPrefix (lower .) `unaffiliated`) }}") "name") }}
{{ $expeditions := $.bindings.relatedExpeditions }}
{{ $photos      := head (shuffle $.bindings.photos) 25 }}

<h1 class="text-left pb-0">{{ $site.name }}, {{ $site.bodyOfWater }}</h1>
<section class="content shaded pt-1">
    <i class="fa fa-fw fa-map-marker"></i>
    {{ $site.boroughCounty }}, {{ $site.state }}
</section>


<div class="row no-gutters site-jumbotron">
    <div class="col">
      <div id="siteMap"></div>
    </div>

    {{ if $photos }}
    <div class="col-3">
        <div id="photos" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {{ range $i, $photo := $photos }}
                <div class="carousel-item{{ if eq $i 0 }} active{{ end }}">
                    <img
                        class="d-block w-100"
                        src="{{ rxreplace $photo.url `^http:` `https:` }}"
                        alt="Third slide"
                    >
                </div>
                {{ end }}
            </div>

            <a class="carousel-control-prev" href="#photos" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#photos" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <script type="text/javascript">
            $(function(){
                var photos = $('#photos');

                photos.on('wheel', function(e){
                    try {
                        var evt = e.originalEvent;

                        if (evt.deltaX < 0) {
                            photos.carousel('prev');
                        } else if (evt.deltaX > 0) {
                            photos.carousel('next');
                        } else if (evt.deltaY < 0) {
                            photos.carousel('next');
                        } else if (evt.deltaY > 0) {
                            photos.carousel('prev');
                        }

                        e.preventDefault();
                    }catch(e) {

                    }
                });
            });
        </script>
    </div>
    {{ end }}
</div>

<script type="text/javascript">
    $(function() {
        mapboxgl.accessToken = '{{ $.page.mapbox.key }}';

        var map = new mapboxgl.Map({
            container: 'siteMap',
            style: 'mapbox://styles/{{ qs "style" $.page.mapbox.style }}',
            failIfMajorPerformanceCaveat: true,
            center: [{{ $site.longitude }}, {{ $site.latitude }}],
            zoom:   13,
        });

        map.on('load', function(){
            map.addLayer({
                "id": "sites",
                "type": "circle",
                "source": {
                    "type": "geojson",
                    "data": {
                        "type": "FeatureCollection",
                        "features": [{
                            "type": "Feature",
                            "geometry": {
                                "type": "Point",
                                "coordinates": [
                                    {{ $site.longitude }},
                                    {{ $site.latitude }}
                                ],
                            },
                        }],
                    },
                },
                "layout": {
                },
                "paint": {
                    "circle-radius": 7,
                    "circle-color": "#415980",
                    "circle-stroke-width": 2,
                    "circle-stroke-color": "#FFFFFF",
                },
            })
        });
    });
</script>

<div class="container-fluid pt-2">
	{{ if $stations }}
	<h2 class="mt-4 mb-4">Oyster Research Stations</h2>

	<div class="row">
		{{ range $i, $station := $stations }}
  		<div class="media col-12 col-lg-6 col-xl-4 mb-4">
  			<div class="col-2">
	  			{{ if $station.photo }}
	    		<img class="img-fluid" src="{{ $station.photo.path }}" alt="Photo of this ORS">
	    		{{ else }}
	    		<img class="img-fluid img-muted" src="assets/img/placeholders/ors.jpg" alt="Placeholder ORS image">
	    		{{ end }}
    		</div>
    		<div class="media-body">
      			<h3 class="mt-0 mb-1">{{ $station.name }}</h3>
      			<i class="fa fa-fw fa-building"></i> {{ $station.schoolOrg.name }}
      			<br/>
                {{ if $station.teamLead }}
      			<i class="fa fa-fw fa-user"></i>{{ $station.teamLead.displayName }}
      			<br/>
                {{ end }}
    		</div>
  		</div>
  		{{ end }}
  	</div>
    {{ end }}

	{{ if $people }}
    <div id="sitePeople"></div>
	{{ end }}

	{{ if $schoolOrgs }}
	<h2 class="mt-4 mb-4">Organizations</h2>

	<div class="row">
		{{ range $i, $schoolOrg := $schoolOrgs }}
  		<div class="media col-12 col-lg-6 col-xl-4 mb-4">
  			<div class="col-2">
	    		<img class="img-fluid img-muted" src="assets/img/placeholders/ors.jpg" alt="Placeholder ORS image">
    		</div>
    		<div class="media-body">
      			<h3 class="mt-0 mb-1">{{ $schoolOrg.name }}</h3>
      			<br/>
    		</div>
  		</div>
  		{{ end }}
    {{ end }}
</div>

{{ if $expeditions }}
<div class="container-fluid pt-2">
    <h2 class="mt-4 mb-4">Expeditions to this site</h2>

    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Expedition Date</th>
                        <th>Expedition Name</th>
                        <th>Team</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $i, $expedition := $expeditions }}
                    {{   $team := firstByKey $teams "_id" $expedition.team }}
                    <tr>
                        <td>{{ time $expedition.monitoringStartDate `ymd` }}</td>
                        <td>{{ $expedition.name }}</td>
                        <td>{{ $team.name }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}

{{ if $site.nycParkName }}
<!-- Pull in NYC Parks open data -->
{{ end }}

</div>

{{ if $people }}
<script type="text/javascript">
    $(function(){
        $.ajax({
            url: '/restoration/_sites_people?' + $.param({
                q: 'id/{{ join $people "|" }}',
            }),
            success: function(data) {
                $('#sitePeople').replaceWith($(data));
            },
        });
    });
</script>
{{ end }}
