---
page:
    body_class: 'container mt-1'
    view:       'Resource Editor'

bindings:

-   name:     'units'
    resource: '/api/units'
    fallback: []
    params:
        limit: false
        q:      "status/is:published"

-   name: 'resource'
    resource: '/api/resources/{{ qs "id" }}'
    only_if: '{{ qs "id" }}'
---

{{ $units := $.bindings.units }}


<section class="content">
    <form 
        method="POST" 
        action="/api/resources/"         
        data-redirect-to="/resources"
    >
        {{ if $.bindings.resource }}
        <input 
            type="hidden" 
            name="_id" 
            value="{{ $.bindings.resource._id }}"
        />
        {{ end }}
        <h2>Resource Information</h2>
        <div class="form-group col-sm-8">
            <label
                class="required"
                for="name"
            >
                Name
            </label>
            <input
                type="text"
                class="form-control"
                name="name"
                id="name"
                {{ if $.bindings.resource }}
                value="{{ $.bindings.resource.name }}"
                {{ end }}
            />
        </div>

        <div class="form-group col-sm-8">
            <label
                class="required"
                for="link"
            >
                Link
            </label>
            <input
                type="text"
                class="form-control"
                name="link"
                id="link"
                {{ if $.bindings.resource }}
                value="{{ $.bindings.resource.link }}"
                {{ end }}
            />
        </div>

        <div class="form-group col-sm-6">
            <label for="type">Type</label>
            <div class="form-row">
            </div>
            <select class="form-control" id="type" name="type"> 
                {{ range $type := $.page.resources.types }}
                <option 
                    value="{{ $type.id }}"
                    {{ if $.bindings.resource }}
                    {{ if eqx $.bindings.resource.type $type.id }}
                    selected
                    {{ end }}
                    {{ end }}
                >
                    {{ $type.label }}
                </option>
                {{ end }}
            </select>
        </div>

        <div class="form-group col-sm-6">
            <label for="categories">Categories (optional)</label>
            <div class="form-row">
                <small class="col-sm-12 mb-2">
                    To select multiple resource types, press and hold the Ctrl key (Windows) or Command key (Mac)
                </small>
            </div>
            <select multiple class="form-control" id="categories" name="categories" size="{{ count $.page.resources.categories }}"> 
                {{ range $category := sortByKey $.page.resources.categories "label" }}
                <option 
                    value="{{ $category.id }}"
                    {{ if $.bindings.resource }}
                    {{ if has $category.id $.bindings.resource.categories }}
                    selected
                    {{ end }}
                    {{ end }}
                >
                    {{ $category.label }}
                </option>
                {{ end }}     
            </select>
        </div>

        <div class="form-group col-sm-8">           
            <label for="description">Description (optional)</label>
            <textarea
                class="form-control"
                id="description"
                name="description"
                rows="5"
            >{{ if $.bindings.resource }}{{ $.bindings.resource.description }}{{ end }}</textarea>          
        </div>

        <section class="content">
                <div class="form-group mt-2">
                    <div class="text-left">
                        <button
                            type="submit"
                            class="btn btn-primary mr-2"
                            onclick="this.form.submitSource='saveAndContinue'"
                        >Save &amp; Continue Editing</button>
        
                        <button
                            type="submit"
                            class="btn btn-success ml-2"
                            onclick="this.form.submitSource='saveAndPublish'"
                        >Save &amp; Publish Resource</button>
                    </div>
                </div>
            </section>

        <hr/>

        <h2>Add Resource to Lesson(s)</h2>
        {{ range $i, $unit := $units }}
        {{ if $unit.lessons }}
        <div class="form-group col-sm-6">
            <label for="unit.lessons">{{ $unit.title }}</label>
            <div class="form-row">
                <small class="col-sm-12 mb-2">
                    To select multiple lessons, press and hold the Ctrl key (Windows) or Command key (Mac)
                </small>
            </div>
            <select multiple class="form-control" id="unit.lessons" name="unit.lessons">
                {{ range $i, $lesson := $unit.lessons }}
                <option>{{ $lesson.title }}</option>
                {{ end }}
            </select>
        </div>
        {{ end }}
        {{ end }}

        <section class="content">
            <div class="form-group mt-2">
                <div class="text-left">
                    <button
                        type="submit"
                        class="btn btn-primary mr-2"
                        onclick="this.form.submitSource='saveAndContinue'"
                    >Save &amp; Continue Editing</button>
    
                    <button
                        type="submit"
                        class="btn btn-success ml-2"
                        onclick="this.form.submitSource='saveAndPublish'"
                    >Save &amp; Publish Resource</button>
                </div>
            </div>
        </section>

    </form>
</section>