---
page:
    body_class: 'orgs-list'
    view: 'Resources'

bindings:

-   name:     resources
    resource: '/api/resources'
    params:
        limit:    false
        sort:     name
---
{{ $resources := $.bindings.resources }}

<section class="content">
    <div class="unit-lessons">
        <div class="card-deck">
            <div class="card">
                <div class="card-header">
                    <a href="resources/field-science">
                    <h2>Field Science Resources</h2>
                    </a>
                </div>
                <div class="card-img-top">
                    <a href="resources/field-science">
                        <img class="preview img-cover rounded-bottom" height="220" src="assets/img/placeholders/ors.jpg">
                    </a>
                </div>
                <div class="card-body">
                    Includes: manuals, datasheets, species ID information
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a href="resources/oyster-tank">
                    <h2>Oyster Tank Resources</h2>
                    </a>
                </div>
                <div class="card-img-top">
                    <a href="resources/oyster-tank">
                        <img class="preview img-cover rounded-bottom" height="220" src="assets/img/placeholders/oyster-tank.jpg">
                    </a>
                </div>
                <div class="card-body">
                    Includes: oyster tank guide, supply list
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a href="resources/multimedia">
                    <h2>Maps and Multimedia Resources</h2>
                    </a>
                </div>
                <div class="card-img-top">
                    <a href="resources/oyster-tank">
                        <img class="preview img-cover rounded-bottom" height="220" src="assets/img/placeholders/multimedia.png">
                    </a>
                </div>
                <div class="card-body">
                    Includes: maps, presentations, videos
                </div>
            </div>
        </div>
    </div>
    
    <h2 class="text-center">Lesson Resources</h2>
    <p class="text-center">A sortable list of every resource that appears in every BOP lesson</p>
    <table class="table table-sm table-bordered table-striped table-hover" id="resources">
        <thead>
            <tr>
                {{ if $.flags.admin }}
                <th>Edit</th>
                {{ end }}
                <th>Name</th>
                <th>Type</th>
                <th>Categories</th>
                <th>Description</th>
                <th>Lesson</th>
            </tr>
        </thead>
        <tbody>
            {{ range $i, $resource := $resources }}
            <tr>
                {{ if $.flags.admin }}
                <td>
                    <a href="/resources/editor?id={{ $resource._id }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                {{ end }}
                <td>
                    <a href="{{ $resource.link }}" target="blank">
                        {{ $resource.name }}
                    </a>
                </td>
                <td>
                    {{ if $resource.type }}
                    {{ $resource.type }}
                    {{ end }}
                </td>
                <td>
                    {{ if $resource.categories }}
                    {{ join $resource.categories ", " }}
                    {{ end }}
                </td>
                <td>
                    {{ if $resource.description }}
                    {{ $resource.description }}
                    {{ end }}
                </td>
                <td></td>
            {{ end }}

    
    <script type="text/javascript">
        $(function(){
            $('#resources').DataTable({
                searching:      true,
                paging:         false,
                info:           false,
            });
        });
    </script>