---
page:
    body_class: 'orgs-list fill-content'
    view: 'Resources'

bindings:

-   name:     lessons
    resource: '/api/lessons'
    params:
        limit:    false
        sort:     unit
---
{{ $lessons := $.bindings.lessons }}

<section class="content">
    
    <table class="table table-sm table-bordered table-striped table-hover" id="resources">
        <thead>
            <tr>
                {{ if $.flags.admin }}
                <th>Edit</th>
                {{ end }}
                <th>Name</th>
                <th>Type</th>
                <th>Category</th>
                <th>Description</th>
                <th>Lesson</th>
            </tr>
        </thead>
        <tbody>
            {{ range $i, $lesson := $lessons }}
            {{ if and $lesson.materialsResources (eqx $lesson.status "published") }}

            {{ if $lesson.materialsResources.handoutLinks }} 
            {{ $handoutLinks := uniqByKey $lesson.materialsResources.handoutLinks "name" }} 
            {{ range $j, $handoutLink := $handoutLinks }}
            <tr>
                {{ if $.flags.admin }}
                <td>
                    <a href="">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                {{ end }}
                <td><a href="{{ $handoutLink.link }}" target="blank">{{ $handoutLink.name }}</a></td>
                <td>student handout (link)</td>
                <td></td>
                <td></td>
                <td>
                    <a href="/lessons/{{ $lesson._id }}" target="blank">
                    {{ $lesson.title }}
                    </a>
                </td>
            </tr>
            {{ end }}
            {{ end }}

            {{ if $lesson.materialsResources.handoutsFileInput }} 
            {{ $handoutFileInputs := $lesson.materialsResources.handoutsFileInput }} 
            {{ range $j, $handoutFileInput := $handoutFileInputs }}
            <tr>
                {{ if $.flags.admin }}
                <td>
                    <a href="">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                {{ end }}
                <td><a href="{{ $handoutFileInput.path }}" target="blank">{{ $handoutFileInput.originalname }}</a></td>
                <td>student handout (file upload)</td>
                <td></td>
                <td></td>
                <td>
                    <a href="/lessons/{{ $lesson._id }}" target="blank">
                    {{ $lesson.title }}
                    </a>
                </td>
            </tr>
            {{ end }}
            {{ end }}

            {{ if $lesson.materialsResources.lessonMaterialLinks }} 
            {{ $lessonMaterialLinks := $lesson.materialsResources.lessonMaterialLinks }} 
            {{ range $j, $lessonMaterialLink := $lessonMaterialLinks }}
            <tr>
                {{ if $.flags.admin }}
                <td>
                    <a href="">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                {{ end }}
                <td><a href="{{ $lessonMaterialLink.link }}" target="blank">{{ $lessonMaterialLink.name }}</a></td>
                <td>class resource</td>
                <td></td>
                <td></td>
                <td>
                    <a href="/lessons/{{ $lesson._id }}" target="blank">
                    {{ $lesson.title }}
                    </a>
                </td>
            </tr>
            {{ end }}
            {{ end }}

            {{ if $lesson.materialsResources.teacherResourcesFiles }} 
            {{ $teacherResourcesFiles := $lesson.materialsResources.teacherResourcesFiles }} 
            {{ range $j, $teacherResourcesFile := $teacherResourcesFiles }}
            <tr>
                {{ if $.flags.admin }}
                <td>
                    <a href="">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                {{ end }}
                <td>
                    <a href="{{ $teacherResourcesFile.path }}" target="blank">
                        {{ $teacherResourcesFile.originalname }}
                    </a>
                </td>
                <td>teacher resource (file upload)</td>
                <td></td>
                <td></td>
                <td>
                    <a href="/lessons/{{ $lesson._id }}" target="blank">
                    {{ $lesson.title }}
                    </a>
                </td>
            </tr>
            {{ end }}
            {{ end }}

            {{ if $lesson.materialsResources.teacherResourcesLinks }} 
            {{ $teacherResourcesLinks := $lesson.materialsResources.teacherResourcesLinks }} 
            {{ range $j, $teacherResourcesLink := $teacherResourcesLinks }}
            <tr>
                {{ if $.flags.admin }}
                <td>
                    <a href="">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                {{ end }}
                <td>
                    <a href="{{ $teacherResourcesLink.link }}" target="blank">
                        {{ if $teacherResourcesLink.name }}
                        {{ $teacherResourcesLink.name }}
                        {{ else }}
                        {{ $teacherResourcesLink.link }}
                        {{ end }}
                    </a>
                </td>
                <td>teacher resource (link)</td>
                <td></td>
                <td></td>
                <td>
                    <a href="/lessons/{{ $lesson._id }}" target="blank">
                    {{ $lesson.title }}
                    </a>
                </td>
            </tr>
            {{ end }}
            {{ end }}

            {{  end }}
            {{ end }}
        </tbody>
    </table>
</section>
    
    <script type="text/javascript">
        $(function(){
            $('#resources').DataTable({
                searching:      true,
                paging:         false,
                info:           false,
            });
        });
    </script>