---
page:
    body_class: 'site-details'
    view: 'Field Report'
    notitle: true

bindings:
-   name:	  'expedition'
    resource: '/api/expeditions/{{ param 1 }}'

-   name:     'schoolOrg'
    resource: '/api/expeditions/{{ $.bindings.expedition.teamLead.schoolOrg }}'
    only_if:  '{{ isEmpty $.bindings.expedition.team }}'

-   name:     'allSessileOrganisms'
    resource: '/api/sessile-organisms'
    params:
        limit: 1000
---

{{ $expedition        := $.bindings.expedition }}
{{ $schoolOrg         := or $.bindings.expedition.team.schoolOrg $.bindings.schoolOrg }}
{{ $oysterMeasurement := get $.bindings.expedition "protocols.oysterMeasurement" }}
{{ $siteCondition     := get $.bindings.expedition "protocols.siteCondition" }}
{{ $mobileTrap        := get $.bindings.expedition "protocols.mobileTrap" }}
{{ $sessileOrganism   := get $.bindings.expedition "protocols.settlementTiles" }}
{{ $waterQuality      := get $.bindings.expedition "protocols.waterQuality" }}
{{ $substrateShells   := get $.bindings.expedition "protocols.oysterMeasurement.measuringOysterGrowth.substrateShells" }}
{{ $baselines         := get $.bindings.expedition "station.baselines" }}
{{ $mobileOrganisms   := get $.bindings.expedition "protocols.mobileTrap.mobileOrganisms" }}
{{ $settlementTiles   := get $.bindings.expedition "protocols.settlementTiles.settlementTiles" }}
{{ $samples           := get $.bindings.expedition "protocols.waterQuality.samples" }}

{{ range $i, $tile := $settlementTiles }}
{{   $tileKey  := (printf "tileTotals.%d" $i) }}
{{   $totalKey := (printf "%s.total" $tileKey) }}
{{   range $gridName, $grid := $tile }}
{{     if hasPrefix $gridName "grid" }}
{{       $oid := get $grid "organism._id" }}
{{       if $oid }}
{{         increment $totalKey }}
{{         incrementByValue $tileKey $oid }}
{{       end }}
{{     end }}
{{   end }}
{{   if (get $.vars $totalKey) }}
{{     increment "populatedTileCount" 25 }}
{{   else }}
{{     var $tileKey `` }}
{{   end }}
{{ end }}

{{ range $tile, $totals := $.vars.tileTotals }}
{{   range $name, $count := mapify $totals }}
{{     if nex $name "total" }}
{{       incrementByValue "finalTileCounts" $name $count }}
{{     end }}
{{   end }}
{{ end }}

<section class="content shaded pt-1 row">
    <div class="col-md-10 col-sm-12">
        <h1 class="text-left pb-2">
            Expedition Field Report: 
            <br/>
            "{{ $expedition.name }}"
        </h1>

        {{ if isMap $expedition.station.site }}
        <p class="mb-1"><i class="fa fa-fw fa-map-marker"></i>
            {{ $expedition.station.site.name }}, {{ $expedition.station.site.bodyOfWater }}
        </p>
        <p class="mb-1"><i class="fa fa-fw fa-globe"></i>
            {{ $expedition.station.site.boroughCounty }}, {{ $expedition.station.site.state }}
        </p>
        {{ end }}
        <p class="mb-1"><i class="fa fa-fw fa-calendar"></i>
            {{ time $expedition.monitoringEndDate "January 1, 2006, 3:04pm"  }}
        </p>
    </div>

    <div class="col-md-2 col-sm-12 text-right pt-2">
        {{ if or (eqx $expedition.teamLead._id $.bindings.user._id) $.flags.admin }}
        <a
            href="/expeditions/submit?id={{ $expedition._id }}&step=enterdata1"
            class="btn btn-primary mb-2"
        >
            <i class="fa fa-pencil"></i>
            Edit Expedition
        </a>
        {{ end }}

        <br >
        <a href="/api/expeditions/{{ $expedition._id }}" target="_blank">
            <i class="fa fa-external-link-square"></i>
            View in API
        </a>
    </div>
</section>


<div class="row no-gutters site-jumbotron">
    <div class="col">
        <div id="siteMap"></div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        mapboxgl.accessToken = '{{ $.page.mapbox.key }}';

        var map = new mapboxgl.Map({
            container: 'siteMap',
            style: 'mapbox://styles/{{ qs "style" $.page.mapbox.style }}',
            failIfMajorPerformanceCaveat: true,
            center: [{{ $expedition.station.site.longitude }}, {{ $expedition.station.site.latitude }}],
            zoom:   13,
        });

        map.on('load', function(){
            map.addLayer({
                "id": "sites",
                "type": "circle",
                "source": {
                    "type": "geojson",
                    "data": {
                        "type": "FeatureCollection",
                        "features": [{
                            "type": "Feature",
                            "geometry": {
                                "type": "Point",
                                "coordinates": [
                                    {{ $expedition.station.site.longitude }},
                                    {{ $expedition.station.site.latitude }}
                                ],
                            },
                        }],
                    },
                },
                "layout": {
                },
                "paint": {
                    "circle-radius": 7,
                    "circle-color": "#415980",
                    "circle-stroke-width": 2,
                    "circle-stroke-color": "#FFFFFF",
                },
            })
        });
    });
</script>

<section class="content shaded">
<h2>Expedition Metadata</h2>
    <p>
        Metadata is information about the monitoring expedition.  This includes the people
        who conducted the expedition, the type of structure, and the date/location information above.
    </p>

    <ul class="list-unstyled row">
        <li class="media col-6 mt-4">
            {{ if $expedition.station.photo }}
            <img
                class="img-thumbnail mr-3"
                style="max-width: 100px; height: auto;"
                src="{{ rxreplace $expedition.station.photo.path `^http:` `https:` }}"
                alt="{{ $expedition.team.schoolOrg.name }}'s ORS"
            >
            {{ else }}
            <img
                class="img-thumbnail mr-3"
                style="max-width: 100px; height: auto;"
                src="assets/img/placeholders/ors-drawing.png"
                alt="Placeholder image">
            {{ end }}
            <div class="media-body">
                <strong>Oyster Structure Name:</strong> "{{ $expedition.station.name }}"
                {{ if $expedition.station.structureType }}
                <br>
                <strong>Oyster Structure Type:</strong> {{ titleize (replace $expedition.station.structureType "-" " " -1) }}
                {{ end }}
            </div>
        </li>

        <li class="media col-6 mt-4">
            {{ if $expedition.team.photo.path }}
            <img
            class="img-thumbnail mr-3"
            style="max-width: 100px; height: auto;"
            src="{{ rxreplace $expedition.team.photo.path `^http:` `https:` }}"
            alt="{{ $expedition.team.name }}'s profile image'"
            >            
            {{ else if and ($expedition.teamLead.profileImageURL) (not (contains $expedition.teamLead.profileImageURL `modules/`)) }}
            <img
                class="img-thumbnail mr-3"
                style="max-width: 100px; height: auto;"
                src="{{ rxreplace $expedition.teamLead.profileImageURL `^http:` `https:` }}"
                alt="{{ $expedition.teamLead }}'s profile image'"
            >
            {{ else }}
            <img
                class="img-thumbnail mr-3"
                style="max-width: 100px; height: auto;"
                src="/assets/img/placeholders/oysterfriend-happy.png"
                alt="Placeholder image">
            {{ end }}
            <div class="media-body">
                    <strong>Team Lead:</strong> {{ $expedition.teamLead.displayName }} 
                    {{ if $expedition.teamLead.teamLeadType }}
                    <br/>
                    <strong>Team Lead Type:</strong> {{ $expedition.teamLead.teamLeadType }}
                    {{ end }}
                    <br/>
                    <strong>Team Name:</strong> {{ $expedition.team.name }}
            </div>
        </li>

        <li class="media col-6 mt-4">
            <!--A lot of photos have http instead of https and aren't showing up!-->
            {{ if $schoolOrg.photo.path }}
            <img
                class="img-thumbnail mr-3"
                style="max-width: 100px; height: auto;"
                src="{{ rxreplace $schoolOrg.photo.path `^http:` `https:` }}"
                alt="{{ $schoolOrg.name }}'s profile picture"
            >
            {{ else }}
            <img
                class="img-thumbnail mr-3"
                style="max-width: 100px; height: auto;"
                src="assets/img/placeholders/vertical-placeholder-org.png"
                alt="Placeholder image"
            >
            {{ end }}
            <div class="media-body">
                <strong>Organization Name:</strong> {{ $schoolOrg.name }}
                <br >
                <strong>Organization Location:</strong>
                <a href="https://www.google.com/maps/search/?api=1&amp;query={{ $schoolOrg.streetAddress }}, {{ $schoolOrg.city }}, {{ $schoolOrg.state }}" target="_blank">
                    {{ $schoolOrg.streetAddress }}, {{ $schoolOrg.city }}, {{ $schoolOrg.state }}
                </a>
                <br/>
                <strong>Organization Type:</strong> {{ titleize (replace $schoolOrg.organizationType "-" " " -1) }}
                <br/>
                {{ if $schoolOrg.schoolType }}
                <strong>School Type:</strong> {{ titleize (replace $schoolOrg.schoolType "-" " " -1) }}
                {{ end }}
            </div>
        </li>

        {{ if or $expedition.adultCount $expedition.childCount }}
        <li class="media col-6 mt-4">
            <div class="media-body">
                <strong>Number of Adults:</strong> {{ $expedition.adultCount }}
                <br >

                <strong>Number of Students:</strong> {{ $expedition.childCount }}
                <br >
            </div>
        </li>
        {{ end }}
    </ul>
    {{ if $expedition.notes }}
    <p>
        <strong>Expedition Notes:</strong> {{ $expedition.notes }}
    </p>
    {{ end }}
</section>

<section class="content">
    <h2>Expedition Data</h2>
    <p>Billion Oyster Project is working to understand the best methods and locations to restore oysters in New York Harbor.
        We also want to understand what benefits to the harbor, or "ecosystem services," oysters might provide.
        You help us conduct this research by collecting data on:
        <ul>
            <li>Measures of oyster performance (mortality, growth, and recruitment)</li>
            <li>Factors that affect oyster performance (including site conditions and water quality)</li>
            <li>Diversity and abundance of non-oyster species (mobile and sessile organisms)</li>
        </ul>
        The data in this expedition represents one piece of a larger dataset that is growing with your help!
        To view data from multiple expeditions, use the <a href="https://platform-beta.bop.nyc/data">View Data</a> page.

    </p>

    <!--Oyster Measurements-->
    {{ if $oysterMeasurement }}
    <div class="card border-1 mb-2">
        <div class="card-header" id="oysterMeasurementsData">
            <section class="shaded collapsed" data-toggle="collapse" data-target="#oysterMeasurement">
                <h3>Oyster Measurements</h3>
                <div class="step-toggle">
                    <i class="fa"></i>
                </div>
            </section>
        </div>

        <div id="oysterMeasurement" class="collapse" aria-labelledby="addOysterMeasurements" data-parent="#accordion">
            <div class="card-body">
                <p>
                    This protocol captures data on oyster mortality (how many oysters survived)
                    and growth (how long each live oyster is, measured in millimeters).
                    <!-- Learn more. -->
                </p>

                <p>
                    <strong>Contributor for this protocol:</strong>
                        {{ get $oysterMeasurement `scribeMember.displayName` }}
                </p>

                {{ if $oysterMeasurement.notes }}
                <p><strong>Oyster Measurements Notes:</strong>
                    <br/>
                    {{ $oysterMeasurement.notes }}
                </p>
                {{ end }}

                {{ if $oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage }}
                <div class="row">
                    <div class="col-6">
                        <li class="media">
                            {{ if $expedition.station.photo }}
                            <img
                                class="img-thumbnail mr-3"
                                style="max-width: 100px; height: auto;"
                                src="{{ $expedition.station.photo.path }}"
                                alt="{{ $expedition.teamLead.displayName }}'s ORS"
                            >
                            {{ else }}
                            <img
                                class="img-thumbnail mr-3"
                                style="max-width: 100px; height: auto;"
                                src="assets/img/placeholders/ors.jpg"
                                alt="Placeholder image">
                            {{ end }}
                            <div class="media-body">
                                <p class="mt-0 mb-1">
                                    <strong>Bioaccumulation on Cage:</strong>
                                    <br/>

                                    {{ $bio := (firstByKey $.page.bioaccumulations "id" $oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage) }}
                                    {{ get $bio "name" }} &ndash; {{ get $bio "summary" }}
                                </p>
                            </div>
                        </li>
                    </div>
                </div>
                {{ end }}

                <div class="mt-3">
                    <!--Need a function here to hide this entire section if there is no oyster mortality or growth data (unlikely but possible)-->
                    <h4>Summary Data for This Expedition</h4>
                    <table class="table table-bordered">
                        
                        {{ $allCounts       := (pluck (get $oysterMeasurement "measuringOysterGrowth.substrateShells") "totalNumberOfLiveOystersOnShell") }}
                        {{ $allMeasurements := (pluck (flatten (pluck (get $oysterMeasurement "measuringOysterGrowth.substrateShells") "measurements")) "sizeOfLiveOysterMM") }}

                        <caption>Summary data including the total number of live oysters and the average, largest, and smallest oyster lengths.</caption>
                        <tbody>
                            
                            <tr>
                                <th scope="row">Total # of Live Oysters</th>
                                <!--<td>{{ sum $allCounts }}</td>-->
                                <td>{{ $expedition.protocols.oysterMeasurement.totalNumberOfAllLiveOysters }}</td>
                            </tr>

                            <tr>
                                <th scope="row">Average Oyster Length (the "mean")</th>
                                <!--<td>{{ mean $allMeasurements }} mm</td>-->
                                <td>{{ round $expedition.protocols.oysterMeasurement.averageSizeOfAllLiveOysters 2 }} mm</td>
                            </tr>

                            <tr>
                                <th scope="row">Smallest Oyster (the "minimum" or "min")</th>
                                <!--<td>{{ minimum $allMeasurements }} mm</td>-->
                                <td>{{ $expedition.protocols.oysterMeasurement.minimumSizeOfAllLiveOysters }} mm</td>
                            </tr>

                            <tr>
                                <th scope="row">Largest Oyster (the "maximum" or "max")</th>
                                <!--<td>{{ maximum $allMeasurements }} mm</td>-->
                                <td>{{ $expedition.protocols.oysterMeasurement.maximumSizeOfAllLiveOysters }} mm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card border-1 mb-2">
                    <div class="card-header" id="oysterMortalityData">
                        <section class="shaded collapsed" data-toggle="collapse" data-target="#oysterMortality">
                            <h4>Oyster Mortality Data and Visualizations</h4>
                            <div class="step-toggle">
                                <i class="fa"></i>
                            </div>
                        </section>
                    </div>
                    <div id="oysterMortality" class="collapse" aria-labelledby="oysterMortalityData" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                We can represent data on oyster mortality (how many oysters survived) in multiple ways.
                                One format is a <strong>bar chart</strong>- this one shows the number of live oysters on each substrate shell during this expedition.
                            </p>
                            <p>
                                (You can hover over a bar to display the exact number. 
                                Click the <i class="fa fa-floppy-o"></i> icon to explore the graph in <a href="https://plot.ly/" target="blank">Plot.ly</a>).
                            </p>
                            <figure class="figure">
                                <div id="div_barplot_number_oysters"></div>
                                <figcaption class="figure-caption">The number of live oysters per substrate shell for this expedition.</figcaption>
                            </figure>
            
            
                            <!--Well this doesn't work
                                Need a function here to hide this paragraph and chart if there is only one expedition
                                            <p>
                                                We can also combine two bar charts to make comparisons between two datasets.
                                                This one uses different color bars to compare the number of live oysters at baseline vs. this expedition:
                                            </p>
                                <p><strong>Bar Chart: Number of Live Oysters, Baseline vs. This Expedition</strong></p>
                            <div>
                                <figure class="figure">
                                    <div id="div_double_barplot_number_oysters"></div>
                                    <figcaption class="figure-caption">The number of live oysters per substrate shell during the baseline expedition (in orange) and during this expedition (in blue).</figcaption>
                                </figure>
                            </div>
                            -->
            
                            <div class="mt-3">
                                <p>A table is another way to visualize data using rows and columns.
                                        This table uses a different row for each tagged substrate shell.
                                        It uses different columns to show the tag number, the source (where the oyster parents were from), and the number of live oysters during this expedition.
                                </p>
                                <strong>Table: Live Oysters Per Substrate Shell</strong>
                                <table class="table table-bordered table-sm">
                                    <caption>The source and number of live oysters on each substrate shell for this expedition.
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th scope="col">Tag #</th>
                                            <th scope="col">Source</th>
                                            <th scope="col"># of live oysters this expedition</th>
                                            <!--Commenting things out now that we know all of the baselines are a mess
                                            <th scope="col"># of live oysters last expedition</th>
                                            <th scope="col">Percent Mortality </th>-->
                                        </tr>
                                    </thead>
            
                                    <tbody>
                                        {{ range $i, $substrateShell := $substrateShells }}
                                        <tr>
                                            <th scope="row">{{ $substrateShell.substrateShellNumber }}</th>
                                            <td>Muscongus Bay, ME</td>
                                            <td>{{ $substrateShell.totalNumberOfLiveOystersOnShell }}</td>
                                        </tr>
                                        {{ end }}
            
                                        <tr>
                                            <th scope="row">TOTAL</th>
                                            <td></td>
                                            <td>{{ $oysterMeasurement.totalNumberOfAllLiveOysters }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card border-1 mb-2">
                    <div class="card-header" id="oysterGrowthData">
                        <section class="shaded collapsed" data-toggle="collapse" data-target="#oysterGrowth">
                            <h4>Oyster Growth Data and Visualizations</h4>
                            <div class="step-toggle">
                                <i class="fa"></i>
                            </div>
                        </section>
                    </div>
                    <div id="oysterGrowth" class="collapse" aria-labelledby="oysterGrowthData" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                Different types of graphs can help you assess how well the oysters are growing at your site.
            
                                A bar chart is one way to visualize the lengths of each oyster.
                                During this expedition there were <span class="text-callout">{{ $oysterMeasurement.totalNumberOfAllLiveOysters }}</span> live oysters total.
            
                                This chart uses one bar to represent each live oyster's length, so there are <span class="text-callout">{{ $oysterMeasurement.totalNumberOfAllLiveOysters }}</span> bars.
                                The bars are sorted in order from smallest to largest.
                            </p>
                            <p>
                                (You can hover over a bar to display the exact measurement. 
                                Click the <i class="fa fa-floppy-o"></i> icon to explore the graph in <a href="https://plot.ly/" target="blank">Plot.ly</a>).
                            </p>
            
                            <figure class="figure">
                                <div id="div_barplot_oyster_size"></div>
                                <figcaption class="figure-caption">The length, in millimeters, of each live oyster measured during this expedition, sorted from smallest to largest.</figcaption>
                            </figure>
            
                            <p>
                                A <strong>frequency distribution histogram</strong> is a different way to visualize the lengths of the live oysters.
                                The <strong>frequency</strong> is how many times an observation appeared in the dataset, and the <strong>distribution</strong> is the grouping of the observations.
                                This one splits all of the oyster measurements into even-sized groups, or "bins," by length (in 5mm increments)
                                and tells you how many oysters are in each group.
                                A histogram is a good way to view patterns and to condense a large dataset into a smaller, more readable graph.
                            </p>
                                
                            <p>
                                (You can hover over the graph to display the exact # of oysters in each bin.
                                Click the <i class="fa fa-floppy-o"></i> icon to explore the graph in <a href="https://plot.ly/" target="blank">Plot.ly</a>).
                            </p>
                            
                            <figure class="figure">
                                <div id="div_oyster_size"></div>
                                <div id="div_number_oysters"></div>
                                <figcaption class="figure-caption"></figcaption>
                            </figure>
            
                            <p>
                                A <strong>box plot</strong> is another way to visualize the oyster measurement dataset.
                                This box plot shows you what the smallest (min), largest (max), average (mean), and "normal" range of oyster measurements were for this expedition.
                            </p>
                            <ul>
                            <li>The bottom and top lines represent the <strong>min</strong> and <strong>max</strong> oyster measurements.
                                These lines show us the <strong>range</strong> of oyster measurements for this expedition.
                            </li>
                            <li>The line in the middle of the box represents the <strong>mean</strong> oyster measurement. </li>
                            <li>The top and bottom lines of the box represent the <strong>standard deviation</strong> above and below the mean oyster measurement.
                                (It's okay if you don't know what a standard deviation is- it's a way of showing what's considered "normal" in a dataset.
                                <!-- You can learn about standard deviation here. -->
                                )</li>
                            </ul>
                            <p>
                                (You can hover over this graph to view exact numbers. 
                                Click the <i class="fa fa-floppy-o"></i> icon to explore the graph in <a href="https://plot.ly/" target="blank">Plot.ly</a>.)
                            </p>

                            <div>
                                <figure class="figure">
                                    <div id="div_boxplot_oyster_size"></div>
                                    <figcaption class="figure-caption"></figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header" id="rawData">
                        <section class="shaded collapsed" data-toggle="collapse" data-target="#raw">
                            <h4>Raw Data</h4>
                            <div class="step-toggle">
                                <i class="fa"></i>
                            </div>
                        </section>
                    </div>
                    <div id="raw" class="collapse" aria-labelledby="rawData" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                The table below shows the length of each live oyster.
                                This is the "raw data" that was used to make the bar chart, histogram, and box plot above.
                            </p>
                            <div class="mt-3">
                                <h4>Table: Oyster Lengths</h4>
                                <table class="table table-bordered table-sm">
                                    <caption>Oyster Lengths</caption>
                                    <thead>
                                        <tr>
                                            <th scope="col">Tag #</th>
                                            <th scope="col">Oyster Length (mm)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{ range $i, $substrateShell := $substrateShells }}
                                        {{   range $j, $measurement := $substrateShell.measurements  }}
                                        {{      if $measurement.sizeOfLiveOysterMM }}
                                        <tr>
                                            <td>{{ $substrateShell.substrateShellNumber }}</td>
                                            <td>{{ $measurement.sizeOfLiveOysterMM }}</td>
                                        </tr>
                                        {{      end }}
                                        {{   end }}
                                        {{ end }}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                {{ if or (count (compact (apply (pluck $substrateShells "outerSidePhoto.path") "trim"))) (count (compact (apply (pluck $substrateShells "innerSidePhoto.path") "trim"))) }}
                <h4>Oyster Measurements Photos</h4>
                {{ range $i, $substrateShell := $substrateShells }}
                <div class="mt-3">
                    <div class="row">

                    {{  if $substrateShell.outerSidePhoto.path }}
                        <figure class="col-xl-3 col-lg-4 col-md-6 col-sm-12 text-center figure">
                            <img
                                src="{{ rxreplace $substrateShell.outerSidePhoto.path `^http:` `https:` }}"
                                alt="outer side substrate shell photo"
                            >
                            <figcaption class="figure-caption">Substrate Shell #{{ $substrateShell.substrateShellNumber }}, outer side</figcaption>
                        </figure>
                    {{  end }}

                    {{   if $substrateShell.innerSidePhoto.path }}
                        <figure class="col-xl-3 col-lg-4 col-md-6 col-sm-12 text-center figure">
                            <img
                                src="{{ rxreplace $substrateShell.innerSidePhoto.path `^http:` `https:` }}"
                                alt="inner side substrate shell photo">
                            <figcaption class="figure-caption">Substrate Shell #{{ $substrateShell.substrateShellNumber }}, inner side</figcaption>
                        </figure>
                    {{  end }}
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}

    <!--Site Conditions-->
    {{ if $siteCondition }}
    <div class="card border-1 mb-2">
        <div class="card-header" id="siteConditionsData">
            <section class="shaded collapsed" data-toggle="collapse" data-target="#siteConditions">
                <h3>Site Conditions</h3>
                <div class="step-toggle">
                    <i class="fa"></i>
                </div>
            </section>
        </div>

        <div id="siteConditions" class="collapse" aria-labelledby="siteConditionsData" data-parent="#accordion">
            <div class="card-body">
                <p>
                    This protocol captures data on meteorological conditions, recent rainfall,
                    and the environmental conditions of the land and water, including pollution and garbage. Site Conditions
                    can affect oysters by impacting water quality, particularly through Combined Sewer Overflows.
                    <!-- Learn more. -->
                </p>

                <p>
                    <strong>Contributor for this protocol:</strong>
                        {{ get $siteCondition `scribeMember.displayName` }}
                </p>

                {{ if $siteCondition.notes }}
                <p><strong>Site Conditions Notes:</strong>
                    <br/>
                    {{ $siteCondition.notes }}
                </p>
                {{ end }}


                {{ if $siteCondition.meteorologicalConditions }}
                <h4>Meteorological Conditions</h4>
                {{ end }}

                <table class="table table-bordered table-sm w-75">
                    <tbody>
                        {{ if $siteCondition.meteorologicalConditions.weatherConditions }}
                        <tr>
                            <th scope="row"><i class="wi wi-fw {{ get (firstByKey $.page.weatherConditions `id` $siteCondition.meteorologicalConditions.weatherConditions ) `icon` }} mr-2"></i><strong>Weather</strong> </th>
                            <td >{{ get (firstByKey $.page.weatherConditions "id" $siteCondition.meteorologicalConditions.weatherConditions) "label" }}</td>
                        </tr>
                        {{ end }}
                        {{ if $siteCondition.meteorologicalConditions.airTemperatureC }}
                        <tr>
                            <th scope="row"><i class="wi wi-fw wi-thermometer mr-2"></i><strong>Air temperature</strong></th>
                            <td>{{ $siteCondition.meteorologicalConditions.airTemperatureC }} &#8451</td>
                        </tr>
                        {{ end }}
                        {{ if $siteCondition.meteorologicalConditions.windSpeedMPH }}
                        <tr>
                            <th scope="row"><i class="wi wi-fw wi-strong-wind mr-2"></i><strong>Wind speed</strong></th>
                            <td>{{ $siteCondition.meteorologicalConditions.windSpeedMPH }} MPH</td>
                        </tr>
                        {{ end }}
                        {{ if $siteCondition.meteorologicalConditions.windDirection }}
                        <tr>
                            <th scope="row">
                                <i class="wi wi-fw wi-wind {{ get (firstByKey $.page.windDirections `id` $siteCondition.meteorologicalConditions.windDirection ) `icon` }} mr-2"></i>
                                <strong>Wind direction</strong>
                            </th>
                            <td>{{ $siteCondition.meteorologicalConditions.windDirection }}</td>
                        </tr>
                        {{ end }}
                        {{ if $siteCondition.meteorologicalConditions.humidityPer }}
                        <tr>
                            <th scope="row"><i class="wi wi-fw wi-humidity mr-2"></i><strong>Humidity</strong></th>
                            <td>{{ $siteCondition.meteorologicalConditions.humidityPer }}%</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>

                {{ if $siteCondition.recentRainfall }}
                <h4>Recent Rainfall</h4>
                {{ end }}

                <table class="table table-bordered table-sm w-75">
                    <tbody>
                        
                        {{ if $siteCondition.recentRainfall.rainedIn7Days }}
                        <tr>
                            <th scope="row"><i class="wi wi-fw wi-raindrops mr-2"></i><strong>Has it rained in the past 7 days?</strong></th>
                            <td>{{ $siteCondition.recentRainfall.rainedIn7Days }}</td>
                        </tr>
                        {{ end }}
                        {{ if $siteCondition.recentRainfall.rainedIn72Hours }}
                        <tr>    
                            <th scope="row"><i class="wi wi-fw wi-raindrops mr-2"></i><strong>Has it rained in the past 72 hours?</strong></th>
                            <td>{{ $siteCondition.recentRainfall.rainedIn72Hours }}</td>
                            
                        </tr>
                        {{ end }}
                        {{ if $siteCondition.recentRainfall.rainedIn24Hours }}
                        <tr>
                            <th scope="row"><i class="wi wi-fw wi-raindrops mr-2"></i><strong>Has it rained in the past 24 hours?</strong></th>
                            <td>{{ $siteCondition.recentRainfall.rainedIn24Hours }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>


                {{ if $siteCondition.waterConditions }}
                <h4>Water Conditions</h4>
                {{ end }}

                <table class="table table-bordered table-sm w-75">
                    <tbody>
                        {{ if $siteCondition.waterConditions.surfaceCurrentSpeedMPS }}
                        <tr>
                            <th scope="row">Surface current speed</th>
                            <td>{{ round $siteCondition.waterConditions.surfaceCurrentSpeedMPS 2 }} MPS</td>
                        </tr>
                        {{ end }}
                        {{ if $siteCondition.waterConditions.waterColor }}
                        <tr>
                            <th scope="row">Describe the water color</th>
                            <td>{{ get (firstByKey $.page.waterColors "id" $siteCondition.waterConditions.waterColor) "label" }}</td>
                        </tr>
                        {{ end }}
                        {{ if $siteCondition.waterConditions.oilSheen }}
                        <tr>
                            <th scope="row"><i class="wi wi-fw wi-raindrop mr-2"></i>Is there an oil sheen present?</th>
                            <td>{{ $siteCondition.waterConditions.oilSheen }}</td>
                        </tr>
                        {{ end }}
                        {{ if $siteCondition.garbage.garbagePresent }}
                        <tr>
                            <th scope="row">Is there any garbage in the water?</th>
                            <td>{{ $siteCondition.garbage.garbagePresent }}</td>
                        </tr>
                        {{ end }}
                        {{ if $siteCondition.waterConditions.markedCombinedSewerOverflowPipes.howMuchFlowThrough }}
                        <tr>
                            <th scope="row"><i class="wi wi-fw wi-sandstorm mr-2"></i>Is there any flow through the Combined Sewer Overflow (CSO) pipes?</th>
                            <td>{{ $siteCondition.waterConditions.markedCombinedSewerOverflowPipes.howMuchFlowThrough }}</td>
                        </tr>
                        {{ end }}
                        {{ if $siteCondition.waterConditions.unmarkedOutfallPipes.howMuchFlowThrough }}
                        <tr>
                            <th scope="row"><i class="wi wi-fw wi-sandstorm mr-2"></i>Is there any flow through the unmarked/other pipes?</th>
                            <td>{{ $siteCondition.waterConditions.unmarkedOutfallPipes.howMuchFlowThrough }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ end }}

    <!--Mobile Organisms-->
    {{ if or $mobileTrap.mobileOrganisms $mobileTrap.notes }}
    <div class="card border-1 mb-2">
        <div class="card-header" id="mobileOrganismsData">
            <section class="shaded collapsed" data-toggle="collapse" data-target="#mobileOrganisms">
                <h3>Mobile Organisms</h3>
                <div class="step-toggle">
                    <i class="fa"></i>
                </div>
            </section>
        </div>

        <div id="mobileOrganisms" class="collapse" aria-labelledby="mobileOrganismsData" data-parent="#accordion">
            <div class="card-body">
                <p>
                    This protocol captures data on the abundance (how many) and composition (which species) of the mobile organisms (like crustaceans and fish)
                    that were in the Oyster Research Station during this expedition.
                    This tells us about how oysters might impact biodiversity in New York Harbor.
                    <!-- Learn more. -->
                </p>
                <p>
                    <strong>Contributor for this protocol:</strong>
                        {{ get $mobileTrap `scribeMember.displayName` }}
                </p>

                {{ if $mobileTrap.notes }}
                <p><strong>Mobile Organisms Notes:</strong>
                    <br/>
                    {{ $mobileTrap.notes }}
                </p>
                {{ end }}

                {{ if $mobileOrganisms }}
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Common Name</th>
                            <th scope="col">Scientific Name</th>
                            <th scope="col">Count</th>
                            <th scope="col">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $i, $mobileOrganism := $mobileOrganisms }}
                        <tr>
                            <td>{{ $mobileOrganism.organism.commonName }}</td>
                            <td><i>{{ $mobileOrganism.organism.latinName }}</i></td>
                            <td>{{ $mobileOrganism.count }}</td>
                            <td>{{ $mobileOrganism.notesQuestions }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                {{ end }}


                {{ if or (count (pluck $mobileOrganisms "sketchPhoto.path")) (count (pluck $mobileOrganisms "organism.image.path")) }}
                <h4>Mobile Organisms Photos</h4>
                <div class="row">
                {{ range $i, $mobileOrganism := $mobileOrganisms }}
                {{  if or (get $mobileOrganism "sketchPhoto.path") (get $mobileOrganism "organism.image.path") }}
                    <figure class="col-xl-3 col-lg-4 col-md-6 col-sm-12 text-center figure">
                        <img
                            {{ if get $mobileOrganism "sketchPhoto.path" }}
                            src="{{ rxreplace $mobileOrganism.sketchPhoto.path `^http:` `https:` }}"
                            {{ else if hasPrefix (get $mobileOrganism "organism.image.path") "http" }}
                            src="{{ rxreplace $mobileOrganism.organism.image.path `^http:` `https:` }}"
                            {{ else if hasPrefix (get $mobileOrganism "organism.image.path") "./" }}
                            src="/assets/img/placeholders/mobile-organisms/{{ underscore (rtrim (basename $mobileOrganism.organism.image.path) (extname $mobileOrganism.organism.image.path)) }}.png"
                            {{ end }}
                            alt="mobile organism photo"
                        >
                        <figcaption class="figure-caption">
                            {{ if get $mobileOrganism "sketchPhoto.path" }}
                            <strong>{{ $mobileOrganism.organism.commonName }}</strong>
                            (<i>{{ $mobileOrganism.organism.latinName }}</i>)
                            by {{ $schoolOrg.name }}
                            {{ else }}
                            <strong>{{ $mobileOrganism.organism.commonName }}</strong>
                            (<i>{{ $mobileOrganism.organism.latinName }}</i>)
                            from BOP's image gallery
                            {{ end }}
                        </figcaption>
                    </figure>
                {{  end }}
                {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}

    <!--Sessile Organisms-->
    {{ if $sessileOrganism }}
    <div class="card border-1 mb-2">
        <div class="card-header" id="sessileOrganismsData">
            <section class="shaded collapsed" data-toggle="collapse" data-target="#sessileOrganisms">
                <h3>Sessile Organisms</h3>
                <div class="step-toggle">
                    <i class="fa"></i>
                </div>
            </section>
        </div>

        <div id="sessileOrganisms" class="collapse" aria-labelledby="sessileOrganismsData" data-parent="#accordion">
            <div class="card-body">
                <p>
                    This protocol captures data on sessile organisms, which are creatures that don't move again after they anchor to one spot, like sponges, tunicates, and barnacles.
                    To measure this, we place a transparent grid with 25 points over each of the ORS's tiles, and identify which species is underneath each grid point.
                    This tells us about the potential for oyster reefs to provide a substrate for a variety of sessile species,
                    as well as how those species might change over time ("ecological succession").
                    <!-- Learn more. -->
                </p>

                <p>
                    <strong>Contributor for this protocol:</strong>
                        {{ get $sessileOrganism `scribeMember.displayName` }}
                </p>

                {{ if $sessileOrganism.notes }}
                <p><strong>Sessile Organisms Notes:</strong>
                    <br/>
                    {{ $sessileOrganism.notes }}
                </p>
                {{ end }}

                {{ if $sessileOrganism.settlementTiles }}
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Common Name</th>
                            <th scope="col">Scientific Name</th>
                            <th scope="col">Grid Points occupied (across all tiles)</th>
                            <th scope="col">Percent of grid points occupied (across all tiles)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $organismId, $count := $.vars.finalTileCounts }}
                        {{   $commonName := (get (firstByKey $.bindings.allSessileOrganisms "_id" $organismId ) "commonName") }}
                        {{   $latinName  := (get (firstByKey $.bindings.allSessileOrganisms "_id" $organismId ) "latinName") }}
                        <tr>
                            <td>{{ $commonName }}</td>
                            <td><i>{{ $latinName }}</i></td>
                            <td>{{ $count }} / {{ $.vars.populatedTileCount }}</td>
                            <td>{{ percent $count $.vars.populatedTileCount }}%</td>
                        </tr>
                        {{ end }}
                </table>
                {{ end }}

                {{ if (count (pluck $settlementTiles "tilePhoto.path")) }}
                <div class="mt-3">
                    <h4>Sessile Organisms Photos</h4>
                    <div class="row">
                    {{ range $i, $settlementTile := $settlementTiles }}
                    {{  if get $settlementTile "tilePhoto.path" }}
                        <figure class="col-xl-3 col-lg-4 col-md-6 col-sm-12 text-center figure">
                            <img
                                {{ if hasPrefix $settlementTile.tilePhoto.path "http" }}
                                src="{{ rxreplace $settlementTile.tilePhoto.path `^http:` `https:` }}"
                                {{ else if hasPrefix $settlementTile.tilePhoto.path "./" }}
                                src="/assets/img/placeholders/sessile-organisms/{{ underscore (rtrim (basename $settlementTile.tilePhoto.path) (extname $settlementTile.tilePhoto.path)) }}.png"
                                {{ end }}
                                alt="settlement tile photo"
                            >
                            <figcaption class="figure-caption">Settlement Tile #{{ add $i 1 }}</figcaption>
                        </figure>
                    {{  end }}
                    {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}

    <!--Water Quality-->
    {{ if $waterQuality }}
    <div class="card border-1 mb-2">
        <div class="card-header" id="waterQualityData">
            <section class="shaded collapsed" data-toggle="collapse" data-target="#waterQuality">
                <h3>Water Quality</h3>
                <div class="step-toggle">
                    <i class="fa"></i>
                </div>
            </section>
        </div>

        <div id="waterQuality" class="collapse" aria-labelledby="waterQualityData" data-parent="#accordion">
            <div class="card-body">
                    <p>
                        This protocol captures data on several different water quality parameters (temperature, salinity, dissolved oxygen, etc.)
                        that might affect oyster mortality and growth.
                        <!-- Learn more. -->
                    </p>

                    <p>
                        <strong>Contributor for this protocol:</strong>
                            {{ get $waterQuality `scribeMember.displayName` }}
                    </p>

                    {{ if $waterQuality.notes }}
                    <p><strong>Water Quality Notes:</strong>
                        <br/>
                        {{ $waterQuality.notes }}
                    </p>
                    {{ end }}

                    <!--Put something in to repeat for each sample-->
                    <!-- <h4>Water Sample # </h4> -->

                    {{ if $waterQuality.samples }}
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Water Quality Parameter</th>
                                <th scope="col">Method</th>
                                <th scope="col">Unit</th>
                                <th scope="col">Average of Results</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $i, $sample := $samples }}
                            {{  if $sample.waterTemperature.results }}
                                <tr>
                                    <td>Water Temperature</td>
                                    <td>{{ $sample.waterTemperature.method }}</td>
                                    <td>{{ $sample.waterTemperature.units }}</td>
                                    <td>{{ $sample.waterTemperature.average }}</td>
                                </tr>
                            {{  end }}
                            {{ if $sample.dissolvedOxygen.results }}
                                <tr>
                                    <td>Dissolved Oxygen</td>
                                    <td>{{ $sample.dissolvedOxygen.method }}</td>
                                    <td>{{ $sample.dissolvedOxygen.units }}</td>
                                    <td>{{ $sample.dissolvedOxygen.average }}</td>
                                </tr>
                            {{  end }}
                            {{ if $sample.salinity.results }}
                                <tr>
                                    <td>Salinity</td>
                                    <td>{{ $sample.salinity.method }}</td>
                                    <td>{{ $sample.salinity.units }}</td>
                                    <td>{{ $sample.salinity.average }}</td>
                                </tr>
                            {{  end }}
                            {{ if $sample.pH.results }}
                                <tr>
                                    <td>pH</td>
                                    <td>{{ $sample.pH.method }}</td>
                                    <td>{{ $sample.pH.units }}</td>
                                    <td>{{ $sample.pH.average }}</td>
                                </tr>
                            {{  end }}
                            {{ if $sample.turbidity.results }}
                                <tr>
                                    <td>Turbidity</td>
                                    <td>{{ $sample.turbidity.method }}</td>
                                    <td>{{ $sample.turbidity.units }}</td>
                                    <td>{{ $sample.turbidity.average }}</td>
                                </tr>
                            {{  end }}
                            {{ if $sample.ammonia.results }}
                                <tr>
                                    <td>Ammonia</td>
                                    <td>{{ $sample.ammonia.method }}</td>
                                    <td>{{ $sample.ammonia.units }}</td>
                                    <td>{{ $sample.ammonia.average }}</td>
                                </tr>
                            {{  end }}
                            {{ if $sample.nitrates.results }}
                                <tr>
                                    <td>Nitrates</td>
                                    <td>{{ $sample.nitrates.method }}</td>
                                    <td>{{ $sample.nitrates.units }}</td>
                                    <td>{{ $sample.nitrates.average }}</td>
                                </tr>
                            {{  end }}
                            <!--Figure out how to add in "other" parameters-->
                            {{ end }}
                        </tbody>
                    </table>
                    {{ end }}
            </div>
        </div>
    </div>
    {{ end }}

</section>

<script>
$(function(){
    expeditionPlots.renderExpeditionGraphs(JSON.parse('{{ jsonify $.bindings.expedition }}'));
})
</script>