---
page:
    view: 'Field Reports'
bindings:
-   name: myexpeditions
    resource: '/api/expeditions'
    params:
        noexpand:    true
        limit:       25
        q:           'teamLead/{{ $.bindings.user.id }}'
        conjunction: 'or'
        sort:        '-monitoringStartDate'

-   name: publishedExpeditions
    resource: '/api/expeditions'
    limit: 25
    params:
        noexpand: true
        q:        'status/published'
        sort:     '-monitoringStartDate'
---

<section class="content row">
    <div class="col-md-12 col-lg-6">
        <h2 class="text-center">My Recent Expeditions</h2>

        <ul class="list-group w-100">
            {{ range $i, $expedition := $.bindings.myexpeditions }}
            <li class="list-group-item">
                <i class="fa fa-fw fa-circle expeditions-status-{{ $expedition.status }}"></i>
                <a href="/data/field-reports/{{ $expedition._id }}">
                    <strong>{{ or $expedition.name "Untitled Expedition" }}</strong>
                    {{ if isTime $expedition.monitoringStartDate }}
                    &ndash; {{ time $expedition.monitoringStartDate "Monday, January 2, 2006" }}
                    {{ end }}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>

    <div class="col-md-12 col-lg-6">
        <h2 class="text-center">Other Recent Expeditions</h2>

        <ul class="list-group w-100">
            {{ range $i, $expedition := $.bindings.publishedExpeditions }}
            <li class="list-group-item">
                <i class="fa fa-fw fa-circle expeditions-status-{{ $expedition.status }}"></i>
                <a href="/data/field-reports/{{ $expedition._id }}">
                    <strong>{{ or $expedition.name "Untitled Expedition" }}</strong>
                    {{ if isTime $expedition.monitoringStartDate }}
                    &ndash; {{ time $expedition.monitoringStartDate "Monday, January 2, 2006" }}
                    {{ end }}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</section>