---
page:
    body_class: 'site-details'

bindings:
- name:		'site'
  resource: '/api/sites/{{ param 1 }}'

- name:     'stations'
  resource: '/api/restoration-stations'
  fallback: []
  params:
    q: 'siteId/{{ param 1 }}'

- name:     'relatedTeams'
  resource: '/api/teams'
  fallback: []
  not_if:   '{{ isEmpty $.bindings.stations }}'
  params:
    q: 'teamLeads/{{ join (uniq (pluck $.bindings.stations "teamLead._id")) "|" }}'
    fields: 'teamLead,teamLeads,name'
    expand: false

- name:     'relatedExpeditions'
  resource: '/api/expeditions'
  not_if:   '{{ isEmpty $.bindings.stations }}'
  params:
    q:      'station/{{ join (pluck $.bindings.stations "_id") "|" }}/status/published'
    sort:   '-monitoringStartDate'
    expand: false
    limit:  100

- name: 'photos'
  resource: '/api/expeditions/photos'
  not_if:   '{{ isEmpty $.bindings.relatedExpeditions }}'
  params:
    q: '_id/{{ join (pluck $.bindings.relatedExpeditions "_id") "|" }}'
---

{{ $site     := $.bindings.site }}
{{ $stations := $.bindings.stations }}
{{ $teams    := $.bindings.relatedTeams }}

{{ range $i, $relatedTeam := $teams }}
{{   push "people" $relatedTeam.teamLead }}
{{   if (isArray $relatedTeam.teamLeads) }}
{{      range $j, $tl := $relatedTeam.teamLeads }}
{{        push "people" $tl }}
{{      end }}
{{   end }}
{{ end }}

{{ $people      := uniq $.vars.people }}
{{ $schoolOrgs  := (uniqByKey (filterByKey (pluck $.bindings.stations "schoolOrg") "name" "{{ not (hasPrefix (lower .) `unaffiliated`) }}") "name") }}
{{ $expeditions := $.bindings.relatedExpeditions }}
{{ $photos      := head (shuffle $.bindings.photos) 25 }}

<h1 class="text-left pb-0">Field Report for Expedition ["Name"] on [Date]</h1>
<section class="content shaded pt-1">
    <i class="fa fa-fw fa-map-marker"></i>
</section>


<div class="row no-gutters site-jumbotron">
    <div class="col">
        <div id="siteMap">        <iframe
            src="https://platform-beta.bop.nyc/sites/map"
            frameborder="0"
            style="width: 100%; height: 250px;"
        ></iframe></div>

    </div>
</div>

<section class="content">
<h2>Expedition Metadata</h2>
    <p><em>Metadata means data about data...</em></p>
    
    <ul class="list-unstyled">
        <div class="row">
            <div class="col-6">
                <li class="media">
                    <img class="img-thumbnail mr-3" src="https://avatars0.githubusercontent.com/u/16782836?s=200&v=4" alt="Generic placeholder image">
                    <div class="media-body">
                        <p class="mt-0 mb-1"><strong>Type of structure:</strong> Oyster Research Station</p>
                        <strong>Structure name:</strong> "Wutang Clams"
                    </div>
                </li>
            </div>
        
            <div class="col-6">
                <li class="media">
                    <img class="img-thumbnail mr-3" src="https://avatars0.githubusercontent.com/u/16782836?s=200&v=4" alt="Generic placeholder image">
                    <div class="media-body">
                        <p class="mt-0 mb-1"><strong>Team Lead:</strong> Ms. Pacman</p>
                        <strong>Team Name:</strong> "Fake Team"
                    </div>
                </li>
            </div>
        
            <div class="col-6 mt-3">
                <li class="media">
                    <img class="img-thumbnail mr-3" src="https://avatars0.githubusercontent.com/u/16782836?s=200&v=4" alt="Generic placeholder image">
                    <div class="media-body">
                        <p class="mt-0 mb-1"><strong>Organization Name:</strong> P.S. 1</p>
                        <strong>Organization Location:</strong> Red Hook, Brooklyn
                    </div>
                </li>
            </div>

            <div class="col-6 mt-3">
                <li class="media">
                    <img class="img-thumbnail mr-3" src="https://avatars0.githubusercontent.com/u/16782836?s=200&v=4" alt="Generic placeholder image">
                    <div class="media-body">
                        <p class="mt-0 mb-1"><strong>Number of Adults:</strong> 3</p>
                        <strong>Number of Students:</strong> 30
                    </div>
                </li>
            </div>

        </div>
    </ul>
</section>

<section class="content">
    <h2>Expedition Data</h2>
    <p><em>Participants collect data following certain protocols...</em></p>
    
    <!--Oyster Measurements-->
    <div class="card border-1 mb-2">
        <div class="card-header" id="oysterMeasurementsData">
            <section class="shaded collapsed" data-toggle="collapse" data-target="#oysterMeasurement">
                <h3>Oyster Measurements</h3>
                <div class="step-toggle">
                    <i class="fa"></i>
                </div>
            </section>
        </div>

        <div id="oysterMeasurement" class="collapse" aria-labelledby="addOysterMeasurements" data-parent="#accordion">
            <div class="card-body">
                <p>
                    <em>This protocol captures data on oyster growth and mortality. Learn more.</em>        
                </p>
                
                <div class="container-fluid" style="border-radius: 2em; background-color: #EEEEEE; margin-bottom: 2em; padding: 1.5em;">
                    <strong>Contributors to this protocol:</strong>                              
                    <ul class="list-group"> 
                        <div class="row"> 
                            <div class="col-6">                             
                                <li class="list-group-item">
                                        Johnny Userface
                                </li> 
                            </div> 
                            <div class="col-6">
                                <li class="list-group-item">
                                        Sally Shrimphead
                                </li>
                            </div>                      
                        </div>
                    </ul>
                </div>

                <div class="card mt-3 mb-3">
                    <div class="card-header">
                        <strong>Notes:</strong>
                    </div>
                    <div class="card-body">
                        Sample text about what happened at the site when investigating oysters...
                    </div>
                </div>

                <ul class="list-unstyled">
                    <li class="media">
                        <div class="col-3">
                            <img class="mr-3 img-thumbnail" src="https://billionoysterproject.org/wp-content/uploads/2016/11/2016-05-03-15.41.27-1.jpg" alt="Generic placeholder image">
                        </div>
                        <div class="media-body">
                            <strong>Bioaccumulation on Cage:</strong>
                            tbh kinda a lot
                        </div>
                    </li>
                </ul>

                <div class="mt-3">
                    <h4>Table: Summary Data</h4>
                    <table class="table table-bordered">
                        <caption>Summary Data</caption> 
                        <tbody>
                            <tr>
                                    <th scope="row">Mortality (as a percentage, from baseline)</th>
                                    <td>50%</td>
                            </tr>
                            <tr>
                                <th scope="row">Growth Rate (as a percentage, from baseline)</th>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <th scope="row">Average Oyster Length (in mm, this expedition)</th>
                                <td>33 mm</td>
                            </tr>
                            <tr>
                                <th scope="row">Smallest Oyster (in mm, this expedition)</th>
                                <td>25 mm</td>
                            </tr>
                            <tr>
                                <th scope="row">Largest Oyster (in mm, this expedition)</th>
                                <td>55 mm</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>

                <h4>Bar Chart: Number of Live Oysters, This Expedition</h4>
                <p><em>The number of live oysters per substrate shell for this expedition.</em></p>
                <div>
                    <figure class="figure">
                            <img src="https://raw.githubusercontent.com/BillionOysterProject/digital-platform-beta/master/newplot%20(3).png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption">Each substrate shell....</figcaption>
                    </figure> 
                </div>      

                <h4>Bar Chart: Number of Live Oysters, Baseline vs. This Expedition</h4>
                <p><em>The number of live oysters per substrate shell during the baseline expedition (in orange) and during this expedition (in blue).</em></p>
                <div>
                    <figure class="figure">
                            <img src="https://raw.githubusercontent.com/BillionOysterProject/digital-platform-beta/master/newplot%20(3).png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption">Each substrate shell....</figcaption>
                    </figure> 
                </div> 
                
                <div class="mt-3">
                    <h4>Table: Mortality By Substrate Shell</h4>
                    <table class="table table-bordered">
                        <caption>Mortality By Substrate Shell</caption>
                        <thead>
                            <tr>
                                <th scope="col">Tag #</th>
                                <th scope="col">Source</th>
                                <th scope="col"># of live oysters at baseline</th>
                                <th scope="col"># of live oysters this expedition</th>
                                <th scope="col">Percent Mortality </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Muscongus Bay, ME</td>
                                <td>20</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Muscongus Bay, ME</td>
                                <td>20</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Muscongus Bay, ME</td>
                                <td>20</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Muscongus Bay, ME</td>
                                <td>20</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Muscongus Bay, ME</td>
                                <td>20</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Muscongus Bay, ME</td>
                                <td>20</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Muscongus Bay, ME</td>
                                <td>20</td>
                                <td>10</td>   
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>Muscongus Bay, ME</td>
                                <td>20</td>
                                <td>10</td>   
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>Muscongus Bay, ME</td>
                                <td>20</td>
                                <td>10</td>    
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>Muscongus Bay, ME</td>
                                <td>20</td>
                                <td>10</td>    
                            </tr>
                        </tbody>
                    </table>
                </div>   

                <h4>Bar Chart: Oyster Measurements</h4>
                <p><em>The length, in millimeters, of each live oyster measured during this expedition.</em></p>
                <div>
                    <figure class="figure">
                        <img src="https://raw.githubusercontent.com/BillionOysterProject/digital-platform-beta/master/each%20live%20oyster%20measurement%20sample.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption">Oyster measurements....</figcaption>
                    </figure> 
                </div>

                <h4>Histogram: Oyster Measurements</h4>
                <p><em>This graph is a different way to view the lengths of all of the live oysters.  It splits all of the oyster measurements
                    into even-sized groups by size (in 5mm increments) and tells you how many oysters were in each group.
                </em></p>
                <div>
                    <figure class="figure">
                        <img src="https://raw.githubusercontent.com/BillionOysterProject/digital-platform-beta/master/newplot%20(2).png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption">Oyster measurements....</figcaption>
                    </figure> 
                </div> 

                <h4>Graph: Box Plot of Oyster Measurements</h4>
                <p><em>This graph puts the average oyster measurement in the middle of the plot...</em></p>
                <div>
                    <figure class="figure">
                        <img src="https://raw.githubusercontent.com/BillionOysterProject/digital-platform-beta/master/unnamed.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption">Oyster measurements....</figcaption>
                    </figure> 
                </div>

                <div class="mt-3">
                    <h4>Table: Oyster Lengths</h4>
                    <table class="table table-bordered table-sm">
                        <caption>Oyster Lengths</caption> 
                        <thead>
                            <tr>
                                <th scope="col">Tag #</th>
                                <th scope="col">Oyster Length (mm)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>20</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="mt-3">
                        <h4>Photos</h4>
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://billionoysterproject.org/wp-content/uploads/2016/11/DSCN2167-BBP-growth-calipers.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>

    <!--Site Conditions-->
    <div class="card border-1 mb-2">
        <div class="card-header" id="siteConditionsData">
            <section class="shaded collapsed" data-toggle="collapse" data-target="#siteConditions">
                <h3>Site Conditions</h3>
                <div class="step-toggle">
                    <i class="fa"></i>
                </div>
            </section>
        </div>

        <div id="siteConditions" class="collapse" aria-labelledby="siteConditionsData" data-parent="#accordion">
            <div class="card-body">
                    <p>
                        <em>This protocol captures data on meteorological conditions, recent rainfall,
                        and the environmental conditions of the land and water, including pollution and garbage. Site Conditions
                        can affect oysters by impacting water quality, particularly through Combined Sewer Overflows. Learn more.</em>        
                    </p>
            </div>
        </div>
    </div>


</section>


<section class="content">
        <h3>Mobile Organisms Data</h3>
        <div class="row">
                <div class="col-12">
                    <p>
                        <em>This protocol captures data on meteorological conditions, recent rainfall,
                        and the environmental conditions of the land and water, including pollution and garbage. Site Conditions
                        can affect oysters by impacting water quality, particularly through Combined Sewer Overflows. Learn more.</em>        
                    </p>
                </div>
                <div class="col-12"><strong>Notes:</strong></div>
        </div>
</section>

<section class="content">
        <h3>Sessile Organisms Data</h3>
        <div class="row">
                <div class="col-12">
                    <p>
                        <em>This protocol captures data on meteorological conditions, recent rainfall,
                        and the environmental conditions of the land and water, including pollution and garbage. Site Conditions
                        can affect oysters by impacting water quality, particularly through Combined Sewer Overflows. Learn more.</em>        
                    </p>
                </div>
                <div class="col-12"><strong>Notes:</strong></div>
        </div>
</section>

<section class="content">
        <h3>Water Quality Data</h3>
        <div class="row">
                <div class="col-12">
                    <p>
                        <em>This protocol captures data on meteorological conditions, recent rainfall,
                        and the environmental conditions of the land and water, including pollution and garbage. Site Conditions
                        can affect oysters by impacting water quality, particularly through Combined Sewer Overflows. Learn more.</em>        
                    </p>
                </div>
                <div class="col-12"><strong>Notes:</strong></div>
        </div>
</section>