---
page:
    body_class: 'container mt-1'
    view: View Data
---
<p class="mt-3">
    Expand the steps below to search for specific data, OR view or download ALL data by clicking "View Data" or "Export as..." at the bottom of the page.
</p>

<form name="expeditionData" data-form-type="custom" class="mt-4">
    <!-- ########################################################################################### -->
    <!-- Step 1: Expedition Filter -->
    <!--         Restrict which expeditions to retrieve data from by any/all of the below criteria. -->
    <!-- ########################################################################################### -->
    <section class="content shaded process-step collapsed" data-toggle="collapse" data-target="#xdata1">
        <section class="container-fluid">
            <div id="step1-header" class="blue">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <strong class="fa-stack-1x">1</strong>
                </span>

                <span>
                    <h2>Filter the expeditions (by site, keyword, date, ORS, organization, team, or user)</h2>
                </span>
            </div>
        </section>

        <div class="step-toggle">
            <i class="fa"></i>
        </div>
    </section>


    <section class="content collapse" id="xdata1">
        <div class="form-group row">
            <label for="site" class="col-sm-2 col-form-label">Site Name</label>
            <div class="input-group col-sm-4">
                <input
                    type="text"
                    class="form-control typeahead w-100"
                    name="site"
                    data-typeahead-url="/api/sites/?fields=name,bodyOfWater&amp;q=str:name/contains:{}/str:bodyOfWater/contains:{}&amp;sort=name&amp;conjunction=or"
                    data-typeahead-field="name,bodyOfWater"
                    autofocus
                >
                <small class="form-text text-muted">
                    Start typing your site's name in the field above to pull up your site.
                </small>
            </div>

        </div>

        <div class="form-group row">
            <label for="search" class="col-sm-2 col-form-label">Keyword Search</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="search" autofocus>
                <small class="form-text text-muted">
                    Enter a search term to filter expeditions by keywords.
                </small>
            </div>
        </div>

        <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">Start of Date Range</label>
            <div class="col-sm-4">
                <input
                    type="date"
                    class="form-control"
                    name="dateStart"
                    value="{{ time (ago `1y`) `ymd` }}"
                >
            </div>
        </div>
        <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">End of Date Range</label>
            <div class="col-sm-4">
                <input
                    type="date"
                    class="form-control"
                    name="dateEnd"
                    value="{{ now `ymd` }}"
                >
            </div>
        </div>

        <div class="form-group row">
            <label for="ors" class="col-sm-2 col-form-label">
                ORS Name
            </label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input
                        type="text"
                        id="ors"
                        class="form-control typeahead w-100"
                        name="ors"
                        data-typeahead-url="/api/restoration-stations/?fields=name&amp;q=str:name/contains:{}"
                        data-typeahead-field="name"
                    >
                </div>
            </div>
        </div>

<!--    TODO: Create a "Site Name" search field
        <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">
                Site Name
            </label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control typeahead w-100"
                        name="ors"
                        data-typeahead-url="/api/restoration-stations/?fields=name&amp;q=str:name/contains:{}"
                        data-typeahead-field="name"
                    >
                </div>
            </div>
        </div>

        TODO: Rework this code from the enter data page to allow users to select a structure type
        <div class="form-group mt-4">
            <label>Select a structure type</label>

            {{ range $i, $structureType := $.page.structureTypes }}
            <div class="custom-control custom-radio">
                <input
                    type="radio"
                    id="structure{{ $i }}"
                    class="custom-control-input"
                >
                <label class="custom-control-label w-100" for="structure{{ $i }}">
                    {{ $structureType.label }}
                </label>
            </div>
            {{ end }}
        </div>
-->

        <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">
                Organization Name
            </label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control typeahead w-100"
                        name="organization"
                        data-typeahead-url="/api/school-orgs/?fields=name&amp;q=str:name/contains:{}"
                        data-typeahead-field="name"
                    >
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">
                Team Name
            </label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control typeahead w-100"
                        name="team"
                        data-typeahead-url="/api/teams/?fields=name&amp;q=str:name/contains:{}"
                        data-typeahead-field="name"
                    >
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">
                User
            </label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control typeahead w-100"
                        name="teamLead"
                        data-typeahead-url="/api/users/teamleads/?fields=displayName&amp;q=str:displayName/contains:{}"
                        data-typeahead-field="displayName"
                    >
                </div>
            </div>
        </div>

    </section>


    <!-- ########################################################################################### -->
    <!-- Step 2: Field Selection -->
    <!--         Select which fields should be retrieved. -->
    <!-- ########################################################################################### -->
    <section class="content shaded process-step collapsed" data-toggle="collapse" data-target="#xdata2">
        <section class="container-fluid">
            <div id="step2-header" class="blue">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <strong class="fa-stack-1x">2</strong>
                </span>

                <span>
                    <h2>Select datasets (oyster measurements, mobile organisms, water quality, etc).</h2>
                </span>
            </div>
        </section>

        <div class="step-toggle">
            <i class="fa"></i>
        </div>
    </section>

    <section class="content collapse" id="xdata2">
        <section class="container-fluid">
            {{ range $i, $protocol := .page.protocols }}
                <div class="row" id="select-comparison-parameters">
                    <div class="expeditions-data-substep">
                        <section>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="groups[{{ or ($protocol.group) (join (pluck $protocol.groups `id`) `,`) }}]">
                                    <b>{{ $protocol.name }}</b>
                                </label>
                            </div>
                        </section>

                        {{ if $protocol.groups }}
                        <div class="ml-3">
                            {{ range $protocol.groups }}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="groups[{{ .id }}]">
                                    {{ .name }}
                                </label>
                            </div>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        </section>
    </section>


    <!-- ########################################################################################### -->
    <!-- Step 3: View Report -->
    <!--         Show the report and provide options for exporting to common formats. -->
    <!-- ########################################################################################### -->
    <section class="content shaded process-step collapsed">
        <section class="container-fluid">
            <div id="step3-header" class="blue">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <strong class="fa-stack-1x">3</strong>
                </span>

                <span>
                    <h2>View or Export.</h2>
                </span>
            </div>
        </section>

        <section class="container-fluid">
            <span class="fa-stack fa-3x invisible">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <strong class="fa-stack-1x">3</strong>
            </span>

            <button
                type="submit"
                class="btn btn-lg btn-primary"
            >
                View Data
            </button>

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Export as...
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">CSV (comma-separated, Excel friendly)</a>
                    <a class="dropdown-item" href="#">TSV (tab-separated, Excel friendly)</a>
                    <a class="dropdown-item" href="#">Google Sheets</a>
                    <a class="dropdown-item" href="#">PDF (printable)</a>
                </div>
            </div>
        </section>
    </section>
</form>

<script type="text/javascript">
    $(function(){
        var form = $('form[name="expeditionData"]');

        form.submit(function(e){
            var el = e.target;
            e.preventDefault();

            try {
                var query = [];

                var qs = {
                    q:      'all',
                    groups: 'all',
                };

                $.each(form.serializeArray(), function(i, field) {
                    if (field.name.match(/^groups\[/) && field.value === 'on') {
                        if (!$.isArray(qs.groups)) {
                            qs.groups = [];
                        }

                        qs.groups.push(field.name.replace('groups[', '').replace(']', ''));
                    } else if (field.value.length) {
                        switch (field.name) {
                        case 'search':
                            qs.search = field.value;
                            break;
                        case 'dateStart':
                            query.push('date:monitoringStartDate')
                            query.push('gte:' + moment(field.value).format('YYYY-MM-DD'));
                            break;
                        case 'dateEnd':
                            query.push('date:monitoringStartDate');
                            query.push('lte:' + moment(field.value).format('YYYY-MM-DD'));
                            break;
                        case 'ors':
                            break;
                        case 'team':
                            break;
                        case 'teamLead':
                            break;
                        }
                    }
                });

                if (query.length) {
                    qs['q'] = query.join('/');
                }

                if ($.isArray(qs.groups)) {
                    qs.groups = qs.groups.join(',');
                }

                window.location.href = '/data/preview?' + $.param(qs);
            } catch (e) {
                console.error(e);
            }

            return false;
        });
    });
</script>
