---
page:
    view: Map Explorer
    style: outdoors-v9
---
<section class="content">
    <nav class="navbar navbar-expand-lg navbar-default user-navbar">
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{{ if eqx (qs `style` .page.style) `outdoors-v9` }} active{{ end }}">
                    <a class="nav-link" href="/data/map?style=outdoors-v9">Color Map</a>
                </li>

                <li class="nav-item{{ if eqx (qs `style` .page.style) `light-v9` }} active{{ end }}">
                    <a class="nav-link" href="/data/map?style=light-v9">Grey Map</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="mapexplorer"></div>
</section>

<script type="text/javascript">
    $(function() {
        mapboxgl.accessToken = 'pk.eyJ1IjoiZ2hldHplbCIsImEiOiJjajhvdTVvOHYwOGtjMnd1bXUxN2p2eThkIn0.t74BmXxs3SBMGLM1YqIGEg';

        var map = new mapboxgl.Map({
            container: 'mapexplorer',
            style: 'mapbox://styles/mapbox/{{ qs `style` .page.style }}',
            failIfMajorPerformanceCaveat: true,
            center: [-73.98, 40.7064203],
            zoom:   10,
        });

        map.on('load', function() {
            $.ajax({
                url: '/data/test.tsv',
                dataType: 'text',
                success: function(data) {
                    Papa.parse(data, {
                        delimiter:      "\t",
                        dynamicTyping:  true,
                        skipEmptyLines: true,
                        complete: function(records) {
                            var layer = {
                                "id": "sites",
                                "type": "circle",
                                "source": {
                                    "type": "geojson",
                                    "data": {
                                        "type": "FeatureCollection",
                                        "features": [],
                                    },
                                },
                                "layout": {
                                },
                                "paint": {
                                    "circle-radius": 5,
                                    "circle-color": "#F7455D",
                                    "circle-stroke-width": 2,
                                    "circle-stroke-color": "#FFFFFF",
                                },
                            };

                            $.each(records.data.slice(1), function(i, site){
                                var point = {
                                    "type": "Feature",
                                    "properties": {
                                        "description": "<strong>" + site[0] + "</strong>",
                                    },
                                    "geometry": {
                                        "type": "Point",
                                        "coordinates": [
                                            parseFloat(site[4]),
                                            parseFloat(site[3]),
                                        ],
                                    },
                                };

                                layer.source.data.features.push(point);
                            });

                            map.addLayer(layer);
                        },
                    });
                },
            });
        });

        var currentPopup = null;

        map.on('mousemove', function(e) {
            try {
                var features = map.queryRenderedFeatures(e.point, {
                    layers: ['sites'],
                });

                if (!features.length) {
                    if (currentPopup && currentPopup.isOpen()) {
                        currentPopup.remove();
                        currentPopup = null;
                    };

                    return;
                }

                var feature = features[0];

                if (!currentPopup) {
                    currentPopup = new mapboxgl.Popup({ offset: [0, -15] })
                        .setLngLat(feature.geometry.coordinates)
                        .setHTML('<p>' + feature.properties.description + '</p>')
                        .setLngLat(feature.geometry.coordinates)
                        .addTo(map);
                }
            } catch(e) {
                ;
            }
        });

        map.on('click', function(e) {
            var features = map.queryRenderedFeatures(e.point, {
                layers: ['sites'],
            });

            if (!features.length) {
                if (currentPopup && currentPopup.isOpen()) {
                    currentPopup.remove();
                    currentPopup = null;
                };

                return;
            }

            var feature = features[0];

            feature.paint = {
                'icon-color': 'red',
            };
        });

    });
</script>
