---
page:
    view: Map Explorer
    style: mapbox/outdoors-v9
    body_class: 'map'
---
<section class="content">
    <nav class="navbar navbar-expand-lg navbar-default user-navbar">
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{{ if eqx (qs `style` $.page.style) `mapbox/outdoors-v9` }} active{{ end }}">
                    <a class="nav-link" href="/data/map?style=mapbox/outdoors-v9">Color Map</a>
                </li>

                <li class="nav-item{{ if eqx (qs `style` $.page.style) `light-v9` }} active{{ end }}">
                    <a class="nav-link" href="/data/map?style=mapbox/light-v9">Grey Map</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="mapexplorer"></div>
</section>

<script type="text/javascript">
    $(function() {
        mapboxgl.accessToken = 'pk.eyJ1IjoiZ2hldHplbCIsImEiOiJjajhvdTVvOHYwOGtjMnd1bXUxN2p2eThkIn0.t74BmXxs3SBMGLM1YqIGEg';

        var map = new mapboxgl.Map({
            container: 'mapexplorer',
            style: 'mapbox://styles/{{ qs `style` $.page.style }}',
            failIfMajorPerformanceCaveat: true,
            center: [-73.98, 40.7064203],
            zoom:   10,
        });

        map.on('load', function() {
            $.ajax({
                url: '/api/sites?' + $.param({
                    limit: false,
                    fields: 'name,bodyOfWater,latitude,longitude,nycParkName',
                }),
                success: function(sites) {
                    var layer = {
                        "id": "sites",
                        "type": "circle",
                        "source": {
                            "type": "geojson",
                            "data": {
                                "type": "FeatureCollection",
                                "features": [],
                            },
                        },
                        "layout": {
                        },
                        "paint": {
                            "circle-radius": 7,
                            "circle-color": "#415980",
                            "circle-stroke-width": 2,
                            "circle-stroke-color": "#FFFFFF",
                        },
                    };

                    $.each(sites, function(i, site){
                        var description = "<strong>" + site.name + ', ' + site.bodyOfWater + "</strong>";

                        if (site.nycParkName && site.nycParkName.length) {
                            description += "<br>"
                            description += "<i>NYC Park Name:</i> " + site.nycParkName;
                        }

                        var point = {
                            "type": "Feature",
                            "properties": {
                                "description": description,
                            },
                            "geometry": {
                                "type": "Point",
                                "coordinates": [
                                    parseFloat(site.longitude),
                                    parseFloat(site.latitude),
                                ],
                            },
                        };

                        layer.source.data.features.push(point);
                    });

                    map.addLayer(layer);
                },
            });
        });

        map.on('click', function(e) {
            try {
                var features = map.queryRenderedFeatures(e.point, {
                    layers: ['sites'],
                });

                if (!features.length) {
                    return;
                }

                var feature = features[0];

                var currentPopup = new mapboxgl.Popup({ offset: [0, -15] })
                    .setLngLat(feature.geometry.coordinates)
                    .setHTML('<p>' + feature.properties.description + '</p>')
                    .setLngLat(feature.geometry.coordinates)
                    .addTo(map);
            } catch(e) {
                ;
            }
        });

        map.on('mousemove', function(e) {
            var features = map.queryRenderedFeatures(e.point, {
                layers: ['sites'],
            })

            if (features.length) {
                map.getCanvas().style.cursor = 'crosshair';
            } else {
                map.getCanvas().style.cursor = 'default';
            }
        });
    });
</script>
