---
bindings:
-   name:     export
    resource: 'https://digital-platform-prod-files.s3.amazonaws.com/reports/{{ qs "type" "expeditions" }}.tsv'
    parser:   tsv
---
<table class="table table-sm table-striped table-hover bop-table-grid">
    <thead>
        <tr>
            {{ range $i, $header := $.bindings.export.headers }}
            <th
                onclick="
                    $('.bop-table-grid *').removeClass('selected');
                    $('.bop-table-grid .bop-table-col-{{ $i }}').addClass('selected');
                "
                class="bop-table-col bop-table-col-{{ $i }}">
                {{ if eqx $i 0 }}
                {{ $header }}
                {{ else }}
                <a target="_blank" href="/data/field-reports/{{ get (get $.bindings.export.records 0) $i }}">{{ $header }}</a>
                {{ end }}
            </th>
            {{ end }}
        </tr>
    </thead>
    <tbody>
        {{ range $row := $.bindings.export.records }}
        <tr
            onclick="
                $('.bop-table-grid *').removeClass('selected');
                $(this).toggleClass('selected')
            "
        >
            {{ range $i, $val := $row }}
            <td class="one-line bop-table-col bop-table-col-{{ $i }}">{{ $val }}</td>
            {{ end }}
        </tr>
        {{ end }}
    </tbody>
</table>