---
page:
    body_class: 'container mt-1'
    view:       'Register Your Oysters'
---
<p class="mt-3">
    Complete this form when you get a new Oyster Research Station (or other oyster research structure) 
    OR a new batch of tagged oysters for an existing ORS or structure.  
    Click on each of the steps below to fill in this information.
</p>
<!--(Need help? Check out the wiki!)-->
<form class="form mt-4">

<!-- ########################################################################################### -->
    <!-- Step 1: Enter Structure Metadata-->
    <!--         Enter information (like structure type and site) about the structure. -->
    <!-- ########################################################################################### -->
    <section class="content shaded process-step collapsed" data-toggle="collapse" data-target="#enterBaselineData1">
        <section class="container-fluid">
            <div id="step1-header" class="blue">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <strong class="fa-stack-1x">1</strong>
                </span>
                <span>
                    <h2>Enter information about your ORS or other oyster structure.</h2>
                </span>
            </div>
        </section>

        <div class="step-toggle">
            <i class="fa"></i>
        </div>
    </section>

    <section class="content collapse" id="enterBaselineData1">
        
        
        <div class="form-group col-sm-12">
            <fieldset>
                <legend>
                        Are you registering a new ORS (or other oyster structure) with new oysters
                        or adding a new batch of oysters to an existing ORS or structure?
                </legend>
                <div class="custom-control custom-radio">
                    <input
                        type="radio"
                        id="newORS"
                        class="custom-control-input"
                        name="newORSOrOysters"
                        for="newORS"
                    >
                    <label class="custom-control-label w-100" for="newORS">
                        New ORS or structure + new oysters
                    </label>
                </div>
                <div class="custom-control custom-radio">
                        <input
                            type="radio"
                            id="newOysters"
                            class="custom-control-input"
                            name="newORSOrOysters"
                            for="newOysters"
                        >
                        <label class="custom-control-label w-100" for="newOysters">
                            Existing ORS or structure + new oysters
                        </label>
                </div>
            </fieldset>
        </div>
        
        
        <div class="form-group col-sm-6">
            <label
                class="required"
                for="name"
            >
                ORS or Other Oyster Structure Name
            </label>
            <input
                type="text"
                class="form-control"
                name="name"
                id="name"
            />
            <small class="form-text mb-3">
                Give your structure a unique name that you'll remember easily.
            </small>
        </div>

        <div class="col-sm-12">
            <div class="form-group mt-4">
                <label>
                    Select a structure type
                </label>
                {{ range $i, $structureType := $.page.structureTypes }}
                <div class="custom-control custom-radio">
                    <input
                        type="radio"
                        id="structure{{ $i }}"
                        class="custom-control-input"
                        name="structure"
                    >
                    <label class="custom-control-label w-100" for="structure{{ $i }}">
                        {{ $structureType.label }}
                    </label>
                </div>
                {{ end }}
            </div>
        </div>

        <!--TODO: if user selects "oyster tank," create a new site using the org address-->
        <div class="col-sm-12 col-md-8">
            <div class="form-group">
                <label for="site">Site Name</label>
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control typeahead w-100"
                        name="site"
                        data-typeahead-url="/api/sites?fields=name,bodyOfWater&amp;q=str:name/contains:{}/str:bodyOfWater/contains:{}&amp;sort=name&amp;conjunction=or"
                        data-typeahead-field="name,bodyOfWater"
                        autofocus
                    >
                    <small class="form-text">
                        Start typing your site's name in the field above to pull up your site.
                    </small>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group mt-4">
                <label>
                    Status
                </label>
                {{ range $i, $structureStatus := $.page.structureStatuses }}
                <div class="custom-control custom-radio">
                    <input
                        type="radio"
                        id="structureStatus{{ $i }}"
                        name="status"
                        class="custom-control-input"
                    >
                    <label class="custom-control-label w-100" for="structureStatus{{ $i }}">
                        {{ $structureStatus.label }}
                    </label>
                </div>
                {{ end }}
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label
                class="required"
                for="tagNumber"
            >
                Tag Number
            </label>
            <input    
            type="text"
                class="form-control"
                name="tagNumber"
                id="tagNumber"
            />
            <small class="form-text mb-3">
                For Oyster Research Stations, BOP should have given you a tag with a number to attach to your ORS.
                Contact bop.digital.platform@nyharbor.org if you did not receive a tag for your ORS.
            </small>
        </div>

        <!--If it's an ORS or other structure in the harbor- needs correcting, copied from expeditions-->
        <div class="form-group col-sm-6">
            <label for="deploymentDate">
                When did you put this batch of oysters in the harbor?
            </label>

            <div class="form-row">
            <input
                class="form-control col-md-4"
                id="deploymentDate"
                type="date"
                name="deploymentDate"
                required
                {{ if $.bindings.expedition }}
                value="{{ time $.bindings.expedition.monitoringStartDate `ymd` }}"
                {{ else }}
                value="{{ now `ymd` }}"
                {{ end }}
            >
            <small class="form-text mb-2">
                If a BOP staff member put the oysters in for you, please ask them for the date!
            </small>
            </div>
        </div>

        <div class="form-group col-sm-8">
            <div class="form-group">
                <label for="notes">Notes</label>
                <textarea
                    class="form-control"
                    id="notes"
                    rows="5"
                >
                </textarea>
            </div>
        </div>
    </section>

    <!-- ########################################################################################### -->
    <!-- Step 2: Enter baseline data-->
    <!--          -->
    <!-- ########################################################################################### -->
    <section class="content shaded process-step collapsed" data-toggle="collapse" data-target="#enterBaselineData2">
        <section class="container-fluid">
            <div id="step1-header" class="blue">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <strong class="fa-stack-1x">2</strong>
                </span>

                <span>
                    <h2>Enter baseline data.</h2>
                </span>
            </div>
        </section>

        <div class="step-toggle">
            <i class="fa"></i>
        </div>
    </section>

    <section class="content collapse" id="enterBaselineData2">
        <p>
            Click on each section below to enter Oyster Measurements and Site Conditions baseline data.
            You'll only need to fill these out again if you get a new batch of oysters from BOP 
            or if you move to a new site.
        </p>
        <div id="accordion">
            <div class="card border-1 mb-2">
                <div class="card-header" id="addOysterBaselines">
                    <section class="shaded collapsed" data-toggle="collapse" data-target="#oysterBaselines">
                        <h3>Oyster Measurements Baselines</h3>
                        <div class="step-toggle">
                            <i class="fa"></i>
                        </div>
                    </section>
                </div>

                <div id="oysterBaselines" class="collapse" aria-labelledby="addOysterBaselines" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            Click on the tabs below to enter the set date, source, and # of live oysters 
                            for each of the 10 tagged substrate shells.
                        </p>

                        <div class="card text-left">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs" id="baselineSubstrates">
                                    {{ range $i, $shell := sequence 10 }}
                                    <li class="nav-item">
                                        <a class="nav-link{{ if eq $shell 0}} active{{ end }}" onclick="
                                            $('#baselineSubstrates .nav-link').removeClass('active');
                                            $(this).addClass('active')
                                            return false;
                                        ">
                                            Shell {{ add $shell 1 }}
                                        </a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </div>

                            <div class="card-body">
                                <br/>
                                <div class="form-check form-check-inline">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="inlineCheckbox1"
                                        value="option1">
                                    <label
                                        class="form-check-label"
                                        for="inlineCheckbox1"
                                    >
                                        Apply Set Date and Source to all 10 tagged substrate shells
                                    </label>
                                </div>
                                <br/>
                                <br/>
                                <div class="form-group">
                                    <label for="setDate">Set Date</label>
                                    <input
                                        class="form-control col-4"
                                        type="datetime-local"
                                        name="monitoringSetDate"
                                        value="{{ now `ymd` }}"
                                        autofocus
                                    >
                                </div>

                                <div class="form-group mt-4">
                                    <label>Source</label>

                                    {{ range $i, $oysterSource := $.page.oysterSources }}
                                    <div class="custom-control custom-radio">
                                        <input
                                            type="radio"
                                            name="baselineOysterSource"
                                            id="oysterSource{{ $i }}"
                                            class="custom-control-input"
                                        >
                                        <label class="custom-control-label w-100" for="oysterSource{{ $i }}">
                                            {{ $oysterSource.label }}
                                        </label>
                                    </div>
                                    {{ end }}
                                </div>
                                <div class="row">
                                    <div class="form-group col-xl-4">
                                        <label
                                            class="required"
                                            for="numberOfOysters"
                                        >
                                            Total number of live oysters on shell at baseline
                                        </label>
                                        <input
                                            type="number"
                                            min="0"
                                            class="form-control"
                                            name="numberOfOysters"
                                            id="numberOfOysters"
                                        />
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="form-group col-xl-4">
                                        <label
                                            class="required"
                                            for="massOfOysters"
                                        >
                                            Total mass of substrate shell at baseline (g)
                                        </label>
                                        <input
                                            type="number"
                                            min="0"
                                            class="form-control"
                                            name="massOfOysters"
                                            id="massOfOysters"
                                        />
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-1 mb-2">
                <div class="card-header" id="addSiteBaselines">
                    <section class="shaded collapsed" data-toggle="collapse" data-target="#siteBaselines">
                        <h3>Site Conditions Baselines</h3>
                        <div class="step-toggle">
                            <i class="fa"></i>
                        </div>
                    </section>
                </div>

                <div id="siteBaselines" class="collapse" aria-labelledby="addSiteBaselines" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            Complete the Site Conditions baselines if you plan to enter data for the Site Conditions protocol.
                            Otherwise, you can leave this blank!
                        </p>
                        <div class="form-group mt-1">
                            <label
                                for="CSO"
                            >
                                Are there any marked Combined Sewer Overflow (CSO) pipes?
                            </label>

                            <div class="custom-control custom-radio">
                                <input
                                    type="radio"
                                    name="cso"
                                    id="yesCSO"
                                    class="custom-control-input"
                                >
                                <label
                                    class="custom-control-label w-100"
                                    for="yesCSO"
                                >
                                    Yes
                                </label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input
                                    type="radio"
                                    name="cso"
                                    class="custom-control-input"
                                    id="noCSO"
                                >
                                <label class="custom-control-label w-100" for="noCSO">
                                    No
                                </label>
                            </div>
                        </div>

                        <div class="form-group mt-4">
                            <label for="otherPipes">Are there any unmarked or other outfall pipes?</label>
                            <div class="custom-control custom-radio">
                                <input
                                    type="radio"
                                    name="pipes"
                                    id="yesPipes"
                                    class="custom-control-input"
                                >
                                <label class="custom-control-label w-100" for="yesPipes">
                                    Yes
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input
                                    type="radio"
                                    name="pipes"
                                    class="custom-control-input"
                                    id="noPipes"
                                >
                                <label class="custom-control-label w-100" for="noPipes">
                                    No
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label
                                class="required"
                                for="pipeDiameter"
                            >
                                What's the approximate diameter of the pipe (cm)?
                            </label>
                            <input
                                type="number"
                                min="0"
                                class="form-control col-xl-4"
                                name="pipeDiameter"
                                id="pipeDiameter"
                            />
                        </div>

                        <div class="form-group">
                            <label
                                class="required"
                                for="surfacePercent"
                            >
                                What kinds of surfaces are on the adjacent shoreline (about 100 x 100 feet)?
                                Estimate the percentage of each type of surface cover.
                            </label>
                        </div>

                        <div class="input-group col-xl-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="min-width:11em; text-align:center">Impervious Surface</span>
                            </div>
                            <input type="number" class="form-control" aria-label="Impervious Surface" min="0" max="100" step="1">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>

                        <div class="input-group col-xl-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="min-width:11em; text-align:center">Pervious Surface</span>
                            </div>
                            <input type="number" class="form-control" aria-label="Pervious Surface" min="0" max="100" step="1">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>

                        <div class="input-group col-xl-4 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="min-width:11em; text-align:center">Vegetated Surface</span>
                            </div>
                            <input type="number" class="form-control" aria-label="Vegetated Surface" min="0" max="100" step="1">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>

                        <!--TODO: Add hover/tooltip with explanations below of "impervious," "pervious," "vegetated"
                        <p>
                            What kinds of surfaces are on the adjacent shoreline (about 100 x 100 feet)? Estimate the percentage of each type of surface cover.

                            <ul>
                                <li>Impervious Surface (concrete/asphalt paths, roads, buildings, etc.)</li>

                                <li>Pervious Surface (dirt, gravel, wood chips, etc.)</li>

                                <li>Vegetated surface (grass, shrubs, trees, etc.)</li>
                            </ul>
                        </p>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- ########################################################################################### -->
    <!-- Step 3: Upload photos-->
    <!--          -->
    <!-- ########################################################################################### -->
    <section class="content shaded process-step collapsed" data-toggle="collapse" data-target="#enterBaselineData3">
        <section class="container-fluid">
            <div id="step1-header" class="blue">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <strong class="fa-stack-1x">3</strong>
                </span>

                <span>
                    <h2>Upload and tag any photos you took.</h2>
                </span>
            </div>
        </section>

        <div class="step-toggle">
            <i class="fa"></i>
        </div>
    </section>

    <section class="content collapse" id="enterBaselineData3">
        <div class="form-group">
            <label for="date">Baseline Photos</label>
            <p class="form-text mb-3">
                Upload a photo of your structure, the substrate shells, the site
                and/or any other photos from your baseline that you'd like to share.
            </p>
            <div class="drop-area">
                Drag files here or click to upload photos.
            </div>
        </div>
    </section>

    <section class="content">
        <div class="form-group mt-4">
            <div class="text-right">
                <button
                    type="submit"
                    class="btn btn-primary mr-2"
                >Submit Baselines
                </button>
            </div>
        </div>
    </section>
</form>
