---
page:
    view: Units

bindings:
- name:     'units'
  resource: ':/api/units'
  params:
    publishedStatus: published
---
<section class="content">
    <section class="container-fluid">
        {{ if .flags.admin }}
        <nav class="navbar navbar-toggleable-sm navbar-default">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-default" href="/units/create">
                        <i class="fa fa-plus"></i> Create new unit
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Published? <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ok-sel=".Published" ng-click="vm.publishedStatusSelected('published')">Published</a>
                        </li>
                        <li>
                            <a ok-sel=".Drafts" ng-click="vm.publishedStatusSelected('drafts')">Drafts</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        {{ end }}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Unit Title</th>
                    <th>Lessons</th>
                    {{ if .flags.admin }}
                    <th>&nbsp;</th>
                    {{ end }}
                </tr>
            </thead>
            <tbody>
            {{ range .bindings.units }}
                <tr onclick="location.href='/units/{{ ._id }}'">
                    <td>
                    {{ if .icon }}
                        <h1><i class="{{ .icon }}"></i></h1>
                    {{ end }}
                    </td>

                    <td>
                        <h3>{{ .title }}</h3>
                    </td>

                    <td>
                        {{ len .lessons }} lessons
                    </td>

                    {{ if .flags.admin }}
                    <td>&nbsp;</td>
                    {{ end }}
                </tr>
            {{ end }}
            </tbody>
        </table>
    </section>
</section>
