---
page:
    view: Units

bindings:
- name:     'units'
  resource: ':/api/units'
  params:
    publishedStatus: published
---
<section class="content">
    <section class="container-fluid">
        <nav class="navbar" view-permissions="admin">
            <a class="btn btn-default pull-right" href="/units/create">
                <i class="fa fa-plus"></i> Create new unit
            </a>
            <ul class="nav navbar-nav">
                {{ if has .bindings.user.roles `admin` }}
                <li class="dropdown" id="publishedStatusSelection">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Published? <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ok-sel=".Published" ng-click="vm.publishedStatusSelected('published')">Published</a>
                        </li>
                        <li>
                            <a ok-sel=".Drafts" ng-click="vm.publishedStatusSelected('drafts')">Drafts</a>
                        </li>
                    </ul>
                </li>
                {{ end }}
            </ul>
        </nav>

        <ul class="list-group">
            {{ range .bindings.units }}
                <a href="/units/{{ ._id }}" class="list-group-item">
                    {{ if .icon }}
                    <h1><i class="{{ .icon }}"></i></h1>
                    {{ end }}

                    <h3>{{ .title }}</h3>
                </li>
            {{ end }}
        </ul>
    </section>
</section>
