---
page:
    body_class: 'orgs-list fill-content'

bindings:
- name:     'orgs'
  resource: '/api/school-orgs/'
  only_if:  '{{ eqx (qs "v") "list" }}'
  params:
    limit:  false
    sort:   ['name']

-  name:     stations
   resource: '/api/restoration-stations'
   params:
     limit:    false
     noexpand: teamLead
     fields:   status,schoolOrg,site
     q:        schoolOrg/not:571f6f3181ab586140097247

flags:
    viewOrgsMap:  '{{ eqx (qs "v" "map") "map" }}'
    viewOrgsList: '{{ eqx (qs "v" "map") "list" }}'

includes:
    orgsMap:  '/profiles/organization_map.html'
    orgsList: '/profiles/organization_list.html'
---
<h1>Organizations</h1>

<ul class="nav nav-tabs mt-2 pl-1 pr-1">
    <li class="nav-item">
        <a class="nav-link{{ if $.flags.viewOrgsMap }} active{{ end }}" href="/profiles/organization?v=map">
            <i class="fa fa-map-o"></i>
            Map
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link{{ if $.flags.viewOrgsList }} active{{ end }}" href="/profiles/organization?v=list">
            <i class="fa fa-list"></i>
            List
        </a>
    </li>
</ul>

<section class="content orgs-list-view">
    {{ if $.flags.viewOrgsMap }}
    {{   template "orgsMap" . }}
    {{ else if $.flags.viewOrgsList }}
    {{   template "orgsList" . }}
    {{ else }}
    <h2>Invalid view "{{ qs "v" }}"</h2>
    {{ end }}
</section>
