<section class="content content-jumbotron">
    <section class="container text-center">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <span class="text-script">contribute to the</span>
                <h1 class="text-caps">curriculum</h1>
                <p class="lead">Create a team lead account to access and contribute to the STEM curriculum that links keystone species restoration in New York Harbor to teaching and learning in New York City Schools. We've already started.</p>
                <a class="btn btn-danger" ui-sref="authentication.signup" ng-hide="authentication.user" href="/authentication/signup">Sign up for an account <i class="fa fa-angle-right"></i></a>
                <br><br>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-sm-4">
                <h6>Units</h6>
                <hr>
                <h1 class="text-caps blue ng-binding">10</h1>
                <br>
            </div>
            <div class="col-sm-4">
                <h6>Lessons</h6>
                <hr>
                <h1 class="text-caps blue ng-binding">89</h1>
                <br>
            </div>
            <div class="col-sm-4">
                <h6>Students taught</h6>
                <hr>
                <h1 class="text-caps blue ng-binding">1460</h1>
            </div>
        </div>
    </section>
</section>
