<!-- BEGIN Water Quality -->
<div class="card border-1 mb-2">
    {{ if get $.bindings.expedition `protocols.waterQuality._id` }}
    <input type="hidden" name="protocols.waterQuality._id" value="{{ get $.bindings.expedition `protocols.waterQuality._id` }}">
    {{ end }}

    <div class="card-header" id="addWaterQuality">
        <section class="shaded collapsed" data-toggle="collapse" data-target="#waterQuality">
            <h3>Water Quality</h3>

            <div class="step-toggle">
                <i class="fa"></i>
            </div>
        </section>
    </div>
    <div id="waterQuality" class="collapse" aria-labelledby="addWaterQuality" data-parent="#accordion">
        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist">
                {{ range $i, $v := sequence 10 }}
                {{   $index := add $i 1 }}
                <li class="nav-item">
                    <a
                        class="nav-link{{ if eq $i 0 }} active{{ end }}"
                        id="sample{{ $index }}_tab"
                        data-toggle="tab"
                        href="#sample{{ $index }}"
                        role="tab"
                        aria-controls="sample{{ $index }}"
                        aria-selected="true"
                    >
                        Sample {{ $index }}
                    </a>
                </li>
                {{ end }}
            </ul>

            <div class="tab-content">
                {{ range $i, $v := sequence 10 }}
                {{   $index := add $i 1 }}
                <div class="tab-pane{{ if eq $i 0 }} active{{ end }} mt-4" id="sample{{ $index }}" role="tabpanel" aria-labelledby="sample{{ $index }}_tab">


                    <p>
                        Select or enter in as much Water Quality data as you can.
                        You can enter data for up to 10 water samples.
                        Click the tabs at the top to enter data for each new sample.
                    </p>

                    <div class="form-group">
                        <label for="protocols.waterQuality.samples.{{ $i }}.depthOfWaterSampleM">
                            Depth of Water Sample (m)
                        </label>

                        <input
                            class="form-control col-md-2"
                            name="protocols.waterQuality.samples.{{ $i }}.depthOfWaterSampleM"
                            type="number"
                            step="0.1"
                            min="-40"
                            max="50"
                            id="protocols.waterQuality.samples.{{ $i }}.depthOfWaterSampleM"
                        />

                        <small>Type 0 if at surface.</small>
                    </div>

                    {{ range $i, $waterQualityParameter := $.page.waterQualityParameters }}
                    {{   var "units" }}
                    {{   range $id, $method := $.page.testingMethods }}
                    {{     if has $id $waterQualityParameter.methods }}
                    {{       push "units" $method.units }}
                    {{     end }}
                    {{   end }}
                    {{   $units := uniqByKey (compact (flatten $.vars.units)) "id" }}
                    <h4>{{ $waterQualityParameter.label }}</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <fieldset>
                                    <legend>Method</legend>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        {{ range $i, $methodId  := $waterQualityParameter.methods }}
                                        {{   $method := mapify (get $.page.testingMethods $methodId) }}
                                        <label
                                            class="btn btn-primary"
                                        >
                                            <input
                                                type="radio"
                                                autocomplete="off"
                                                name="protocols.waterQuality.samples.{{ $i }}.{{ camelize $waterQualityParameter.id }}.method"
                                                value="{{ $methodId }}"
                                            >
                                            {{ $method.label }}
                                        </label>
                                        {{ end }}
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        {{ if eq (count $units) 1 }}
                        <div class="col-md-12">
                            <p><strong>Unit: {{ get (first $units) "label" }}</strong></p>
                        </div>
                        {{ end }}

                        {{ if gt (count $units) 1 }}
                        <div class="col-md-12">
                            <div class="form-group">
                                <fieldset>
                                    <legend>Unit</legend>

                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        {{ range $i, $unit := uniqByKey $units "id" }}
                                        <label
                                            class="btn btn-primary"
                                        >
                                            <input
                                                type="radio"
                                                autocomplete="off"
                                                name="protocols.waterQuality.samples.{{ $i }}.{{ camelize $waterQualityParameter.id }}.unit"
                                                value="{{ $unit.id }}"
                                            >
                                            {{ $unit.label }}
                                        </label>
                                        {{ end }}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        {{ else }}
                        <input
                            type="hidden"
                            name="protocols.waterQuality.samples.{{ $i }}.{{ camelize $waterQualityParameter.id }}.unit"
                            value="{{ get (first $units) `id` }}"
                        >
                        {{ end }}
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Result #1</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    name="protocols.waterQuality.samples.{{ $i }}.{{ camelize $waterQualityParameter.id }}.result1"
                                >
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Result #2</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    name="protocols.waterQuality.samples.{{ $i }}.{{ camelize $waterQualityParameter.id }}.result2"
                                >
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Result #3</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    name="protocols.waterQuality.samples.{{ $i }}.{{ camelize $waterQualityParameter.id }}.result3"
                                >
                            </div>
                        </div>
                    </div>

                    <hr>
                    {{ end }}

                    <div class="form-group mt-4">
                        <label for="waterQualityNotes">Water Quality Notes</label>
                        <textarea
                            class="form-control"
                            type="text"
                            name="protocols.waterQuality.notes"
                            maxlength="16536"
                            id="waterQualityNotes"
                        ></textarea>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
<!-- END Water Quality -->