---
page:
    body_class: 'container mt-1'
    view:       'Enter Data'

bindings:
-   name:     'mobileOrganisms'
    resource: '/api/mobile-organisms/'
    params:
        sort:   commonName
        limit:  false
        fields: 'commonName,latinName'

-   name:       'sessileOrganisms'
    resource:   '/api/sessile-organisms/'
    params:
        sort:   commonName
        limit:  false
        fields: 'commonName,latinName'

---
<p class="mt-3">
    Expand the steps below to submit data from your monitoring expedition. This form saves automatically
    and is editable by you, your team, and anyone else you invite to the expedition.
    To make your expedition public, click "Save and Publish" at the bottom of this page.
</p>

<form class="form mt-4">
    <!-- ########################################################################################### -->
    <!-- Step 1: Enter Expedition Metadata-->
    <!--         Enter information (like date and location) about the expedition. -->
    <!-- ########################################################################################### -->
    <section class="content shaded process-step collapsed" data-toggle="collapse" data-target="#enterdata1">
        <section class="container-fluid">
            <span class="fa-stack fa-3x">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <strong class="fa-stack-1x">1</strong>
            </span>

            <span>
                <h2>Enter information about your expedition.</h2>
            </span>
        </section>

        <div class="step-toggle">
            <i class="fa"></i>
        </div>
    </section>

    <section class="content collapse" id="enterdata1">
        <div class="form-group">
            <label for="name">Expedition Name</label>
            <input class="form-control" type="text" name="name">
            <small class="form-text mb-3">
                Give your expedition a unique name.
            </small>
        </div>
        <div class="form-group">
            <label for="monitoringStartDate">Expedition Date and Time</label>
            <input
                class="form-control col-4"
                type="datetime-local"
                name="monitoringStartDate"
                value="{{ now `ymd` }}"
                autofocus
            >
        </div>


        <!--
            This next section is about selecting structures (like an ORS, Community Reef, or Oyster Tank).
            The goal is for users to be able to select from several different kinds of structures
            OR to choose "no structure" and report data about water quality or biodiversity that is tied
            to a site instead of a structure. If a user is entering data for a structure, the "Structure Name"
            list pops up.  If a user is not entering data for a structure, the "Sites" list should pop up instead.
            Selecting "no structure" will create an expedition with a dummy ORS with a structure type of "null."
            This is a limitation of the legacy platform. When we have fully moved to the new platform we can get
            rid of the dummy ORS.
        -->

        <div class="form-group mt-4">
            <label>
                Select your structure type
            </label>
            <p>
                (Note: if you're entering data that isn't associated with an oyster research structure, like
                    the results of a <a href="https://www.nationalgeographic.org/projects/bioblitz/" target="_blank">BioBlitz</a> or fish count, select "No structure.")
            </p>
            {{ range $i, $structureType := $.page.structureTypes }}
            <div class="custom-control custom-radio">
                <input
                    type="radio"
                    id="structure{{ $i }}"
                    class="custom-control-input"
                    name="structure"
                >
                <label class="custom-control-label w-100" for="structure{{ $i }}">
                    {{ $structureType.label }}
                </label>
            </div>
            {{ end }}
        </div>

<!-- "Structure Name" field displays if user answers "YES" to "Are you reporting data related to a structure, like an Oyster Research Station (ORS)?"-->
        <div class="form-group">
            <label for="station">Structure Name</label>
            <div class="input-group">
                <input
                    type="text"
                    class="form-control typeahead w-100"
                    name="station"
                    data-typeahead-url="/api/restoration-stations?fields=name&amp;q=str:name/contains:{}&amp;sort=name"
                    data-typeahead-field="name"
                >

                <small class="form-text mb-3">
                    Start typing your structure's name in the field above, then select it from the dropdown list.  Don't see your structure? You can add one on our <a class="font-weight-bold" href="#">Register a Structure</a> page.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="site">Site Name</label>
            <div class="input-group">
                <input
                    type="text"
                    class="form-control typeahead w-100"
                    name="site"
                    data-typeahead-url="/api/sites?fields=name,bodyOfWater&amp;q=str:name/contains:{}/str:bodyOfWater/contains:{}&amp;sort=name&amp;conjunction=or"
                    data-typeahead-field="name,bodyOfWater"
                >
                <small class="form-text mb-3">
                    Start typing your site's name in the field above, then select it from the dropdown list.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="team">Team</label>
            <div class="input-group">
                <input
                    type="text"
                    class="form-control typeahead w-100"
                    name="team"
                    data-typeahead-url="/api/teams?fields=name&amp;q=str:name/contains:{}&amp;sort=name"
                    data-typeahead-field="name"
                >
                <small class="form-text mb-3">
                    Start typing your team's name in the field above, then select it from the dropdown list.
                </small>
            </div>
        </div>

        <!--If user selected "Community Reef" or "Other Reef" above, display fields "Number of
            adults," "Number of students," and other fields from the field report -->

        <div class="form-group">
            <label for="name">Number of adults</label>
            <input class="form-control col-2" type="number" min="0" name="numberAdults">
        </div>
        <div class="form-group">
            <label for="name">Number of students</label>
            <input class="form-control col-2" type="number" min="0" name="numberStudents">
        </div>
    </section>

    <!-- ########################################################################################### -->
    <!-- Step 2: Enter protocol data-->
    <!--          -->
    <!-- ########################################################################################### -->
    <section class="content shaded process-step collapsed" data-toggle="collapse" data-target="#enterdata2">
        <section class="container-fluid">
            <span class="fa-stack fa-3x">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <strong class="fa-stack-1x">2</strong>
            </span>

            <span>
                <h2>Enter the data you collected.</h2>
            </span>
        </section>

        <div class="step-toggle">
            <i class="fa"></i>
        </div>
    </section>

    <section class="content collapse" id="enterdata2">
        <p>
            Click on a section below to enter data.  All fields are optional, but try to submit
            as much data as you can!  For help with BOP's protocols, check
            out the <a href="https://drive.google.com/drive/folders/0Bzf_STNcTtRmM2VubzJaM1dWZEU" target="_blank">field manual</a>.
        </p>

<!--
        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" value="" id="test1">
            <label class="form-check-label" for="test1">
                Allow all team members to edit all protocols.
            </label>
        </div>
-->
        <div id="accordion">

            <!-- BEGIN Oyster Measurements -->
            <div class="card border-1 mb-2">
                <div class="card-header" id="addOysterMeasurements">
                    <section class="shaded collapsed" data-toggle="collapse" data-target="#oysterMeasurement">
                        <h3>Oyster Measurements</h3>

                        <div class="step-toggle">
                            <i class="fa"></i>
                        </div>
                    </section>
                </div>

                <div id="oysterMeasurement" class="collapse" aria-labelledby="addOysterMeasurements" data-parent="#accordion">
                    <div class="card-body">
                        <!--
                        <div class="container-fluid" style="border-radius: 2em; background-color: #EEEEEE; margin-bottom: 2em; padding: 1.5em;">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 form-group">
                                    <label>Invite team members to enter data for this protocol:</label>
                                    <input type="text" class="form-control">
                                    <br />
                                    <button tyle="button" class="btn btn-primary">
                                        <i class="fa fa-envelope"></i>
                                        Send Invite
                                    </button>
                                </div>

                                <div class="col-sm-12 col-md-6 form-group">
                                    <label>Team members who can edit this protocol:</label>

                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            Johnny Userface
                                            <a class="pull-right"><i class="fa fa-fw fa-times"></i></a>
                                        </li>
                                        <li class="list-group-item">
                                            <i>Sally Shrimphead (has not accepted)</i>
                                            <a class="pull-right"><i class="fa fa-fw fa-times"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        -->
                        <p>
                            <strong>Measure Each Live Oyster</strong>
                        </p>
                        <p>
                            Enter the measurements of all of the live oysters on each tagged substrate shell in the table below.
                        </p>


                        <ul>
                            <li>Column 1: enter the <strong>tag number</strong> (#1-10). </li>
                            <li>Column 2: enter the <strong>length (in millimeters) of
                            <em>one</em> of the live oysters</strong> on that substrate shell. Only enter one oyster measurement per cell!</li>
                        </ul>
                        <p>Repeat, using a new row for each oyster measurement.</p>
                        <p class="mb-3">
                            You can also copy and paste your data from a spreadsheet- <a href="https://docs.google.com/spreadsheets/d/1VwK2Slu4h7L3ZWU3LRwFWt7NvNb2HmWK3M3c8S0P-BI/edit?usp=sharing" target="_blank">click to view an example</a>.
                            (Rows will automatically be added to the end of the table as you type.)
                        </p>

                        <div class="spreadsheet mt-4">
                            <div id="oysterMeasurementsTable"></div>
                        </div>

                        <div class="alert alert-info form-text mt-4" role="alert">
                            <p>
                            Note: If you see a red background in a cell, check your numbers!  The "Tag Number" column accepts values from 1-10,
                            and the "Oyster Length" column accepts values from 1-250.
                            </p>
                        </div>

                        <div class="form-group mt-4">
                            <label for="protocols.oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage">
                                Bioaccumulation on Cage
                            </label>

                            <div class="custom-control custom-radio">
                                <input
                                    type="radio"
                                    name="protocols.oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage"
                                    id="ba1"
                                    class="custom-control-input"
                                >
                                <label class="custom-control-label w-100" for="ba1">
                                    <span>None/clean</span> No macroalgae or animals present
                                </label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input
                                    type="radio"
                                    name="protocols.oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage"
                                    class="custom-control-input"
                                    id="ba2"
                                >
                                <label class="custom-control-label w-100" for="ba2">
                                    <span>Light</span> Macroalgae or minimal animals present that do not encroach on mesh openings
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input
                                    type="radio"
                                    name="protocols.oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage"
                                    class="custom-control-input"
                                    id="ba3"
                                >
                                <label class="custom-control-label w-100" for="ba3">
                                    <span>Medium</span> Some encrusting macroalgae/animals reducing size of mesh opening up to 25%
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input
                                    type="radio"
                                    name="protocols.oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage"
                                    class="custom-control-input"
                                    id="ba4"
                                >
                                <label class="custom-control-label w-100" for="ba4">
                                    <span>Heavy</span> Encrusting macroalgae/animals reducing mesh opening by over 50%
                                </label>
                            </div>
                        </div>

                        <div class="form-group mt-4">
                            <label for="notes">Oyster Measurement Notes</label>
                            <textarea
                                class="form-control"
                                type="text"
                                name="notes"
                                maxlength="16536"
                            ></textarea>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END Oyster Measurements -->

            <!-- BEGIN Site Conditions -->
            <div class="card border-1 mb-2">
                <div class="card-header" id="addSiteConditions">
                    <section class="shaded collapsed" data-toggle="collapse" data-target="#siteConditions">
                        <h3>Site Conditions</h3>

                        <div class="step-toggle">
                            <i class="fa"></i>
                        </div>
                    </section>
                </div>
                <div id="siteConditions" class="collapse" aria-labelledby="addSiteConditions" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            Select or enter in as much Site Conditions data as you can.
                        </p>
                        <h4>Meteorological Conditions</h4>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="weatherConditions">Weather</label>
                                    <br/>
                                    <div class="btn-group btn-group-toggle">
                                        {{ range $i, $weatherCondition := $.page.weatherConditions }}
                                        <label
                                            class="btn btn-primary"
                                        >
                                            <input
                                                type="radio"
                                                name="weatherConditions"
                                                value="{{ $weatherCondition.id }}"
                                            >
                                            {{ $weatherCondition.label }}
                                        </label>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="temperature">Air temperature (C)</label>
                                    <input
                                        class="form-control"
                                        name="temperature"
                                        type="number"
                                        step="0.1"
                                        min="-40"
                                        max="50"

                                    />
                                    <span class="help-block">
                                        <p>Fahrenheit: <span id="temperatureF"></span>&deg;F</p>
                                    </span>
                                </div>
                            </div>

                            <script>
                            $(function(){
                                $('input[name="temperature"]').on('change', function(e){
                                    var el = $(e.target);

                                    if (el.val()) {
                                        var degF = parseFloat(el.val()) * (9/5) + 32;

                                        $('#temperatureF').text(degF);
                                    }
                                });
                            });
                            </script>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="windSpeed">Wind speed (mph)</label>
                                    <input
                                        class="form-control"
                                        type="number"
                                        min="0"
                                        name="windSpeed"
                                    />
                                    <span class="help-block">Method: Anemometer</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="windDirection">Wind Direction</label>
                                    <br/>
                                    <div class="btn-group btn-group-toggle">
                                        {{ range $i, $windDirection := $.page.windDirections }}
                                        <label
                                            class="btn btn-primary"
                                        >
                                            <input
                                                type="radio"
                                                name="windDirection"
                                                value="{{ $windDirection.id }}"
                                            >
                                            {{ $windDirection.label }}
                                        </label>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="humidity">Humidity (%)</label>
                                    <input
                                        class="form-control"
                                        type="number"
                                        min="0"
                                        name="humidity"
                                    />
                                    <span class="help-block">Method: Sling Psychrometer</span>
                                </div>
                            </div>
                        </div>

                        <hr/>
                        <h4>Recent Rainfall</h4>
                        <div class="form-group">
                            <label>Has it rained in the past <span class="blue">7</span> days?</label>
                            <br/>
                            <div class ="btn-group btn-group-toggle">
                                <label
                                    class="btn btn-primary"
                                >
                                    <input
                                        type="radio"
                                        name="recentRainfall.rainedIn7Days"
                                        value="true"
                                    >
                                    Yes
                                </label>
                                <label
                                    class="btn btn-primary"
                                >
                                    <input
                                        type="radio"
                                        name="recentRainfall.rainedIn7Days"
                                        value="false"
                                    >
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Has it rained in the past <span class="blue">72</span> hours?</label>
                            <br/>
                            <div class ="btn-group btn-group-toggle">
                                <label
                                    class="btn btn-primary"
                                >
                                    <input
                                        type="radio"
                                        name="recentRainfall.rainedIn72Hours"
                                        value="true"
                                    >
                                    Yes
                                </label>
                                <label
                                    class="btn btn-primary"
                                >
                                    <input
                                        type="radio"
                                        name="recentRainfall.rainedIn72Hours"
                                        value="false"
                                    >
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Has it rained in the past <span class="blue">24</span> hours?</label>
                            <br/>
                            <div class ="btn-group btn-group-toggle">
                                <label
                                    class="btn btn-primary"
                                >
                                    <input
                                        type="radio"
                                        name="recentRainfall.rainedIn24Hours"
                                        value="true"
                                    >
                                    Yes
                                </label>
                                <label
                                    class="btn btn-primary"
                                >
                                    <input
                                        type="radio"
                                        name="recentRainfall.rainedIn24Hours"
                                        value="false"
                                    >
                                    No
                                </label>
                            </div>
                        </div>

                        <hr/>
                        <h4>Water Conditions</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="surfaceCurrentSpeedMPS">
                                        Surface current speed (meters/second)
                                    </label>
                                    <input
                                        class="form-control"
                                        type="number"
                                        min="0"
                                        name="surfaceCurrentSpeedMPS"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="waterColor">Describe the water color</label>
                                    <br/>
                                    <div class="btn-group btn-group-toggle">
                                        {{ range $i, $waterColor := $.page.waterColors }}
                                        <label
                                            class="btn btn-primary"
                                        >
                                            <input
                                                type="radio"
                                                name="waterColor"
                                                value="{{ $waterColor.id }}"
                                            >
                                            {{ $waterColor.label }}
                                        </label>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Is there an oil sheen present?</label>
                                    <br/>
                                    <div class="btn-group btn-group-toggle">
                                        <label
                                            class="btn btn-primary"
                                        >
                                            <input
                                                type="radio"
                                                name="waterConditions.oilSheen"
                                                value="true"
                                            >
                                            Yes
                                        </label>
                                        <label
                                            class="btn btn-primary"
                                        >
                                            <input
                                                type="radio"
                                                name="waterConditions.oilSheen"
                                                value="false"
                                            >
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Is there any garbage in the water?</label>
                                    <br/>
                                    <div class="btn-group btn-group-toggle">
                                        <label
                                            class="btn btn-primary"
                                        >
                                            <input
                                                type="radio"
                                                name="garbage.garbagePresent"
                                                value="true"
                                            >
                                            Yes
                                        </label>
                                        <label
                                            class="btn btn-primary"
                                        >
                                            <input
                                                type="radio"
                                                name="garbage.garbagePresent"
                                                value="false"
                                            >
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="CSOPipeFlow">
                                        Is there any flow through the Combined Sewer Overflow (CSO) pipes?
                                    </label>
                                    <br/>
                                    <div class="btn-group btn-group-toggle">
                                        {{ range $i, $pipeFlow := $.page.pipeFlows }}
                                        <label
                                            class="btn btn-primary"
                                        >
                                            <input
                                                type="radio"
                                                name="CSOPipeFlow"
                                                value="{{ $pipeFlow.id }}"
                                            >
                                            {{ $pipeFlow.label }}
                                        </label>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="otherPipeFlow">
                                        Is there any flow through the unmarked or other outfall pipes?
                                    </label>
                                    <br/>
                                    <div class="btn-group btn-group-toggle">
                                        {{ range $i, $pipeFlow := $.page.pipeFlows }}
                                        <label
                                            class="btn btn-primary"
                                        >
                                            <input
                                                type="radio"
                                                name="otherPipeFlow"
                                                value="{{ $pipeFlow.id }}"
                                            >
                                            {{ $pipeFlow.label }}
                                        </label>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-4">
                            <label for="notes">Site Conditions Notes</label>
                            <textarea
                                class="form-control"
                                type="text"
                                name="notes"
                                maxlength="16536"
                            ></textarea>
                        </div>


                    </div>
                </div>
            </div>
            <!-- END Site Conditions -->

            <!-- BEGIN Mobile Organisms -->
            <div class="card border-1 mb-2">
                <div class="card-header" id="addMobileOrganisms">
                    <section class="shaded collapsed" data-toggle="collapse" data-target="#mobileOrganisms">
                        <h3>Mobile Organisms</h3>

                        <div class="step-toggle">
                            <i class="fa"></i>
                        </div>
                    </section>
                    <div class="step-toggle">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
                <div id="mobileOrganisms" class="collapse" aria-labelledby="addMobileOrganisms" data-parent="#accordion">
                    <div class="card-body">
                            <p><strong>Mobile Organism Identifications</strong></p>
                            Enter each mobile organism species you identified and a count of how many you found in the table below.
                            </p>
                            <ul>
                                <li>Column 1: start typing either the <strong>commmon or scientific name</strong> of the mobile organism, then select it
                                    from the dropdown menu.</li>
                                <li>Column 2: enter in a <strong>count</strong> of how many of that species you found.</li>
                            </ul>

                        <div class="spreadsheet">
                            <div id="mobileOrganismsTable"></div>
                        </div>
                        <div class="form-group mt-4">
                            <label for="notes">Mobile Organisms Notes</label>
                            <textarea
                                class="form-control"
                                type="text"
                                name="notes"
                                maxlength="16536"
                            ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Mobile Organisms -->

            <!-- BEGIN Sessile Organisms -->
            <div class="card border-1 mb-2">
                <div class="card-header" id="addSessileOrganisms">
                    <section class="shaded collapsed" data-toggle="collapse" data-target="#sessileOrganisms">
                        <h3>Sessile Organisms</h3>

                        <div class="step-toggle">
                            <i class="fa"></i>
                        </div>
                    </section>
                </div>
                <div id="sessileOrganisms" class="collapse" aria-labelledby="addSessileOrganisms" data-parent="#accordion">
                    <div class="card-body">
                        <p><strong>Sessile Organism Identifications</strong></p>
                        <p>
                            Enter each sessile organism species you identified on your settlement tile in the table below.
                        </p>
                        <p>
                            Start typing either the <strong>commmon or scientific name</strong> of the sessile organism, then select it
                            from the dropdown menu.
                        </p>

                        <div class="spreadsheet">
                            <div id="sessileOrganismsTable"></div>
                        </div>

                        <div class="form-group mt-4">
                            <label for="notes">Sessile Organisms Notes</label>
                            <textarea
                                class="form-control"
                                type="text"
                                name="notes"
                                maxlength="16536"
                            ></textarea>
                        </div>

                        <div class="form-group">
                            <a
                                href="#"
                                class="btn btn-primary"
                                onclick="return false"
                            >Add Settlement Tile</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Sessile Organisms -->

            <!-- BEGIN Water Quality -->
            <div class="card border-1 mb-2">
                <div class="card-header" id="addWaterQuality">
                    <section class="shaded collapsed" data-toggle="collapse" data-target="#waterQuality">
                        <h3>Water Quality</h3>

                        <div class="step-toggle">
                            <i class="fa"></i>
                        </div>
                    </section>
                </div>
                <div id="waterQuality" class="collapse" aria-labelledby="addWaterQuality" data-parent="#accordion">
                    <div class="card-body">
                        <p><strong>Water Quality Parameter Measurements</strong></p>
                        <p>For every water quality parameter you'd like to submit, select the method and then enter
                            the three measurements in the table below.
                        </p>
                        <!--
                        <p>
                            You can also copy and paste your data from a spreadsheet- <a href="https://docs.google.com/spreadsheets/d/1VwK2Slu4h7L3ZWU3LRwFWt7NvNb2HmWK3M3c8S0P-BI/edit?usp=sharing" target="_blank">click to view an example</a>.
                        </p>
                        -->
                        <div class="spreadsheet"></div>
                            <div id="waterQualityTable"></div>
                        <div class="form-group mt-4">
                            <label for="notes">Water Quality Notes</label>
                            <textarea
                                class="form-control"
                                type="text"
                                name="notes"
                                maxlength="16536"
                            ></textarea>
                        </div>
                        <div class="form-group">
                            <a
                                href="#"
                                class="btn btn-primary"
                                onclick="return false"
                            >Add Water Sample</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Water Quality -->

            <!-- BEGIN Report a Wild Oyster -->
            <div class="card border-1">
                <div class="card-header" id="addWildOysters">
                    <section class="shaded collapsed" data-toggle="collapse" data-target="#wildOysters">
                        <h3>
                            Report a wild oyster sighting
                        </h3>

                        <div class="step-toggle">
                            <i class="fa"></i>
                        </div>
                    </section>
                </div>
                <div id="wildOysters" class="collapse" aria-labelledby="addWildOysters" data-parent="#accordion">
                    <div class="card-body">
                        <p>Did you find any wild oysters?
                        </p>
                        <div class="form-group mt-4">
                            <label for="notes">Wild Oyster Notes</label>
                            <textarea
                                class="form-control"
                                type="text"
                                name="notes"
                                maxlength="16536"
                            ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Report a Wild Oyster -->
        </div>
    </section>

    <!-- ########################################################################################### -->
    <!-- Step 3: Upload photos-->
    <!--          -->
    <!-- ########################################################################################### -->
    <section class="content shaded process-step collapsed" data-toggle="collapse" data-target="#enterdata3">
        <section class="container-fluid">
            <span class="fa-stack fa-3x">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <strong class="fa-stack-1x">3</strong>
            </span>

            <span>
                <h2>Upload and tag any photos you took.</h2>
            </span>
        </section>

        <div class="step-toggle">
            <i class="fa"></i>
        </div>
    </section>

    <section class="content collapse" id="enterdata3">
        <div class="form-group">
            <label for="date">Expedition Photos</label>
            <small class="form-text mb-3">
                Upload a photo of your ORS, inner and outer oyster substrate shell photos, and/or any other photos
                from your expedition that you'd like to share.
            </small>
            <div class="drop-area">
                Drag files here or click to upload photos from this expedition.
            </div>
            <!--
            Photo types:
                - Expedition Photo
                - Oyster cage
                - Substrate shell (front)
                - Substrate shell (back)
            -->
        </div>
    </section>

    <section class="content">
        <div class="form-group mt-4">
            <div class="text-right">
                <button
                    type="submit"
                    class="btn btn-primary mr-2"
                >Save Expedition</button>

                <button
                    type="submit"
                    class="btn btn-success ml-2"
                >Save &amp; Publish Expedition</button>
            </div>
        </div>
    </section>
</form>

<script type="text/javascript">
    $(function(){
        var dataObject = [];
        var tables = {};

        $(window).resize(function(e) {
            var body = $('.card-body');
            var width = 0;

            if (!body.length) {
                return;
            } else {
                width = body.width();
            }

            $.each(tables, function(i, table){
                table.updateSettings({
                    width: width,
                });
            });
        });

        $(window).on('shown.bs.collapse', function(e) {
            var target = $(e.target);
            var body = target.children('.card-body');
            var width = 0;

            if (!body.length) {
                return;
            } else {
                width = body.width();
            }

            if (width) {
                if (target.find('#oysterMeasurementsTable').length) {
                    if (!tables.oysterMeasurements) {
                        // setup the oyster measurements table
                        tables.oysterMeasurements = bop.createTable('#oysterMeasurementsTable', [
                            'Tag Number',
                            'Oyster Length (mm)',
                        ], [{
                            data:      'substrateShellNumber',
                            type:      'numeric',
                            validator: 'valid-settlement-tile',
                            width:     30,
                        }, {
                            data:      'oysterLength',
                            type:      'numeric',
                            validator: 'valid-oyster',
                            width:     30,
                            numericFormat: {
                                pattern: '0.00',
                                culture: 'en-US',
                            },
                        }], {
                            width: width,
                        });
                    }
                }

                if (target.find('#mobileOrganismsTable').length) {
                    if (!tables.mobileOrganisms) {
                        tables.mobileOrganisms = bop.createTable('#mobileOrganismsTable', [
                            'Common OR Scientific Name',
                            '# of Organisms',
                        ], [{
                            type:      'autocomplete',
                            strict:    false,
                            source:    [
                            {{ range $i, $organism := $.bindings.mobileOrganisms }}
                                '{{ $organism.commonName }}',
                                '{{ $organism.latinName }}',
                            {{ end }}
                            ],
                            width:     20,
                        }, {
                            data:      'countOfSpecies',
                            type:      'numeric',
                            validator: 'valid-species-count',
                            width:      20,
                            numericFormat: {
                                pattern: '0',
                                culture: 'en-US',
                            },
                        }], {
                            maxRows: 100,
                            width:   width,
                        });
                    }
                }

                if (target.find('#sessileOrganismsTable').length) {
                    if (!tables.sessileOrganisms) {
                        tables.sessileOrganisms = bop.createTable('#sessileOrganismsTable', [
                            'Common or Scientific Name',
                        ], [{
                            type:      'autocomplete',
                            strict:    false,
                            source:    [
                            {{ range $i, $organism := $.bindings.sessileOrganisms }}
                                '{{ $organism.commonName }}',
                                '{{ $organism.latinName }}',
                            {{ end }}
                            ],
                            width:     20,
                        }], {
                            minSpareRows: 1,
                            startRows:    25,
                            maxRows:      100,
                            width:        width,
                        });
                    }
                }

                if (target.find('#waterQualityTable').length) {
                    if (!tables.waterQualityTable) {
                        tables.waterQualityTable = bop.createTable('#waterQualityTable', [
                            'Water Quality Parameter',
                            'Method',
                            'Unit',
                            'Result #1',
                            'Result #2',
                            'Result #3',
                        ],
                        [{
                            data:      'waterQualityParameter',
                            editor:    false,
                            source:    [
                           'Salinity',
                            ],
                        }, {
                            data:      'method',
                            type:      'autocomplete',
                            strict:    false,
                            source:    [
                            {{ range $i, $organism := $.bindings.sessileOrganisms }}
                                '{{ $organism.commonName }}',
                                '{{ $organism.latinName }}',
                            {{ end }}
                            ],
                        }, {
                            data:      'unit',
                        }, {
                            data:       'result1',
                            type:      'numeric',
                        }, {
                            data:       'result2',
                            type:      'numeric',
                        }, {
                            data:       'result3',
                            type:      'numeric',
                        }], {
                            minSpareRows: 1,
                            startRows:    5,
                            maxRows:      100,
                            width:        width,
                        });
                    }
                }
            }
        });
    });
</script>
