---
page:
    body_class: 'container mt-1'
    view:       'Enter Data'

bindings:
-   name:     'expedition'
    only_if:  '{{ qs `id` }}'
    resource: '/api/expeditions/{{ qs `id` }}'
    optional: true

-   name:     'mobileOrganisms'
    resource: '/api/mobile-organisms/'
    params:
        sort:   commonName
        limit:  false
        fields: 'commonName,latinName'

-   name:       'sessileOrganisms'
    resource:   '/api/sessile-organisms/'
    params:
        sort:   commonName
        limit:  false
        fields: 'commonName,latinName'

includes:
    protocolSiteConditions:     '/expeditions/_submit-protocol-site-conditions.html'
    protocolOysterMeasurements: '/expeditions/_submit-protocol-oyster-measurements.html'
    protocolMobileOrganisms:    '/expeditions/_submit-protocol-mobile-organisms.html'
    protocolSessileOrganisms:   '/expeditions/_submit-protocol-sessile-organisms.html'
    protocolWaterQuality:       '/expeditions/_submit-protocol-water-quality.html'
---
<p class="mt-3">
    Expand the steps below to submit data from your monitoring expedition. This form saves automatically
    and is editable by you, your team, and anyone else you invite to the expedition.
    To make your expedition public, click "Save and Publish" at the bottom of this page.
</p>

<form class="form mt-4" action="/api/expeditions/" data-debug-log="true" method="post">
    <!-- ########################################################################################### -->
    <!-- Step 1: Enter Expedition Metadata-->
    <!--         Enter information (like date and location) about the expedition. -->
    <!-- ########################################################################################### -->
    <section class="content shaded process-step collapsed" data-toggle="collapse" data-target="#enterdata1">
        <section class="container-fluid">
            <span class="fa-stack fa-3x">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <strong class="fa-stack-1x">1</strong>
            </span>

            <span>
                <h2>Enter information about your expedition.</h2>
            </span>
        </section>

        <div class="step-toggle">
            <i class="fa"></i>
        </div>
    </section>

    {{ if $.bindings.expedition }}
    <input type="hidden" name="_id" value="{{ $.bindings.expedition._id }}">
    {{ end }}

    <section class="content collapse" id="enterdata1">

        <div class="form-group">
            <label for="name">Expedition Name</label>
            <input
                class="form-control"
                type="text"
                id="name"
                name="name"
                {{ if $.bindings.expedition }}
                value="{{ $.bindings.expedition.name }}"
                {{ end }}
                >
            <small class="form-text mb-3">
                Give your expedition a unique name.
            </small>
        </div>

        <div class="form-group">
            <label for="monitoringStartDate">Expedition Date and Time</label>
            <input
                class="form-control col-4"
                id="monitoringStartDate"
                type="datetime-local"
                name="monitoringStartDate"
                {{ if $.bindings.expedition }}
                value="{{ $.bindings.expedition.monitoringStartDate }}"
                {{ else }}
                value="{{ now `ymd` }}"
                {{ end }}
            >
        </div>

        {{ if $.bindings.expedition }}
        <input type="hidden" name="station._id" value="{{ $.bindings.expedition.station._id }}">
        {{ end }}

        <!--
            This next section is about selecting structures (like an ORS, Community Reef, or Oyster Tank).
            The goal is for users to be able to select from several different kinds of structures
            OR to choose "no structure" and report data about water quality or biodiversity that is tied
            to a site instead of a structure. If a user is entering data for a structure, the "Structure Name"
            list pops up.  If a user is not entering data for a structure, the "Sites" list should pop up instead.
            Selecting "no structure" will create an expedition with a dummy ORS with a structure type of "null."
            This is a limitation of the legacy platform. When we have fully moved to the new platform we can get
            rid of the dummy ORS.
        -->

        <div class="form-group mt-4">
            <fieldset>
                <legend>
                    Select your structure type
                </legend>
                <p>
                    (Note: if you're entering data that isn't associated with an oyster research structure, like
                        the results of a <a href="https://www.nationalgeographic.org/projects/bioblitz/" target="_blank">BioBlitz</a> or fish count, select "No structure.")
                </p>
                {{ range $i, $structureType := $.page.structureTypes }}
                <div class="custom-control custom-radio">
                    <input
                        type="radio"
                        id="structure{{ $i }}"
                        class="custom-control-input"
                        name="station.structureType"
                        value="{{ $structureType.id }}"
                        {{ if $.bindings.expedition }}
                        {{ if eqx $.bindings.expedition.station.structureType $structureType.id }}
                        checked
                        {{ end }}
                        {{ end }}
                    >
                    <label class="custom-control-label w-100" for="structure{{ $i }}">
                        {{ $structureType.label }}
                    </label>
                </div>
                {{ end }}
            </fieldset>
        </div>

<!-- "Structure Name" field displays if user answers "YES" to "Are you reporting data related to a structure, like an Oyster Research Station (ORS)?"-->
        <div class="form-group">
            <label for="structureName">Structure Name</label>
            <div class="input-group">
                <input
                    type="text"
                    class="form-control typeahead w-100"
                    name="station.name"
                    data-typeahead-url="/api/restoration-stations?fields=name&amp;q=str:name/contains:{}&amp;sort=name"
                    data-typeahead-field="name"
                    id="structureName"
                    aria-describedby="structureNameHelp"
                >

                <small class="form-text mb-3" id="structureNameHelp">
                    Start typing your structure's name in the field above, then select it from the dropdown list.  Don't see your structure? You can add one on our <a class="font-weight-bold" href="#">Register a Structure</a> page.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="siteName">Site Name</label>
            <div class="input-group">
                <input
                    type="text"
                    class="form-control typeahead w-100"
                    name="siteName"
                    data-typeahead-url="/api/sites?fields=name,bodyOfWater&amp;q=str:name/contains:{}/str:bodyOfWater/contains:{}&amp;sort=name&amp;conjunction=or"
                    data-typeahead-field="name,bodyOfWater"
                    id="siteName"
                    aria-describedby="siteNameHelp"
                >
                <small class="form-text mb-3" id="siteNameHelp">
                    Start typing your site's name in the field above, then select it from the dropdown list.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="team">Team</label>
            <div class="input-group">
                <input
                    type="text"
                    class="form-control typeahead w-100"
                    name="team.name"
                    data-typeahead-url="/api/teams?fields=name&amp;q=str:name/contains:{}&amp;sort=name&amp;teamsImOn=true"
                    data-typeahead-field="name"
                    id="team"
                    aria-describedby="teamHelp"
                >
                <small class="form-text mb-3" id="teamHelp">
                    Start typing your team's name in the field above, then select it from the dropdown list.
                </small>
            </div>
        </div>

        {{ if $.bindings.expedition }}
        <input type="hidden" name="team._id" value="{{ $.bindings.expedition.team._id }}">
        {{ end }}

        <!--If user selected "Community Reef" or "Other Reef" above, display fields "Number of
            adults," "Number of students," and other fields from the field report -->

        <div class="form-group">
            <label for="numberAdults">Number of adults</label>
            <input
                class="form-control col-2"
                type="number"
                min="0" n
                ame="numberAdults"
                id="numberAdults"
                value=""
            >
        </div>
        <div class="form-group">
            <label for="numberStudents">Number of students</label>
            <input
                class="form-control col-2"
                type="number"
                min="0"
                name="numberStudents"
                id="numberStudents"
                value=""
            >
        </div>


        <div class="container-fluid" style="border-radius: 2em; background-color: #EEEEEE; margin-bottom: 2em; padding: 1.5em;">
            <h3>Invite people to edit this expedition</h3>
            <p>Use the options below to invite team members (students) or people without a Digital Platform account
                to edit this expedition.  (You can also invite people to edit specific protocols in the data entry
                sections.)</p>
            <br/>
            <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" value="" id="test1">
                <label class="form-check-label" for="test1">
                    Allow all team members to edit all protocols.
                </label>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 form-group">
                    <label>Invite specific team members to enter data for this expedition:</label>
                    <input type="text" class="form-control">
                    <br />
                    <button tyle="button" class="btn btn-primary">
                        <i class="fa fa-envelope"></i>
                        Send Invite
                    </button>
                </div>

                <div class="col-sm-12 col-md-6 form-group">
                    <label>Team members who can edit this protocol:</label>

                    <ul class="list-group">
                        <li class="list-group-item">
                            Johnny Userface
                            <a class="pull-right"><i class="fa fa-fw fa-times"></i></a>
                        </li>
                        <li class="list-group-item">
                            <i>Sally Shrimphead (has not accepted)</i>
                            <a class="pull-right"><i class="fa fa-fw fa-times"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 form-group">
                    <label>Send one-time link to edit this expedition (learn more):</label>
                    <input type="text" class="form-control">
                    <br />
                    <button tyle="button" class="btn btn-primary">
                        <i class="fa fa-envelope"></i>
                        Send Invite
                    </button>
                </div>

                <div class="col-sm-12 col-md-6 form-group">
                    <label>People who can edit this protocol:</label>

                    <ul class="list-group">
                        <li class="list-group-item">
                            testuser@example.com
                            <a class="pull-right"><i class="fa fa-fw fa-times"></i></a>
                        </li>
                        <li class="list-group-item">
                            <i>testuser2@example.com (has not accepted)</i>
                            <a class="pull-right"><i class="fa fa-fw fa-times"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- ########################################################################################### -->
    <!-- Step 2: Enter protocol data -->
    <!-- ########################################################################################### -->
    <section class="content shaded process-step collapsed" data-toggle="collapse" data-target="#enterdata2">
        <section class="container-fluid">
            <span class="fa-stack fa-3x">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <strong class="fa-stack-1x">2</strong>
            </span>

            <span>
                <h2>Enter the data you collected.</h2>
            </span>
        </section>

        <div class="step-toggle">
            <i class="fa"></i>
        </div>
    </section>

    <section class="content collapse" id="enterdata2">
        <p>
            Click on a section below to enter data.  All fields are optional, but try to submit
            as much data as you can!  For help with BOP's protocols, check
            out the <a href="https://drive.google.com/drive/folders/0Bzf_STNcTtRmM2VubzJaM1dWZEU" target="_blank">field manual</a>.
        </p>

        <div id="accordion">
            {{ template "protocolOysterMeasurements" . }}
            {{ template "protocolSiteConditions" . }}
            {{ template "protocolMobileOrganisms" . }}
            {{ template "protocolSessileOrganisms" . }}
            {{ template "protocolWaterQuality" . }}

            <!-- BEGIN Report a Wild Oyster
            <div class="card border-1">
                <div class="card-header" id="addWildOysters">
                    <section class="shaded collapsed" data-toggle="collapse" data-target="#wildOysters">
                        <h3>
                            Report a wild oyster sighting
                        </h3>

                        <div class="step-toggle">
                            <i class="fa"></i>
                        </div>
                    </section>
                </div>
                <div id="wildOysters" class="collapse" aria-labelledby="addWildOysters" data-parent="#accordion">
                    <div class="card-body">
                        <p>Did you find any wild oysters?
                        </p>
                        <div class="form-group mt-4">
                            <label for="wildOysternotes">Wild Oyster Notes</label>
                            <textarea
                                class="form-control"
                                type="text"
                                name="notes"
                                maxlength="16536"
                                id="wildOysternotes"
                            ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            END Report a Wild Oyster -->
        </div>
    </section>

    <!-- ########################################################################################### -->
    <!-- Step 3: Upload photos-->
    <!--          -->
    <!-- ########################################################################################### -->
    <section class="content shaded process-step collapsed" data-toggle="collapse" data-target="#enterdata3">
        <section class="container-fluid">
            <span class="fa-stack fa-3x">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <strong class="fa-stack-1x">3</strong>
            </span>

            <span>
                <h2>Upload and tag any photos you took.</h2>
            </span>
        </section>

        <div class="step-toggle">
            <i class="fa"></i>
        </div>
    </section>

    <section class="content collapse" id="enterdata3">
        <div class="form-group">
            <p>On a mobile device?  Try out the new
                <a href="https://cloudberrycreative.invisionapp.com/share/YRDEHC775#/screens/256519836" target="_blank">mobile photo upload tool</a>!</p>
            <p class="form-text mb-3">
                On a laptop or desktop?  You can upload all of your photos at once below.  You'll be able to tag them
                after you upload them.
            </p>

            <div class="drop-area">
                Drag files here or click to upload photos from this expedition.
            </div>
        </div>
    </section>

    <section class="content">
        <div class="form-group mt-4">
            <div class="text-right">
                <button
                    type="submit"
                    class="btn btn-primary mr-2"
                >Save Expedition</button>

                <button
                    type="submit"
                    class="btn btn-success ml-2"
                >Save &amp; Publish Expedition</button>
            </div>
        </div>
    </section>
</form>

<script type="text/javascript">
    $(function(){
        var dataObject = [];
        var tables = {};

        $(window).resize(function(e) {
            var body = $('.card-body');
            var width = 0;

            if (!body.length) {
                return;
            } else {
                width = body.width();
            }

            $.each(tables, function(i, table){
                table.updateSettings({
                    width: width,
                });
            });
        });

        $(window).on('shown.bs.collapse', function(e) {
            var target = $(e.target);
            var body = target.children('.card-body');
            var width = 0;

            if (!body.length) {
                return;
            } else {
                width = body.width();
            }

            if (width) {
                if (target.find('#oysterMeasurementsTable').length) {
                    if (!tables.oysterMeasurements) {
                        // setup the oyster measurements table
                        tables.oysterMeasurements = bop.createTable('#oysterMeasurementsTable', [
                            'Tag Number',
                            'Oyster Length (mm)',
                        ], [{
                            data:      'substrateShellNumber',
                            type:      'numeric',
                            validator: 'valid-settlement-tile',
                            width:     30,
                        }, {
                            data:      'oysterLength',
                            type:      'numeric',
                            validator: 'valid-oyster',
                            width:     30,
                            numericFormat: {
                                pattern: '0.00',
                                culture: 'en-US',
                            },
                        }], {
                            width: width,
                        }, function(table) {
                        {{ if $.bindings.expedition }}
                            var input = JSON.parse('{{ jsonify (get $.bindings.expedition "protocols.oysterMeasurement.measuringOysterGrowth.substrateShells") }}');
                            var data = [];

                            if (input && input.length) {
                                for(var i = 0; i < input.length; i++) {
                                    for(var j = 0; j < input[i].measurements.length; j++) {
                                        data.push({
                                            substrateShellNumber: input[i].substrateShellNumber,
                                            oysterLength: input[i].measurements[j].sizeOfLiveOysterMM,
                                        });
                                    }
                                }
                            }

                            table.loadData(data);
                        {{ end }}
                        });
                    }
                }

                if (target.find('#mobileOrganismsTable').length) {
                    if (!tables.mobileOrganisms) {
                        tables.mobileOrganisms = bop.createTable('#mobileOrganismsTable', [
                            'Common OR Scientific Name',
                            '# of Organisms',
                        ], [{
                            type:      'autocomplete',
                            data:      'organism',
                            strict:    false,
                            source:    [
                            {{ range $i, $organism := $.bindings.mobileOrganisms }}
                                '{{ $organism.commonName }}',
                                '{{ $organism.latinName }}',
                            {{ end }}
                            ],
                            width:     20,
                        }, {
                            data:      'countOfSpecies',
                            type:      'numeric',
                            validator: 'valid-species-count',
                            width:      20,
                            numericFormat: {
                                pattern: '0',
                                culture: 'en-US',
                            },
                        }], {
                            maxRows: 100,
                            width:   width,
                        }, function(table) {
                        {{ if $.bindings.expedition }}
                            var input = JSON.parse('{{ jsonify (get $.bindings.expedition "protocols.mobileTrap.mobileOrganisms") }}');
                            var data = [];

                            if (input && input.length) {
                                for(var i = 0; i < input.length; i++) {
                                    data.push({
                                        organism      : input[i].organism.latinName,
                                        countOfSpecies: input[i].count,
                                    });
                                }
                            }

                            table.loadData(data);
                        {{ end }}
                        });
                    }
                }

                if (target.find('#sessileOrganismsTable').length) {
                    if (!tables.sessileOrganisms) {
                        tables.sessileOrganisms = bop.createTable('#sessileOrganismsTable', [
                            'Common or Scientific Name',
                        ], [{
                            type:      'autocomplete',
                            strict:    false,
                            source:    [
                            {{ range $i, $organism := $.bindings.sessileOrganisms }}
                                '{{ $organism.commonName }}',
                                '{{ $organism.latinName }}',
                            {{ end }}
                            ],
                            width:     20,
                        }], {
                            minSpareRows: 1,
                            startRows:    25,
                            maxRows:      100,
                            width:        width,
                        });
                    }
                }

                if (target.find('#waterQualityTable').length) {
                    if (!tables.waterQualityTable) {
                        tables.waterQualityTable = bop.createTable('#waterQualityTable', [
                            'Parameter',
                            'Method',
                            'Unit',
                            'Result #1',
                            'Result #2',
                            'Result #3',
                        ],
                        [{
                            data:      'waterQualityParameter',
                            editor:    'select',
                            selectOptions: [
                            {{- range $i, $parameter := $.page.waterQualityParameters }}
                                '{{ $parameter.label }}',
                            {{- end }}
                            ],
                        }, {
                            data:      'method',
                            editor:    'select',
                            selectOptions: [
                            {{- range $i, $method := (uniq (sort (flatten (pluck $.page.waterQualityParameters `methods`)))) }}
                                '{{ get (firstByKey $.page.testingMethods `id` $method) `label` }}',
                            {{- end }}
                            ],
                        }, {
                            data:      'unit',
                            editor:    'select',
                            selectOptions: [
                            {{- range $i, $unit := (uniqByKey (sort (flatten (pluck $.page.testingMethods `units`))) `id`) }}
                                '{{ $unit.label }}',
                            {{- end }}
                            ],
                        }, {
                            data:       'result1',
                            type:       'numeric',
                        }, {
                            data:       'result2',
                            type:       'numeric',
                        }, {
                            data:       'result3',
                            type:       'numeric',
                        }], {
                            minSpareRows: 1,
                            startRows:    5,
                            maxRows:      100,
                            width:        'width',
                        }, function(table) {
                        {{ if $.bindings.expedition }}
                            var input = JSON.parse('{{ jsonify (get $.bindings.expedition "protocols.mobileTrap.waterQuality.samples") }}');
                            var data = [];

                            // if (input && input.length) {
                            //     for(var i = 0; i < input.length; i++) {
                            //         data.push({
                            //             organism      : input[i].organism.latinName,
                            //             countOfSpecies: input[i].count,
                            //         });
                            //     }
                            // }

                            table.loadData(data);
                        {{ end }}
                        });
                    }
                }
            }
        });
    });
</script>
