---
bindings:
-   name:     'expedition'
    resource: ':/api/expeditions/{{ param 1 }}'

-   name:     'team'
    resource: '/api/teams/{{ $.bindings.expedition.team._id }}'

-   name:     'organization'
    resource: '/api/school-orgs/{{ $.bindings.expedition.team.schoolOrg._id }}'
    fallback: {}

-   name:     'photos'
    resource: '/api/expeditions/photos'
    optional: true
    fallback: []
    params:
        q: '_id/{{ param 1}}'
---
{{ $expedition := $.bindings.expedition }}
{{ $photos     := $.bindings.photos }}

<h1>{{ $expedition.name }}</h1>

<section class="content shaded pb-0">
    <div class="row">
        <div class="col-sm-3">
            <h6>Team</h6>

            <p>
                <a href="/profiles/team-view/{{ .bindings.team._id }}">
                    <b>{{ $expedition.name }}</b>
                </a>
                <br/>
                {{ if (get $.bindings.organization `_id`) }}
                <a href="/profiles/organization-view/{{ $.bindings.organization._id }}">
                    {{ $.bindings.organization.name }}
                </a>
                {{ end }}
            </p>
        </div>

        {{ if .bindings.team.teamLeads }}
        <div class="col-sm-3">
            <h6>User{{ if gt (count .bindings.team.teamLeads) 1 }}s{{ end }}</h6>
            {{ range .bindings.team.teamLeads }}
            <p>
                <a ng-click="vm.openViewUserModal(teamLead)">{{ .displayName }}</a>
            </p>
            {{ end }}
        </div>
        {{ end }}
        <div class="col-sm-3">
            <h6>Date &amp; Location</h6>
            <p>
                <i class="glyphicon glyphicon-calendar gray"></i> <b>{{ $expedition.monitoringStartDate }}, timerange</b><br/>
                <i class="glyphicon glyphicon-map-marker gray"></i> {{ $expedition.station.name }}
            </p>
        </div>
        <div class="col-sm-3">
            <h6>Notes</h6>
            <p>{{ $expedition.notes }}</p>
        </div>
    </div>

    <ul class="nav nav-tabs nav-justified w-100 mt-4">
    {{ range $i, $protocol := $.page.protocols }}
    <li class="nav-item">
        <a class="nav-link{{ if eqx (qs `p` `1`) (add $i 1) }} active{{ end }}" href="/expeditions/view/{{ param 1 }}?p={{ add $i 1 }}" style="
                border-bottom-color: {{ $protocol.color }};
                border-bottom-width: 0.5vh;
        ">
            {{ ltrim $protocol.name `Protocol ` }}
        </a>
    </li>
    {{ end }}
    </ul>
</section>

<section class="content container-fluid">
    <div class="row">
        <div class="col">
            {{ if eqx (qs `p` `1`) 1 }}
                Protocol 1
            {{ else if eqx (qs `p`) 2 }}
                Protocol 2
            {{ else if eqx (qs `p`) 3 }}
                Protocol 3
            {{ else if eqx (qs `p`) 4 }}
                Protocol 4
            {{ else if eqx (qs `p`) 5 }}
                Protocol 5
            {{ end }}
        </div>
    </div>
</section>
