---
page:
    body_class: 'orgs-list fill-content'
    view: 'All NYC Public Schools'

bindings:
-   name:     'orgs'
    resource: '/api/school-orgs/'
    params:
        limit:  false
        sort:   ['name']

-   name:     stations
    resource: '/api/restoration-stations'
    params:
        limit:    false
        noexpand: teamLead
        fields:   status,schoolOrg,site
        q:        schoolOrg/not:571f6f3181ab586140097247

-   name:     sites
    resource: '/api/sites'
    params:
        limit:    false

-   name:  nycSchoolDemographics
    resource: 'https://data.cityofnewyork.us/resource/98et-3mve.json' 
    param_joiner: ','
    params:
        $limit: 15000
        year: '2017-18'
        $select: 
        - year
        - economic_need_index
        - asian_2
        - black_2
        - dbn
        - english_language_learners_2
        - hispanic_2
        - poverty_2
        - students_with_disabilities_2
        - white_2
        - school_name   
        
-   name:  nycSchoolLocations
    resource: 'https://data.cityofnewyork.us/resource/r2nx-nhxe.json' 
    param_joiner: ','
    params:
        $limit: 15000
        $select: 
        - ats_system_code
        - council_district
        - grades_text
        - location_1_address
        - location_1_city
        - location_1_state
        - location_1_zip
        - location_category_description
        - nta_name
        - location_type_description  
        - location_name
---

{{ $sites       := $.bindings.sites }}
{{ $stations    := $.bindings.stations }}
{{ $orgs        := $.bindings.orgs }}
{{ $publicSchools := $.bindings.nycSchoolDemographics }}
{{ $schoolLocations := $.bindings.nycSchoolLocations }}

<section class="content">
    
    <div class="text-left mb-3">
        <a
        href="/admin/org-list.tsv"
        class="btn btn-primary mb-2"
        >
            Download Organizations (.tsv)
        </a>
        <!--
        <a href="/api/school-orgs?limit=25&offset=0&sort=name" target="_blank" class="ml-3">
            <i class="fa fa-external-link-square"></i>
            View in API
        </a>
    -->
    </div>

    <table class="table table-sm table-bordered table-striped table-hover" id="publicSchools">
        <thead>
            <tr>
                <th>Platform Id</th>
                <th>Name</th>
                <th>ATS Code</th>
                <th>ORS Site(s)</th>
                <th>Neighborhood</th>
                <th>Address</th>
                <th>Borough/City</th>
                <th>State</th>
                <th>Zipcode</th>
                <th>City Council District</th>
                <th>Economic Need (2017-2018)</th>
                <th>Poverty % (2017-2018)</th>
                <th>Asian %</th>
                <th>Black %</th>
                <th>Hispanic %</th>
                <th>White %</th>
                <th>ELL %</th>
                <th>Students with Disabilities %</th>
            </tr>
        </thead>

        <tbody>
            {{ range $i, $publicSchool := $publicSchools }}
            {{ $orgStations := filterByKey $stations "schoolOrg.name" $publicSchool.school_name }}
            {{ $locationData := filterByKey $schoolLocations "ats_system_code" $publicSchool.dbn }}
            {{ $bopOrgs := filterByKey $orgs "syncId" $publicSchool.dbn }}
            
            <tr>
                {{ if $bopOrgs }}
                <td>
                    {{ range $i, $bopOrg := uniqByKey $bopOrgs "_id" }}
                    <a href="/profiles/{{ $bopOrg._id }}">
                    {{ $bopOrg._id }}
                    </a>
                    {{ end }}
                </td>
                {{ else }}
                <td></td>
                {{ end }}

                <td>
                    {{ $publicSchool.school_name }}
                </td>

                <td>
                    {{ $publicSchool.dbn }}
                </td>

                <td></td>

                {{ if $locationData }}
                <td>
                yes
                </td>
                {{ else }}
                <td></td>
                {{ end }}

                <td>
                    {{ if $publicSchool.streetAddress }}
                    <address>
                        {{ $publicSchool.streetAddress }}
                    </address>
                    {{ end }}
                </td>
                <td>
                    {{ $publicSchool.city }}
                </td>
                <td>
                    {{ $publicSchool.state }}
                </td>
                {{ if $publicSchool.zip }}
                <td>
                    {{ $publicSchool.zip }}
                </td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $publicSchool.district }}
                <td>{{ $publicSchool.district }}</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $publicSchool.economic_need_index }}
                <td>{{ $publicSchool.economic_need_index }}</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $publicSchool.poverty_2 }}
                <td>{{ $publicSchool.poverty_2 }}%</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $publicSchool.asian_2 }}
                <td>{{ $publicSchool.asian_2 }}%</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $publicSchool.black_2 }}
                <td>{{ $publicSchool.black_2 }}%</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $publicSchool.hispanic_2 }}
                <td>{{ $publicSchool.hispanic_2 }}%</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $publicSchool.white_2 }}
                <td>{{ $publicSchool.white_2 }}%</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $publicSchool.english_language_learners_2 }}
                <td>{{ $publicSchool.english_language_learners_2 }}%</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $publicSchool.students_with_disabilities_2 }}
                <td>{{ $publicSchool.students_with_disabilities_2 }}%</td>
                {{ else }}
                <td></td>
                {{ end }}

            </tr>
            {{ end }}
        </tbody>
    </table>
</section>

<script type="text/javascript">
    $(function(){
        $('#publicSchools').DataTable({
            searching:      true,
            paging:         false,
            info:           false,
        });
    });
</script>
