---
page:
    body_class: 'orgs-list fill-content'
    view: 'Organizations'

bindings:
-   name:     'orgs'
    resource: '/api/school-orgs/'
    params:
        limit:  false
        sort:   ['name']

-   name:     stations
    resource: '/api/restoration-stations'
    params:
        limit:    false
        noexpand: teamLead
        fields:   status,schoolOrg,site
        q:        schoolOrg/not:571f6f3181ab586140097247

-   name:     expeditions
    resource: '/api/expeditions'
    params:
        limit:    false 
        fields:   status,team,monitoringStartDate,monitoringEndDate
        q:        status/published


-   name:     sites
    resource: '/api/sites'
    params:
        limit:    false

-   name:  nycOpenData
    resource: 'https://data.cityofnewyork.us/resource/98et-3mve.json' 
    param_joiner: ','
    params:
        $limit: 15000
        $select: 
        - year
        - economic_need_index
        - asian_2
        - black_2
        - dbn
        - english_language_learners_2
        - hispanic_2
        - poverty_2
        - students_with_disabilities_2
        - white_2      
---

{{ $sites       := $.bindings.sites }}
{{ $stations    := $.bindings.stations }}
{{ $orgs        := $.bindings.orgs }}
{{ $expeditions := $.bindings.expeditions }}
{{ $nycOpenData := $.bindings.nycOpenData }}

<section class="content">
    
    <div class="text-left mb-3">
        <a
        href="/admin/org-list.tsv"
        class="btn btn-primary mb-2"
        >
            Download Organizations (.tsv)
        </a>
        <!--
        <a href="/api/school-orgs?limit=25&offset=0&sort=name" target="_blank" class="ml-3">
            <i class="fa fa-external-link-square"></i>
            View in API
        </a>
    -->
    </div>
    

    <table class="table table-sm table-bordered table-striped table-hover" id="organizations">
        <thead>
            <tr>
                {{ if $.flags.admin }}
                <th>Edit</th>
                {{ end }}
                <th>Id</th>
                <th>Name</th>
                <th>Org. Type</th>
                <th>School Type</th>
                <th>ORS Site(s)</th>
                <th>Expedition Count</th>
                <th>Last Expedition Date</th>
                <th>Neighborhood</th>
                <th>Address</th>
                <th>Borough/City</th>
                <th>State</th>
                <th>Zipcode</th>
                <!--<th>Created At</th>-->
                <th>ATS Code</th>
                <th>City Council District</th>
                <th>Economic Need (2017-2018)</th>
                <th>Poverty % (2017-2018)</th>
                <th>Asian %</th>
                <th>Black %</th>
                <th>Hispanic %</th>
                <th>White %</th>
                <th>ELL %</th>
                <th>Students with Disabilities %</th>
            </tr>
        </thead>

        <tbody>
            {{ range $i, $org := $orgs }}
            {{ $orgStations := filterByKey $stations "schoolOrg.name" $org.name }}
            {{ $orgExpeditions := filterByKey $expeditions "team.schoolOrg.name" $org.name }}
            {{ $orgData := filterByKey (filterByKey $nycOpenData "dbn" $org.syncId) "year" "2017-18" }}
            
            <tr>
                {{ if $.flags.admin }}
                <td>
                    <a href="/admin/generic/{{ $org._id }}?collection=school-orgs">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                {{ end }}
                <td>
                    {{ $org._id }}
                </td>
                <td>
                    <a href="/profiles/{{ $org._id }}">
                    {{ $org.name }}
                    </a>
                </td>
                <td>
                    {{ $org.organizationType }}
                </td>
                <td>
                    {{ $org.schoolType }}
                </td>

                {{ if $orgStations }}   
                <td class="join-semicolon">
                    {{ range $i, $orgStation := uniqByKey $orgStations "site.name" }}
                    <a href="/sites/{{ $orgStation.site._id }}" target="blank">{{ $orgStation.site.name }}</a>
                    {{ end }}
                </td>
                {{ else }}
                <td></td>
                {{ end }}
                
                {{ if $orgExpeditions }}   
                <td>
                    {{ count $orgExpeditions }}
                </td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $orgExpeditions }}   
                <td>
                    {{ time (first (reverse (sort (compact (pluck $orgExpeditions "monitoringStartDate"))))) "slash" }}
                </td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $org.neighborhood }}
                <td>
                    {{ $org.neighborhood }}
                </td>
                {{ else }}
                <td></td>
                {{ end }}

                <td>
                    {{ if $org.streetAddress }}
                    <address>
                        {{ $org.streetAddress }}
                    </address>
                    {{ end }}
                </td>
                <td>
                    {{ $org.city }}
                </td>
                <td>
                    {{ $org.state }}
                </td>
                {{ if $org.zip }}
                <td>
                    {{ $org.zip }}
                </td>
                {{ else }}
                <td></td>
                {{ end }}
                <!--
                <td>
                    {{ time $org.created `ymd` }}
                </td>
                -->
                <td>
                    {{ $org.syncId }}
                </td>
                {{ if $org.district }}
                <td>{{ $org.district }}</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $orgData }}
                <td>{{ join (pluck $orgData "economic_need_index") " " }}</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $orgData }}
                <td>{{ join (pluck $orgData "poverty_2") " " }}%</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $orgData }}
                <td>{{ join (pluck $orgData "asian_2") " " }}%</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $orgData }}
                <td>{{ join (pluck $orgData "black_2") " " }}%</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $orgData }}
                <td>{{ join (pluck $orgData "hispanic_2") " " }}%</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $orgData }}
                <td>{{ join (pluck $orgData "white_2") " " }}%</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $orgData }}
                <td>{{ join (pluck $orgData "english_language_learners_2") " " }}%</td>
                {{ else }}
                <td></td>
                {{ end }}

                {{ if $orgData }}
                <td>{{ join (pluck $orgData "students_with_disabilities_2") " " }}%</td>
                {{ else }}
                <td></td>
                {{ end }}

            </tr>
            {{ end }}
        </tbody>
    </table>
</section>

<script type="text/javascript">
    $(function(){
        $('#organizations').DataTable({
            searching:      true,
            paging:         false,
            info:           false,
        });
    });
</script>
