---
page:
    body_class: 'site-details'
    notitle: true

bindings:
-   name:	  'user'
    resource: '/api/users/{{ param 1 }}'

-   name:     'stations'
    resource: '/api/restoration-stations/export.geojson'
    optional: true
    fallback: {}
    params:
        q: "schoolOrg/{{ $.bindings.user.schoolOrg._id }}"
---
{{ $user     := $.bindings.user }}
{{ $org      := $.bindings.user.schoolOrg }}
{{ $stations := $.bindings.stations }}


<section class="content">
    <h1 class="text-left pb-0">{{ $user.displayName }}</h1>
    <p class="mb-1"><i class="fa fa-fw fa-building"></i> {{ $org.name }}{{ if or $org.streetAddress $org.city $org.state }},{{ end }}
        {{ if $org.streetAddress }}
            {{ $org.streetAddress }},
        {{ end }}
        {{ if $org.city }}
            {{ $org.city }},
        {{ end }}
        {{if and $org.state $org.zip }}
            {{ $org.state }},
        {{ else if $org.state }}
            {{ $org.state }}
        {{ end }}
        {{ if $org.zip }}
            {{ $org.zip }}
        {{   end }}
    </p>

    <div class="row">
        {{ if nex $user.profileImageURL "modules/users/client/img/profile/avatar-gray.png" }}
        <div class="col-3 pr-0 d-flex justify-content-center">
            <img
            class=""
            style="max-height: 40vh; width: 100%; object-fit: cover;"
            src="{{ rxreplace $user.profileImageURL `^http:` `https:` }}"
            alt="user profile image"
            >
        </div>
        {{ end }}
        {{ if or $org.latitude (count (get $stations "features")) }}
        <div class="col" style="height: 40vh;">
            <div id="orgSite" class="fill-content"></div>
        </div>
        {{ end }}
    </div>

    {{ if or $org.latitude $stations }}
    <script type="text/javascript">
        $(function() {
            mapboxgl.accessToken = '{{ $.page.mapbox.key }}';

            var map = new mapboxgl.Map({
                container: 'orgSite',
                style: 'mapbox://styles/{{ qs "style" $.page.mapbox.style }}',
                failIfMajorPerformanceCaveat: true,
                center: [
                    {{ or $org.longitude (get $stations "features.0.geometry.coordinates.0") }},
                    {{ or $org.latitude (get $stations "features.0.geometry.coordinates.1") }}
                ],
                zoom:   11,
            });

            map.on('load', function(){
                // create a HTML element for each feature
                var el = document.createElement('i');
                el.className = 'fa fa-star marker-org';

                
                {{ if $org.latitude }}
                // make a marker for each feature and add to the map
                new mapboxgl.Marker(el)
                .setLngLat([
                    {{ $org.longitude }},
                    {{ $org.latitude }},
                ])
                .addTo(map);
                {{ end }}
                
                {{ if $stations }}
                map.addLayer({
                    "id": "stations",
                    "type": "circle",
                    "source": {
                        "type": "geojson",
                        "data": JSON.parse({{ jsonify $stations "  " }}),
                    },
                    "layout": {
                    },
                    "paint": {
                        "circle-radius": 7,
                        "circle-color": "#415980",
                        "circle-stroke-width": 2,
                        "circle-stroke-color": "#FFFFFF",
                    },
                });
                {{ end }}
            });
        });
    </script>
    {{ end }}
</section>

<section class="content">
    <table class="table table-sm table-bordered table-hover">
        <tr>
            <th scope="row">Name</th>
            <td>{{ $user.displayName }}</td>
        </tr>
        <tr>
            <th scope="row">Username</th>
            <td>{{ $user.username }}</td>
        </tr>
        {{ if $user.teamLeadType }}
        <tr>
            <th scope="row">Tead Lead Type</th>
            <td>{{ $user.teamLeadType }}</td>
        </tr>
        {{ end }}
        <tr>
            <th scope="row">Email</th>
            <td>{{ $user.email }}</td>
        </tr>
        <th scope="row">Approved/Pending</th>
        {{ if $user.pending }}
        <td>Pending</td>
        {{ else }}
        <td>Approved</td>
        {{ end }}
        
        <tr>
            <th scope="row">User Roles</th>
            {{ if has "admin" $user.roles }}
            <td>Admin</td>
            {{ else if has "team lead" $user.roles }}
            <td>Team Lead</td>
            {{ else if has "team lead pending" $user.roles }}
            <td>Team Lead Pending</td>
            {{ end }}
        </tr>    
        <tr>
            <th scope="row">Joined on</th>
            <td>{{ time $user.created "Jan 2, 2006" }}</td>
        </tr>
        <tr>
            <th scope="row">Organization Name</th>
            <td>
                <a href="/profiles/{{ $org._id }}">
                {{ $org.name }}
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">Organization Type</th>
            <td>{{ $org.organizationType }}</td>
        </tr>

        {{ if $org.schoolType}}
        <tr>
            <th scope="row">School Type</th>
            <td>{{ $org.schoolType }}</td>
        </tr>
        {{ end }}

        {{ if $org.neighborhood }}
        <tr>
            <th scope="row">Organization Neighborhood</th>
            <td>{{ $org.neighborhood }}</td>
        </tr>
        {{ end }}

        {{ if $org.streetAddress }}
        <tr>
            <th scope="row">Organization Address</th>
            <td>{{ $org.streetAddress }}</td>
        </tr>
        {{ end }}

        {{ if $org.city }}
        <tr>
            <th scope="row">Organization Borough/City</th>
            <td>{{ $org.city }}</td>
        </tr>
        {{ end }}

        {{ if $org.state }}
        <tr>
            <th scope="row">Organization State</th>
            <td>{{ $org.state }}</td>
        </tr>
        {{ end }}

        {{ if $org.zip }}
        <tr>
            <th scope="row">Organization Zipcode</th>
            <td>{{ $org.zip }}</td>
        </tr>
        {{ end }}
        {{ if $org.syncId }}
        <tr>
            <th scope="row">School ATS Code (NYC DOE)</th>
            <td>{{ $org.syncId }}</td>
        </tr>
        {{ end }}

        {{ if $org.locationType }}
        <tr>
            <th scope="row">School Location Type</th>
            <td>{{ $org.locationType }}</td>
        </tr>
        {{ end }}
        {{ if $org.gradeLevels }}
        <tr>
            <th scope="row">School Grade Levels</th>
            <td>{{ $org.gradeLevels }}</td>
        </tr>
        {{ end }}

        {{ if $org.gradesTaught }}
        <tr>
            <th scope="row">School Grades Taught</th>
            <td>{{ join $org.gradesTaught ", " }}</td>
        </tr>
        {{ end }}

        {{ if $org.principal }}
        <tr>
            <th scope="row">School Principal Name</th>
            <td>{{ $org.principal }}</td>
        </tr>
        {{ end }}
        {{ if $org.principalPhone }}
        <tr>
            <th scope="row">School Principal Number</th>
            <td>{{ $org.principalPhone }}</td>
        </tr>
        {{ end }}

        {{ if $org.district }}
        <tr>
            <th scope="row">School City Council District</th>
            <td>{{ $org.district }}</td>
        </tr>
        {{ end }}

        {{ if $org.communityBoard }}
        <tr>
            <th scope="row">School Community Board</th>
            <td>{{ $org.communityBoard }}</td>
        </tr>
        {{ end }}
        {{ if $org.description }}
        <tr>
            <th scope="row">Organization Description</th>
            <td>{{ $org.description }}</td>
        </tr>
        {{ end }}
    </table>
</section>