---
layout:     '{{ qs "layout" "default" }}'
renderer:   '{{ qs "renderer" "html" }}'

bindings:
-   name:     'lesson'
    resource: '/api/lessons/{{ param 1 }}'

-   name:     'lessonStats'
    resource: '/api/lessons/{{ param 1 }}/tracker-stats'
    optional:  true
    fallback:  {}

-   name:     'units'
    resource: '/api/units'
    fallback: []
    params:
        noexpand: true

-   name:     subjectAreas
    resource: '/api/subject-areas'
    params:
        limit: false

postprocessors:
- trim-empty-lines
---
{{ $lesson := $.bindings.lesson }}
{{ $lessonStats := $.bindings.lessonStats }}

<section class="content container">
    <div class="lesson-main">
        <div class="row">
            <div style="width: 105px; text-align: center;">
                <img
                    alt="Billion Oyster Project"
                    src="/assets/img/brand/logo.svg"
                    class="img-fluid"
                >
            </div>

            <div class="col pl-4">
                {{ if $lesson.title }}
                <h1 style="font-size: 30px;">{{ $lesson.title }}</h1>
                {{ end }}
                <div>
                    {{ if $lesson.user.displayName }}
                    <h4>
                        <a href="/people/{{ $lesson.user._id }}">
                            <b>{{ $lesson.user.displayName }}</b>
                        </a>
                    </h4>
                    {{ end }}
                    <a href="mailto:{{ $lesson.user.email }}">{{ $lesson.user.email }}</a>
                    {{ if $lesson.created }}
                    <div class="text-muted">{{ time $lesson.created "Jan 2, 2006" }}</div>
                    {{ end }}
                </div>
            </div>
            <div class="col">
                {{ if nex (qs "renderer") "pdf" }}
                <a
                    class="btn btn-primary float-right"
                    href="/lessons/{{ param 1 }}?layout=print&renderer=pdf"
                    download="{{ $lesson.title }}.pdf"
                >
                    <i class="fa fa-download"></i>
                    Download PDF
                </a>
                {{ end }}
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-sm-3">
                <b>Unit</b>
                <div>
                    {{ if $lesson.units }}
                    <h4>
                        {{ join (pluck $lesson.units "title") ", " }}
                    </h4>
                    {{ end }}
                </div>
            </div>
            <div class="col-sm-2">
                <b>Grade</b>
                <p>{{ $lesson.lessonOverview.grade }}</p>

            </div>
            <div class="col-sm-2">
                <b>Class Periods</b>
                <p>{{ $lesson.lessonOverview.classPeriods }}</p>

            </div>
            <div class="col-sm-2">
                <b>Setting</b>
                <p>{{ $lesson.lessonOverview.setting }}</p>

            </div>
            <div class="col-sm-3">
                <b>Subject Areas</b>
                <div>
                    {{ if $lesson.lessonOverview.subjectAreas }}
                    <p>
                        {{ join (pluck $lesson.lessonOverview.subjectAreas "subject") ", " }}
                    </p>
                    {{ end }}
                </div>
            </div>
        </div>
        <hr/>

        <div class="row">
            <div class="col-sm-12">
                <h2 style="font-weight: 700; font-size: 24px; ">Summary</h2>
                <!-- =============================================================================================== -->
                <p>
                    {{ sanitize $lesson.lessonOverview.lessonSummary }}
                </p>

                {{ if $lesson.lessonObjectives }}
                <h2 style="font-weight: 700; font-size: 24px; margin-top: 1em;">Objectives</h2>
                <!-- =============================================================================================== -->
                <p>
                    {{ sanitize $lesson.lessonObjectives }}
                </p>
                {{ end }}

                <h2 style="font-weight: 700; font-size: 24px; margin-top: 1em;">Materials and Resources</h2>
                <!-- =============================================================================================== -->
                {{ if $lesson.materialsResources.supplies }}
                <h3 style="font-size: 21px;">Supplies</h3>
                <p>
                    {{ sanitize $lesson.materialsResources.supplies }}
                </p>
                {{ end }}

                {{ if nex (qs "renderer") "pdf" }}
                {{ if $lesson.materialsResources.handoutLinks }}
                <h3 style="font-size: 21px;">Handouts</h3>
                {{  range $i, $handout := $lesson.materialsResources.handoutLinks }}
                <p>
                    <a href="{{ rxreplace $handout.link `^http:` `https:` }}" target="blank">
                        <i class="fa fa-link"></i>
                        {{ $handout.name }}
                    </a>
                </p>
                {{  end }}
                {{ end }}
                
                {{ if $lesson.materialsResources.teacherResourcesLinks }}
                <h3 style="font-size: 21px;">Teacher Resources</h3>
                {{  range $i, $link := $lesson.materialsResources.teacherResourcesLinks }}
                <p>
                    <a href="{{ rxreplace $link.link `^http:` `https:` }}" target="blank">
                        <i class="fa fa-link"></i>
                        {{ $link.name }}
                    </a>
                </p>
                {{   end }}
                {{  end }}

                {{ end }}

                <h2 style="font-weight: 700; font-size: 24px; margin-top: 1em;">Before you get started</h2>
                <!-- =============================================================================================== -->

                {{ if $lesson.materialsResources.teacherTips }}
                <h3 style="font-size: 21px;">Tips for Teachers</h3>
                <p>
                    {{ sanitize $lesson.materialsResources.teacherTips }}
                </p>
                {{ end }}

                {{ if $lesson.preparation }}
                <h3 style="font-size: 21px;">Preparation</h3>
                <p>
                    {{ sanitize $lesson.preparation }}
                </p>
                {{ end }}

                {{ if $lesson.background }}
                <h3 style="font-size: 21px;">Background</h3>
                <p>
                    {{ sanitize $lesson.background }}
                </p>
                {{ end }}

                <h2 style="font-weight: 700; font-size: 24px; margin-top: 1em;">Instruction Plan</h2>
                <!-- =============================================================================================== -->

                {{ if $lesson.instructionPlan.engage }}
                <h3 style="font-size: 21px;">Engage</h3>
                <p>
                    {{ sanitize $lesson.instructionPlan.engage }}
                </p>
                {{ end }}

                {{ if $lesson.instructionPlan.explore }}
                <h3 style="font-size: 21px;">Explore</h3>
                <p>
                    {{ sanitize $lesson.instructionPlan.explore }}
                </p>
                {{ end }}

                {{ if $lesson.instructionPlan.explain }}
                <h3 style="font-size: 21px;">Explain</h3>
                <p>
                    {{ sanitize $lesson.instructionPlan.explain }}
                </p>
                {{ end }}

                {{ if $lesson.instructionPlan.elaborate }}
                <h3 style="font-size: 21px;">Elaborate</h3>
                <p>
                    {{ sanitize $lesson.instructionPlan.elaborate }}
                </p>
                {{ end }}

                {{ if $lesson.instructionPlan.evaluate }}
                <h3 style="font-size: 21px;">Evaluate</h3>
                <p>
                    {{ sanitize $lesson.instructionPlan.evaluate }}
                </p>
                {{ end }}

                {{ if $lesson.instructionPlan.extend }}
                <h3 style="font-size: 21px;">Extend</h3>
                <p>
                    {{ sanitize $lesson.instructionPlan.extend }}
                </p>
                {{ end }}

                {{ if sum (apply $lesson.standards "count") }}
                <h2 style="font-weight: 700; font-size: 24px; margin-top: 1em;">Standards</h2>
                <!-- =============================================================================================== -->
                    <!-- Loop through all "Standards Labels" as defined in diecast.yml -->
                    {{ range $standard, $standardName := $.page.labels }}
                    <!-- 1. Get the standard we're working on from the lesson -->
                    <!-- 2. Remove empty results -->
                    <!-- 3. Group the standard aspects by their headers -->
                    {{   $aspectGroups := groupBy (compact (get $lesson.standards $standard)) `header` }}

                    <!-- If the group has any items in it... -->
                    {{   if $aspectGroups }}
                    <h3 style="font-size: 21px;">{{ $standardName }}</h3>

                    <ul>
                        <!-- Loop through each header -->
                        {{ range $header, $aspects := $aspectGroups }}
                        <li>
                            {{ if autotype $header }}
                            <h4>{{ $header }}</h4>
                            {{ end }}

                            <ul>
                                <!-- Output all aspects as sub-items under the current header -->
                                {{ range $k, $aspect := $aspects }}
                                <li>{{ $aspect.description }}</li>
                                {{ end }}
                            </ul>
                        </li>
                        {{ end }}
                    </ul>
                    {{   end }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>

