---
page:
    view: Lessons

bindings:
- name:     'units'
  resource: '/api/units'
  params:
    limit:  false
    noexpand: true
    sort:
    - title

- name:     'lessons'
  resource: '/api/lessons'
  fallback: []
  params:
    limit: false
    noexpand: true
    q:      'status/published'
---

<section class="content container-fluid lessons-list">
    <h2>
        <i class="fa fa-star"></i>
        Featured Lessons
    </h2>
    <hr/>
    <br/>

    <h2>
    <i class="fa fa-anchor"></i>
    Billion Oyster Project Lessons
    </h2>
    <hr/>
    <br/>

    {{ range $i, $unit := .bindings.units }}
    <h3
        data-toggle="collapse"
        href="#unit{{ $unit._id }}"
        role="button"
        aria-expanded="true"
    >
        <i class="fa-fw {{ or $unit.icon `fa-book` }}"></i>
        {{ $unit.title }}
    </h3>

    <hr />

    <div class="unit-lessons mb-4" id="unit{{ $i }}">
        <div class="card-deck">
        {{ range $j, $lessonID := $unit.lessons }}
        {{   $lesson := (firstByKey $.bindings.lessons `_id` $lessonID) }}
        {{   if $lesson }}
            <div
                class="
                    card
                    {{ if eqx $lesson.status `draft` }}
                    text-white bg-info
                    {{ else if eqx $lesson.status `returned` }}
                    border-danger
                    {{ else if eqx $lesson.status `pending` }}
                    border-primary
                    {{ end }}
                "
            >
                <div class="card-header">
                    {{ if and ($lesson.status) (nex $lesson.status `published`) }}
                    <span>[{{ upper $lesson.status }}]</span>
                    {{ end }}

                    <a href="/lessons/{{ $lesson._id }}">
                        <b>{{ rxreplace $lesson.title (printf "^%s" $unit.title) "" }}</b>
                    </a>
                </div>
                <div class="card-body pt-1">
                    <p class="text-muted">
                        {{ if $lesson.lessonOverview.setting }}
                        <small>
                            <b>{{ $lesson.lessonOverview.setting }}</b> setting
                        </small>
                        {{ end }}

                        {{ if $lesson.lessonOverview.grade }}
                        <small>&nbsp;&nbsp;|&nbsp;&nbsp;</small>
                        <small>
                            <b>{{ $lesson.lessonOverview.grade }}</b> grade
                        </small>
                        {{ end }}
                    </p>

                    {{ if $lesson.lessonOverview.lessonSummary }}
                    <p>
                        {{ elide (stripHtml $lesson.lessonOverview.lessonSummary) 115 }}
                    </p>
                    {{ end }}

                    {{ if $lesson.featuredImage }}
                    <div class="preview">
                        <img src="{{ $lesson.featuredImage.path }}">
                    </div>
                    {{ end }}
                </div>
            </div>
        {{ end }}
        {{ end }}
        </div>
    </div>
    {{ end }}
</section>
